@import "../config";

$l-border-bs: $g-border-bs !default;

// ==================================
.t-border-top,
.t-border-top-bs     { border-top:$l-border-bs !important; }
.t-border-left,
.t-border-left-bs    { border-left:$l-border-bs !important; }
.t-border-right,
.t-border-right-bs   { border-right:$l-border-bs !important; }
.t-border-bottom,
.t-border-bottom-bs  { border-bottom:$l-border-bs !important; }
.t-border,
.t-border-bs         { border:$l-border-bs !important; }
