@import "../config";

$l-display-screen-xs-min:   $g-screen-xs-min !default;
$l-display-screen-sm-min:   $g-screen-sm-min !default;
$l-display-screen-md-min:   $g-screen-md-min !default;
$l-display-screen-lg-min:   $g-screen-lg-min !default;

$l-display-screen-xs-max:   $g-screen-xs-max !default;
$l-display-screen-sm-max:   $g-screen-sm-max !default;
$l-display-screen-md-max:   $g-screen-md-max !default;

// ==================================
.t-hide { display: none !important; }
.t-show { display: block !important; }
.t-invisible { visibility: hidden !important; }
.t-hidden {
  display: none !important;
  visibility: hidden !important; }


@-ms-viewport { width: device-width; }
.t-visible-xs, // Deprecated 
.t-visible-sm, // Deprecated
.t-visible-md, // Deprecated
.t-visible-lg, // Deprecated
//
.t-xs-visible,
.t-sm-visible,
.t-md-visible,
.t-lg-visible {  display: none !important; }


.t-visible-xs-block, // Deprecated
.t-visible-xs-inline, // Deprecated
.t-visible-xs-inline-block, // Deprecated
.t-visible-sm-block, // Deprecated
.t-visible-sm-inline, // Deprecated
.t-visible-sm-inline-block, // Deprecated
.t-visible-md-block, // Deprecated
.t-visible-md-inline, // Deprecated
.t-visible-md-inline-block, // Deprecated
.t-visible-lg-block, // Deprecated
.t-visible-lg-inline, // Deprecated
.t-visible-lg-inline-block, // Deprecated
//
.t-xs-visible-block,
.t-xs-visible-inline,
.t-xs-visible-inlineBlock,
.t-sm-visible-block,
.t-sm-visible-inline,
.t-sm-visible-inlineBlock,
.t-md-visible-block,
.t-md-visible-inline,
.t-md-visible-inlineBlock,
.t-lg-visible-block,
.t-lg-visible-inline,
.t-lg-visible-inlineBlock { display: none !important; }

@media (max-width: $l-display-screen-xs-max) {
  .t-visible-xs, // Deprecated
  .t-xs-visible { display: block !important; }
}

@media (max-width: $l-display-screen-xs-max) {
  .t-visible-xs-block, // Deprecated
  .t-xs-visible-block { display: block !important; }
}

@media (max-width: $l-display-screen-xs-max) {
  .t-visible-xs-inline, // Deprecated
  .t-xs-visible-inline { display: inline !important; }
}

@media (max-width: $l-display-screen-xs-max) {
  .t-visible-xs-inlinBlock, // Deprecated
  .t-xs-visible-inlineBlock { display: inline-block !important; }
}

@media (min-width: $l-display-screen-sm-min) and (max-width: $l-display-screen-sm-max) {
  .t-visible-sm, // Deprecated
  .t-sm-visible { display: block !important; }
}
@media (min-width: $l-display-screen-sm-min) and (max-width: $l-display-screen-sm-max) {
  .t-visible-sm-block, // Deprecated
  .t-sm-visible-block { display: block !important; }
}

@media (min-width: $l-display-screen-sm-min) and (max-width: $l-display-screen-sm-max) {
  .t-visible-sm-inline, // Deprecated
  .t-sm-visible-inline { display: inline !important; }
}

@media (min-width: $l-display-screen-sm-min) and (max-width: $l-display-screen-sm-max) {
  .t-visible-sm-inline-block, // Deprecated
  .t-sm-visible-inlineBlock { display: inline-block !important; }
}

@media (min-width: $l-display-screen-md-min) and (max-width: $l-display-screen-md-max) {
  .t-visible-md, // Deprecated
  .t-md-visible { display: block !important; }
}

@media (min-width: $l-display-screen-md-min) and (max-width: $l-display-screen-md-max) {
  .t-visible-md-block, // Deprecated
  .t-md-visible-block { display: block !important; }
}

@media (min-width: $l-display-screen-md-min) and (max-width: $l-display-screen-md-max) {
  .t-visible-md-inline, // Deprecated
  .t-md-visible-inline { display: inline !important; }
}

@media (min-width: $l-display-screen-md-min) and (max-width: $l-display-screen-md-max) {
  .t-visible-md-inline-block, // Deprecated
  .t-md-visible-inlineBlock { display: inline-block !important; }
}

@media (min-width: $l-display-screen-lg-min) {
  .t-visible-lg, // Deprecated
  .t-lg-visible { display: block !important; }
}
@media (min-width: $l-display-screen-lg-min) {
  .t-visible-lg-block, // Deprecated
  .t-lg-visible-block { display: block !important; }
}

@media (min-width: $l-display-screen-lg-min) {
  .t-visible-lg-inline, // Deprecated
  .t-lg-visible-inline { display: inline !important; }
}

@media (min-width: $l-display-screen-lg-min) {
  .t-visible-lg-inline-block, // Deprecated
  .t-lg-visible-inlineBlock { display: inline-block !important; }
}

@media (max-width: $l-display-screen-xs-max) {
  .t-hidden-xs, // Deprecated
  .t-xs-hidden { display: none !important; }
}

@media (min-width: $l-display-screen-sm-min) and (max-width: $l-display-screen-sm-max) {
  .t-hidden-sm, // Deprecated
  .t-sm-hidden { display: none !important; }
}

@media (min-width: $l-display-screen-md-min) and (max-width: $l-display-screen-md-max) {
  .t-hidden-md, // Deprecated
  .t-md-hidden { display: none !important; }
}

@media (min-width: $l-display-screen-lg-min) {
  .t-hidden-lg, // Deprecated
  .t-lg-hidden { display: none !important; }
}




.t-visible-print, // Deprecated
.t-print-visible { display: none !important; }

@media print {
  .t-visible-print, // Deprecated
  .t-print-visible { display: block !important; }
}

.t-print-visible-block, // Deprecated
.t-visible-print-block { display: none !important; }

@media print {
  .t-print-visible-block, // Deprecated
  .t-visible-print-block { display: block !important; }
}

.t-visible-print-inline, // Deprecated
.t-print-visible-inline { display: none !important; }

@media print {
  .t-visible-print-inline, // Deprecated
  .t-print-visible-inline { display: inline !important; }
}

.t-visible-print-inline-block, // Deprecated
.t-print-visible-inlineBlock { display: none !important; }

@media print {
  .t-visible-print-inline-block, // Deprecated
  .t-print-visible-inlineBlock { display: inline-block !important; }
}

@media print {
  .t-hidden-print, // Deprecated
  .t-print-hidden { display: none !important; }
}
