@import "../config";

$sl-display-screen-xs-min:   $sg-screen-xs-min !default;
$sl-display-screen-sm-min:   $sg-screen-sm-min !default;
$sl-display-screen-md-min:   $sg-screen-md-min !default;
$sl-display-screen-lg-min:   $sg-screen-lg-min !default;

$sl-display-screen-xs-max:   $sg-screen-xs-max !default;
$sl-display-screen-sm-max:   $sg-screen-sm-max !default;
$sl-display-screen-md-max:   $sg-screen-md-max !default;

// ==================================
.t-hide { display: none !important; }
.t-show { display: block !important; }
.t-invisible { visibility: hidden !important; }
.t-hidden {
  display: none !important;
  visibility: hidden !important; }


@-ms-viewport { width: device-width; }

.t-xs-visible,
.t-sm-visible,
.t-md-visible,
.t-lg-visible {  display: none !important; }

.t-xs-visible-block,
.t-xs-visible-inline,
.t-xs-visible-inlineBlock,
.t-sm-visible-block,
.t-sm-visible-inline,
.t-sm-visible-inlineBlock,
.t-md-visible-block,
.t-md-visible-inline,
.t-md-visible-inlineBlock,
.t-lg-visible-block,
.t-lg-visible-inline,
.t-lg-visible-inlineBlock { display: none !important; }

@media (max-width: $sl-display-screen-xs-max) {
  .t-xs-visible { display: block !important; }
}

@media (max-width: $sl-display-screen-xs-max) {
  .t-xs-visible-block { display: block !important; }
}

@media (max-width: $sl-display-screen-xs-max) {
  .t-xs-visible-inline { display: inline !important; }
}

@media (max-width: $sl-display-screen-xs-max) {
  .t-xs-visible-inlineBlock { display: inline-block !important; }
}

@media (min-width: $sl-display-screen-sm-min) and (max-width: $sl-display-screen-sm-max) {
  .t-sm-visible { display: block !important; }
}
@media (min-width: $sl-display-screen-sm-min) and (max-width: $sl-display-screen-sm-max) {
  .t-sm-visible-block { display: block !important; }
}

@media (min-width: $sl-display-screen-sm-min) and (max-width: $sl-display-screen-sm-max) {
  .t-sm-visible-inline { display: inline !important; }
}

@media (min-width: $sl-display-screen-sm-min) and (max-width: $sl-display-screen-sm-max) {
  .t-sm-visible-inlineBlock { display: inline-block !important; }
}

@media (min-width: $sl-display-screen-md-min) and (max-width: $sl-display-screen-md-max) {
  .t-md-visible { display: block !important; }
}

@media (min-width: $sl-display-screen-md-min) and (max-width: $sl-display-screen-md-max) {
  .t-md-visible-block { display: block !important; }
}

@media (min-width: $sl-display-screen-md-min) and (max-width: $sl-display-screen-md-max) {
  .t-md-visible-inline { display: inline !important; }
}

@media (min-width: $sl-display-screen-md-min) and (max-width: $sl-display-screen-md-max) {
  .t-md-visible-inlineBlock { display: inline-block !important; }
}

@media (min-width: $sl-display-screen-lg-min) {
  .t-lg-visible { display: block !important; }
}
@media (min-width: $sl-display-screen-lg-min) {
  .t-lg-visible-block { display: block !important; }
}

@media (min-width: $sl-display-screen-lg-min) {
  .t-lg-visible-inline { display: inline !important; }
}

@media (min-width: $sl-display-screen-lg-min) {
  .t-lg-visible-inlineBlock { display: inline-block !important; }
}

@media (max-width: $sl-display-screen-xs-max) {
  .t-xs-hidden { display: none !important; }
}

@media (min-width: $sl-display-screen-sm-min) and (max-width: $sl-display-screen-sm-max) {
  .t-sm-hidden { display: none !important; }
}

@media (min-width: $sl-display-screen-md-min) and (max-width: $sl-display-screen-md-max) {
  .t-md-hidden { display: none !important; }
}

@media (min-width: $sl-display-screen-lg-min) {
  .t-lg-hidden { display: none !important; }
}


.t-print-visible { display: none !important; }

@media print {
  .t-print-visible { display: block !important; }
}
.t-visible-print-block { display: none !important; }

@media print {
  .t-visible-print-block { display: block !important; }
}
.t-print-visible-inline { display: none !important; }

@media print {
  .t-print-visible-inline { display: inline !important; }
}
.t-print-visible-inlineBlock { display: none !important; }

@media print {
  .t-print-visible-inlineBlock { display: inline-block !important; }
}

@media print {
  .t-print-hidden { display: none !important; }
}
