@import "../config";

$l-gutter-width:           ($g-container-gutter-width / 2);
$l-gutter-screen-xs-min:   $g-screen-xs-min !default;
$l-gutter-screen-sm-min:   $g-screen-sm-min !default;
$l-gutter-screen-md-min:   $g-screen-md-min !default;
$l-gutter-screen-lg-min:   $g-screen-lg-min !default;

// ==================================
.t-gutter-xs-offset, //  legacy
.t-gutter-sm-offset, //  legacy
.t-gutter-md-offset, //  legacy
.t-gutter-lg-offset, //  legacy
.t-xs-gutterReset,
.t-sm-gutterReset,
.t-md-gutterReset,
.t-lg-gutterReset {
  margin-left:-$l-gutter-width;
  margin-right:-$l-gutter-width;
}

.t-gutter-xs-offset, //  legacy
.t-xs-gutterReset {
  @media (min-width: $l-gutter-screen-xs-min) {
    margin-left: 0;
    margin-right: 0;
  }
}
.t-gutter-sm-offset, //  legacy
.t-sm-gutterReset {
  @media (min-width: $l-gutter-screen-sm-min) {
    margin-left: 0;
    margin-right: 0;
  }
}
.t-gutter-md-offset, //  legacy
.t-md-gutterReset {
  @media (min-width: $l-gutter-screen-md-min) {
    margin-left: 0;
    margin-right: 0;
  }
}
.t-gutter-lg-offset, //  legacy
.t-lg-gutterReset {
  @media (min-width: $l-gutter-screen-lg-min) {
    margin-left: 0;
    margin-right: 0;
  }
}
