@import "../config";
@import "../modules/container";


// unit
// container & grid
// ==========================
$sl-gutterReset-screen-xs-min:   $sg-screen-xs-min !default;
$sl-gutterReset-screen-sm-min:   $sg-screen-sm-min !default;
$sl-gutterReset-screen-md-min:   $sg-screen-md-min !default;
$sl-gutterReset-screen-lg-min:   $sg-screen-lg-min !default;

// ==================================
.t-gutterReset,
.t-xs-gutterReset,
.t-sm-gutterReset,
.t-md-gutterReset,
.t-lg-gutterReset {
  margin-left:-$sg-Container-gutter-width;
  margin-right:-$sg-Container-gutter-width;
}

@media (min-width: $sl-gutterReset-screen-xs-min) {
  .t-xs-gutterReset {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: $sl-gutterReset-screen-sm-min) {
  .t-sm-gutterReset {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: $sl-gutterReset-screen-md-min) {
  .t-md-gutterReset {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: $sl-gutterReset-screen-lg-min) {
  .t-lg-gutterReset {
    margin-left: 0;
    margin-right: 0;
  }
}
