@import "../config";
@import "../modules/container";


// unit
// container & grid
// ==========================
$_gutterReset-screen-xs-min:   $screen-xs-min !default;
$_gutterReset-screen-sm-min:   $screen-sm-min !default;
$_gutterReset-screen-md-min:   $screen-md-min !default;
$_gutterReset-screen-lg-min:   $screen-lg-min !default;

// ==================================
.t-gutterReset,
.t-xs-gutterReset,
.t-sm-gutterReset,
.t-md-gutterReset,
.t-lg-gutterReset {
  margin-left:-($_Container-gutter-width / 2);
  margin-right:-($_Container-gutter-width / 2);
}

@media (min-width: $_gutterReset-screen-xs-min) {
  .t-xs-gutterReset {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: $_gutterReset-screen-sm-min) {
  .t-sm-gutterReset {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: $_gutterReset-screen-md-min) {
  .t-md-gutterReset {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: $_gutterReset-screen-lg-min) {
  .t-lg-gutterReset {
    margin-left: 0;
    margin-right: 0;
  }
}
