@import "../config";

$_img-round-borderRadius : $borderRadius-bs !default;

// ==================================
.t-imgFull {
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.t-imgInline { display: inline !important; }
.t-imgRound  { border-radius: $_img-round-borderRadius !important; }
.t-imgCircle { border-radius: 50% !important; }
