@import "../config";

$l-img-round-border-radius : $g-border-radius-bs !default;

// ==================================
.img-full, //  legacy
.t-imgFull {
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.t-imgInline {
  display: inline;
}

.img-round, //  legacy
.t-imgRound {
  border-radius: $l-img-round-border-radius;
}

.img-circle //  legacy
.t-imgCircle {
  border-radius: 50%;
}
