.t-clear {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after { clear: both; }
}

.t-center {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.t-right        { float: right !important; }
.t-left         { float: left !important; }

.t-block        { display:block !important; }
.t-inline       { display:inline !important; }
.t-inline-block,
.t-inlineBlock  { display:inline-block !important; }

.t-table        { display:table !important; }
.t-table > .t-table-cell,
.t-table > .t-tableCell {
  float: none !important;
  display:table-cell !important;
  vertical-align: middle !important;
}