.t-clearfix,
.t-clear {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after { clear: both; }
}

.t-center-block,
.t-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.t-float-right,
.t-right  { float: right !important; }
.t-float-left,
.t-left   { float: left !important; }

.t-block        { display:block !important; }
.t-inline       { display:inline !important; }
.t-inline-block,
.t-inlineBlock { display:inline-block !important; }

.t-table { display:table !important; }
.t-table-cell {
  float: none !important;
  display:table-cell !important;
  vertical-align: middle !important;
}

.t-align-top,
.t-top    { vertical-align:top !important; }
.t-align-middle,
.t-middle { vertical-align:middle !important; }
.t-align-bottom,
.t-bottom { vertical-align:bottom !important; }
