.t-opacity-80             { opacity:.8 !important; }
.t-opacity-60             { opacity:.6 !important; }
.t-opacity-40             { opacity:.4 !important; }
.t-opacity-20             { opacity:.2 !important; }
.t-opacity-0,
.t-opacity-00             { opacity:0 !important; }