@import "../config";

// space (margin & padding)
// ==========================
$_space-mn : $space-mn !default;
$_space-xs : $space-xs !default;
$_space-sm : $space-sm !default;
$_space-bs : $space-bs !default;
$_space-lg : $space-lg !default;
$_space-xl : $space-xl !default;
$_space-mg : $space-mg !default;
$_space-hg : $space-hg !default;

// ==================================
// margin all
.t-ma-00   { margin:0 !important; }
.t-ma-mn   { margin:$_space-mn !important; }
.t-ma-xs   { margin:$_space-xs !important; }
.t-ma-sm   { margin:$_space-sm !important; }
.t-ma-bs   { margin:$_space-bs !important; }
.t-ma-lg   { margin:$_space-lg !important; }
.t-ma-xl   { margin:$_space-xl !important; }
.t-ma-mg   { margin:$_space-mg !important; }
.t-ma-hg   { margin:$_space-hg !important; }

// margin-top
.t-mt-00   { margin-top:0 !important; }
.t-mt-mn   { margin-top:$_space-mn !important; }
.t-mt-xs   { margin-top:$_space-xs !important; }
.t-mt-sm   { margin-top:$_space-sm !important; }
.t-mt-bs   { margin-top:$_space-bs !important; }
.t-mt-lg   { margin-top:$_space-lg !important; }
.t-mt-xl   { margin-top:$_space-xl !important; }
.t-mt-mg   { margin-top:$_space-mg !important; }
.t-mt-hg   { margin-top:$_space-hg !important; }

// margin-bottom
.t-mb-00   { margin-bottom:0 !important; }
.t-mb-mn   { margin-bottom:$_space-mn !important; }
.t-mb-xs   { margin-bottom:$_space-xs !important; }
.t-mb-sm   { margin-bottom:$_space-sm !important; }
.t-mb-bs   { margin-bottom:$_space-bs !important; }
.t-mb-lg   { margin-bottom:$_space-lg !important; }
.t-mb-xl   { margin-bottom:$_space-xl !important; }
.t-mb-mg   { margin-bottom:$_space-mg !important; }
.t-mb-hg   { margin-bottom:$_space-hg !important; }

// margin-left
// .t-ml-00   { margin-left:0 !important; }
// .t-ml-mn   { margin-left:$_space-mn !important; }
// .t-ml-xs   { margin-left:$_space-xs !important; }
// .t-ml-sm   { margin-left:$_space-sm !important; }
// .t-ml-bs   { margin-left:$_space-bs !important; }
// .t-ml-lg   { margin-left:$_space-lg !important; }
// .t-ml-xl   { margin-left:$_space-xl !important; }
// .t-ml-mg   { margin-left:$_space-mg !important; }
// .t-ml-hg   { margin-left:$_space-hg !important; }

// margin-right
// .t-mr-00   { margin-right:0 !important; }
// .t-mr-mn   { margin-roght:$_space-mn !important; }
// .t-mr-xs   { margin-roght:$_space-xs !important; }
// .t-mr-sm   { margin-roght:$_space-sm !important; }
// .t-mr-bs   { margin-roght:$_space-bs !important; }
// .t-mr-lg   { margin-roght:$_space-lg !important; }
// .t-mr-xl   { margin-roght:$_space-xl !important; }
// .t-mr-mg   { margin-roght:$_space-mg !important; }
// .t-mr-hg   { margin-roght:$_space-hg !important; }

// ==================================
// padding all
.t-pa-00   { padding:0 !important; }
.t-pa-mn   { padding:$_space-mn !important; }
.t-pa-xs   { padding:$_space-xs !important; }
.t-pa-sm   { padding:$_space-sm !important; }
.t-pa-bs   { padding:$_space-bs !important; }
.t-pa-lg   { padding:$_space-lg !important; }
.t-pa-xl   { padding:$_space-xl !important; }
.t-pa-mg   { padding:$_space-mg !important; }
.t-pa-hg   { padding:$_space-hg !important; }

// padding-top
.t-pt-00   { padding-top:0 !important; }
.t-pt-mn   { padding-top:$_space-mn !important; }
.t-pt-xs   { padding-top:$_space-xs !important; }
.t-pt-sm   { padding-top:$_space-sm !important; }
.t-pt-bs   { padding-top:$_space-bs !important; }
.t-pt-lg   { padding-top:$_space-lg !important; }
.t-pt-xl   { padding-top:$_space-xl !important; }
.t-pt-mg   { padding-top:$_space-mg !important; }
.t-pt-hg   { padding-top:$_space-hg !important; }

// padding-bottom
.t-pb-00   { padding-bottom:0 !important; }
.t-pb-mn   { padding-bottom:$_space-mn !important; }
.t-pb-xs   { padding-bottom:$_space-xs !important; }
.t-pb-sm   { padding-bottom:$_space-sm !important; }
.t-pb-bs   { padding-bottom:$_space-bs !important; }
.t-pb-lg   { padding-bottom:$_space-lg !important; }
.t-pb-xl   { padding-bottom:$_space-xl !important; }
.t-pb-mg   { padding-bottom:$_space-mg !important; }
.t-pb-hg   { padding-bottom:$_space-hg !important; }

// padding-left
// .t-pl-00   { padding-left:0 !important; }
// .t-pl-mn   { padding-left:$_space-mn !important; }
// .t-pl-xs   { padding-left:$_space-xs !important; }
// .t-pl-sm   { padding-left:$_space-sm !important; }
// .t-pl-bs   { padding-left:$_space-bs !important; }
// .t-pl-lg   { padding-left:$_space-lg !important; }
// .t-pl-xl   { padding-left:$_space-xl !important; }
// .t-pl-mg   { padding-left:$_space-mg !important; }
// .t-pl-hg   { padding-left:$_space-hg !important; }

// padding-right
// .t-pr-00   { padding-right:0 !important; }
// .t-pr-mn   { padding-right:$_space-mn !important; }
// .t-pr-xs   { padding-right:$_space-xs !important; }
// .t-pr-sm   { padding-right:$_space-sm !important; }
// .t-pr-bs   { padding-right:$_space-bs !important; }
// .t-pr-lg   { padding-right:$_space-lg !important; }
// .t-pr-xl   { padding-right:$_space-xl !important; }
// .t-pr-mg   { padding-right:$_space-mg !important; }
// .t-pr-hg   { padding-right:$_space-hg !important; }
