@import "../config";

$l-ttypo-font-family-sans-en:      $g-font-family-sans-en !default;
$l-ttypo-font-family-sans-ja:      $g-font-family-sans-ja !default;
$l-ttypo-font-family-serif-en:     $g-font-family-serif-en !default;
$l-ttypo-font-family-serif-ja:     $g-font-family-serif-ja !default;
$l-ttypo-font-family-monospace-en: $g-font-family-monospace-en !default;
$l-ttypo-font-family-monospace-ja: $g-font-family-monospace-ja !default;

$l-ttypo-letter-space-xl : $g-letter-space-xl !default;
$l-ttypo-letter-space-lg : $g-letter-space-lg !default;
$l-ttypo-letter-space-bs : $g-letter-space-bs !default;
$l-ttypo-letter-space-sm : $g-letter-space-sm !default;
$l-ttypo-letter-space-xs : $g-letter-space-xs !default;

$l-ttypo-line-height-xl : $g-line-height-xl !default;
$l-ttypo-line-height-lg : $g-line-height-lg !default;
$l-ttypo-line-height-bs : $g-line-height-bs !default;
$l-ttypo-line-height-sm : $g-line-height-sm !default;
$l-ttypo-line-height-xs : $g-line-height-xs !default;

// ==================================
.t-normal         { font-weight: normal !important; }
.t-bold           { font-weight: bold !important; }
.t-italic         { font-style: italic !important; }

.t-align-left,   // Deprecated
.t-alignLeft     { text-align: left !important; }
.t-align-right,  // Deprecated
.t-alignRight    { text-align: right !important; }
.t-align-center,  // Deprecated
.t-alignCenter   { text-align: center !important; }
.t-align-justify,// Deprecated
.t-alignJustify  { text-align: justify !important; }

.t-align-top,    // Deprecated
.t-alignTop      { vertical-align:top !important; }
.t-align-middle, // Deprecated
.t-alignMiddle   { vertical-align:middle !important; }
.t-align-bottom,  // Deprecated
.t-alignBottom   { vertical-align:bottom !important; }

.t-lowercase      { text-transform: lowercase !important; }
.t-uppercase      { text-transform: uppercase !important; }
.t-capitalize     { text-transform: capitalize !important; }

.t-nowrap         { white-space: nowrap !important; }

.t-typo-hide {
  font: #{0/0} a !important;
  color: transparent !important;
  text-shadow: none !important;
  background-color: transparent !important;
  border: 0 !important;
}

.t-en-sans,     // Deprecated
.t-enSans      { font-family: $l-ttypo-font-family-sans-en !important; }
.t-ja-sans,     // Deprecated
.t-jaSans      { font-family: $l-ttypo-font-family-sans-ja !important; }
.t-en-serif,    // Deprecated
.t-enSerif     { font-family: $l-ttypo-font-family-serif-en !important; }
.t-ja-serif,    // Deprecated
.t-jaSerif     { font-family: $l-ttypo-font-family-serif-ja !important; }
.t-en-monospace,// Deprecated
.t-enMonospace { font-family: $l-ttypo-font-family-monospace-en !important; }
.t-ja-monospace,// Deprecated
.t-jaMonospace { font-family: $l-ttypo-font-family-monospace-ja !important; }


.t-letter-sapce-xs, // Deprecated
.t-letterSapce-xs,  // Deprecated
.t-ls-xs            { letter-spacing:$l-ttypo-letter-space-xs !important; }

.t-letter-sapce-sm, // Deprecated
.t-letterSapce-sm,  // Deprecated
.t-ls-sm            { letter-spacing:$l-ttypo-letter-space-sm !important; }

.t-letter-sapce-bs, // Deprecated
.t-letterSapce-bs,  // Deprecated
.t-ls-bs            { letter-spacing:$l-ttypo-letter-space-bs !important; }

.t-letter-sapce-lg, // Deprecated
.t-letterSapce-lg,  // Deprecated
.t-ls-lg            { letter-spacing:$l-ttypo-letter-space-lg !important; }

.t-letter-sapce-xl, // Deprecated
.t-letterSapce-xl,  // Deprecated
.t-ls-xl            { letter-spacing:$l-ttypo-letter-space-xl !important; }


.t-line-height-xs,  // Deprecated
.t-lineHeight-xs,   // Deprecated
.t-lh-xs            { line-height:$l-ttypo-line-height-xs !important; }

.t-line-height-sm,  // Deprecated
.t-lineHeight-sm,   // Deprecated
.t-lh-sm            { line-height:$l-ttypo-line-height-sm !important; }

.t-line-height-bs,  // Deprecated
.t-lineHeight-bs,   // Deprecated
.t-lh-bs            { line-height:$l-ttypo-line-height-bs !important; }

.t-line-height-lg,  // Deprecated
.t-lineHeight-lg,   // Deprecated
.t-lh-lg            { line-height:$l-ttypo-line-height-lg !important; }

.t-line-height-xl,  // Deprecated
.t-lineHeight-xl,   // Deprecated
.t-lh-xl            { line-height:$l-ttypo-line-height-xl !important; }
