@import "../config";

$_width-screen-xs-min: $screen-xs-min !default;
$_width-screen-sm-min: $screen-sm-min !default;
$_width-screen-md-min: $screen-md-min !default;
$_width-screen-lg-min: $screen-lg-min !default;

//=====================
.t-width1of16  { width: 6.25% !important; }
.t-width2of16  { width: 12.5% !important; }
.t-width3of16  { width: 18.75% !important; }
.t-width4of16  { width: 25% !important; }
.t-width5of16  { width: 31.25% !important; }
.t-width6of16  { width: 37.5% !important; }
.t-width7of16  { width: 43.75% !important; }
.t-width8of16  { width: 50% !important; }
.t-width9of16  { width: 56.25% !important; }
.t-width10of16 { width: 62.5% !important; }
.t-width11of16 { width: 68.75% !important; }
.t-width12of16 { width: 75% !important; }
.t-width13of16 { width: 81.25% !important; }
.t-width14of16 { width: 87.5% !important; }
.t-width15of16 { width: 93.75% !important; }
.t-width16of16 { width: 100% !important; }

@media (min-width: $_width-screen-xs-min) {
  .t-xs-width1of16  { width: 6.25% !important; }
  .t-xs-width2of16  { width: 12.5% !important; }
  .t-xs-width3of16  { width: 18.75% !important; }
  .t-xs-width4of16  { width: 25% !important; }
  .t-xs-width5of16  { width: 31.25% !important; }
  .t-xs-width6of16  { width: 37.5% !important; }
  .t-xs-width7of16  { width: 43.75% !important; }
  .t-xs-width8of16  { width: 50% !important; }
  .t-xs-width9of16  { width: 56.25% !important; }
  .t-xs-width10of16 { width: 62.5% !important; }
  .t-xs-width11of16 { width: 68.75% !important; }
  .t-xs-width12of16 { width: 75% !important; }
  .t-xs-width13of16 { width: 81.25% !important; }
  .t-xs-width14of16 { width: 87.5% !important; }
  .t-xs-width15of16 { width: 93.75% !important; }
  .t-xs-width16of16 { width: 100% !important; }
}

@media (min-width: $_width-screen-sm-min) {
  .t-sm-width1of16  { width: 6.25% !important; }
  .t-sm-width2of16  { width: 12.5% !important; }
  .t-sm-width3of16  { width: 18.75% !important; }
  .t-sm-width4of16  { width: 25% !important; }
  .t-sm-width5of16  { width: 31.25% !important; }
  .t-sm-width6of16  { width: 37.5% !important; }
  .t-sm-width7of16  { width: 43.75% !important; }
  .t-sm-width8of16  { width: 50% !important; }
  .t-sm-width9of16  { width: 56.25% !important; }
  .t-sm-width10of16 { width: 62.5% !important; }
  .t-sm-width11of16 { width: 68.75% !important; }
  .t-sm-width12of16 { width: 75% !important; }
  .t-sm-width13of16 { width: 81.25% !important; }
  .t-sm-width14of16 { width: 87.5% !important; }
  .t-sm-width15of16 { width: 93.75% !important; }
  .t-sm-width16of16 { width: 100% !important; }
}

@media (min-width: $_width-screen-md-min) {
  .t-md-width1of16  { width: 6.25% !important; }
  .t-md-width2of16  { width: 12.5% !important; }
  .t-md-width3of16  { width: 18.75% !important; }
  .t-md-width4of16  { width: 25% !important; }
  .t-md-width5of16  { width: 31.25% !important; }
  .t-md-width6of16  { width: 37.5% !important; }
  .t-md-width7of16  { width: 43.75% !important; }
  .t-md-width8of16  { width: 50% !important; }
  .t-md-width9of16  { width: 56.25% !important; }
  .t-md-width10of16 { width: 62.5% !important; }
  .t-md-width11of16 { width: 68.75% !important; }
  .t-md-width12of16 { width: 75% !important; }
  .t-md-width13of16 { width: 81.25% !important; }
  .t-md-width14of16 { width: 87.5% !important; }
  .t-md-width15of16 { width: 93.75% !important; }
  .t-md-width16of16 { width: 100% !important; }
}

@media (min-width: $_width-screen-lg-min) {
  .t-lg-width1of16  { width: 6.25% !important; }
  .t-lg-width2of16  { width: 12.5% !important; }
  .t-lg-width3of16  { width: 18.75% !important; }
  .t-lg-width4of16  { width: 25% !important; }
  .t-lg-width5of16  { width: 31.25% !important; }
  .t-lg-width6of16  { width: 37.5% !important; }
  .t-lg-width7of16  { width: 43.75% !important; }
  .t-lg-width8of16  { width: 50% !important; }
  .t-lg-width9of16  { width: 56.25% !important; }
  .t-lg-width10of16 { width: 62.5% !important; }
  .t-lg-width11of16 { width: 68.75% !important; }
  .t-lg-width12of16 { width: 75% !important; }
  .t-lg-width13of16 { width: 81.25% !important; }
  .t-lg-width14of16 { width: 87.5% !important; }
  .t-lg-width15of16 { width: 93.75% !important; }
  .t-lg-width16of16 { width: 100% !important; }
}
