@import "../config";

$l-width-screen-xs-min: $g-screen-xs-min !default;
$l-width-screen-sm-min: $g-screen-sm-min !default;
$l-width-screen-md-min: $g-screen-md-min !default;
$l-width-screen-lg-min: $g-screen-lg-min !default;

//====================
.t-width1of10  { width: 10% !important; 
.t-width2of10  { width: 20% !important; 
.t-width3of10  { width: 30% !important; 
.t-width4of10  { width: 40% !important; 
.t-width5of10  { width: 50% !important; 
.t-width6of10  { width: 60% !important; 
.t-width7of10  { width: 70% !important; 
.t-width8of10  { width: 80% !important; 
.t-width9of10  { width: 90% !important; 
.t-width10of10 { width: 100% !important; }

@media (min-width: $l-width-screen-xs-min) {
  .t-xs-width1of10  { width: 10% !important; }
  .t-xs-width2of10  { width: 20% !important; }
  .t-xs-width3of10  { width: 30% !important; }
  .t-xs-width4of10  { width: 40% !important; }
  .t-xs-width5of10  { width: 50% !important; }
  .t-xs-width6of10  { width: 60% !important; }
  .t-xs-width7of10  { width: 70% !important; }
  .t-xs-width8of10  { width: 80% !important; }
  .t-xs-width9of10  { width: 90% !important; }
  .t-xs-width10of10 { width: 100% !important; }
}

@media (min-width: $l-width-screen-sm-min) {
  .t-sm-width1of10  { width: 10% !important; }
  .t-sm-width2of10  { width: 20% !important; }
  .t-sm-width3of10  { width: 30% !important; }
  .t-sm-width4of10  { width: 40% !important; }
  .t-sm-width5of10  { width: 50% !important; }
  .t-sm-width6of10  { width: 60% !important; }
  .t-sm-width7of10  { width: 70% !important; }
  .t-sm-width8of10  { width: 80% !important; }
  .t-sm-width9of10  { width: 90% !important; }
  .t-sm-width10of10 { width: 100% !important; }
}

@media (min-width: $l-width-screen-md-min) {
  .t-md-width1of10  { width: 10% !important; }
  .t-md-width2of10  { width: 20% !important; }
  .t-md-width3of10  { width: 30% !important; }
  .t-md-width4of10  { width: 40% !important; }
  .t-md-width5of10  { width: 50% !important; }
  .t-md-width6of10  { width: 60% !important; }
  .t-md-width7of10  { width: 70% !important; }
  .t-md-width8of10  { width: 80% !important; }
  .t-md-width9of10  { width: 90% !important; }
  .t-md-width10of10 { width: 100% !important; }
}

@media (min-width: $l-width-screen-lg-min) {
  .t-lg-width1of10  { width: 10% !important; }
  .t-lg-width2of10  { width: 20% !important; }
  .t-lg-width3of10  { width: 30% !important; }
  .t-lg-width4of10  { width: 40% !important; }
  .t-lg-width5of10  { width: 50% !important; }
  .t-lg-width6of10  { width: 60% !important; }
  .t-lg-width7of10  { width: 70% !important; }
  .t-lg-width8of10  { width: 80% !important; }
  .t-lg-width9of10  { width: 90% !important; }
  .t-lg-width10of10 { width: 100% !important; }
}
