@import "../config";

$l-width-grid-columns:  $g-grid-columns !default;
$l-width-screen-xs-min: $g-screen-xs-min !default;
$l-width-screen-sm-min: $g-screen-sm-min !default;
$l-width-screen-md-min: $g-screen-md-min !default;
$l-width-screen-lg-min: $g-screen-lg-min !default;

//=====================

@mixin make-grid($screen: xs , $columns : $l-width-grid-columns) {
  @include each-grid-width($screen, $columns);
}
@mixin each-grid-width($screen, $columns) {
  @for $i from 0 through $columns {
    @include grid-width($i, $screen, $columns);
  }
}
@mixin grid-width($index, $screen, $columns, $list: ".t-#{$screen}-#{$index}of#{$columns}") {
  @if ($index > 0) {
    #{$list} {
      width: percentage(($index / $columns)) !important;
    }
  }
}

// ==================================
@include make-grid(bs, $l-width-grid-columns);

@media (min-width: $l-width-screen-xs-min) {
  @include make-grid(xs, $l-width-grid-columns);
}

@media (min-width: $l-width-screen-sm-min) {
  @include make-grid(sm, $l-width-grid-columns);
}

@media (min-width: $l-width-screen-md-min) {
  @include make-grid(md, $l-width-grid-columns);
}

@media (min-width: $l-width-screen-lg-min) {
  @include make-grid(lg, $l-width-grid-columns);
}
