@font-face {
  font-family: 'TeXGyreAdventor-Bold';
  src: url('font/TeXGyreAdventor-Bold.eot?#iefix') format('embedded-opentype'),
       url('font/TeXGyreAdventor-Bold.otf')  format('opentype'),
	     url('font/TeXGyreAdventor-Bold.woff') format('woff'), url('font/TeXGyreAdventor-Bold.ttf')  format('truetype'), url('font/TeXGyreAdventor-Bold.svg#TeXGyreAdventor-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {}

.H0,.H1,.H2,.H3,.H4,.H5,.H6,
h1,h2,h3,h4,h5,h6 {
  font-family: 'TeXGyreAdventor-Bold';
  letter-spacing:-.03em;
  color:#6c7b88;
}
p {
  /*font-family:'Roboto';*/
}
s {
  color:rgba(108,123,126, .5);
}
section,
header,
footer {
  padding-top:6rem;
  padding-bottom:3.6rem;
  border-bottom:1px solid #ddd;
}

::selection {
  background: #fff14f;
}


/**/

.docs-Section { }
.docs-Section-num {
  color:rgba(108,123,126, .5);
  font-family:'TeXGyreAdventor-Bold';
  font-size:7.2rem;
  letter-spacing:-.03em;
  line-height:70%;
  margin:0;
}

.docs-hr {
  width:280px;
  /*margin-left:auto;*/
  margin-right:auto;
  margin-top:6rem;
  margin-bottom:6rem;
  border-top:1px solid #ddd;
}


/**/
.docs-Masthead {
  padding-top:12rem;
  padding-bottom:10rem;
  width:100%;
}
.docs-Masthead-title {
  font-size:8.6rem;
  margin-bottom:1.2rem;
  margin-top:0;
}
.docs-Masthead-lead {
  font-size:2.4rem;
}
.docs-Masthead-author {
  font-size:1.2rem;
}
.docs-Masthead-author a {
  text-decoration:none;
}



.docs-Footer {}
.docs-Footer-list {
  font-size:1.4rem;
}
.docs-Footer-list a {
  text-decoration:none;
}
.docs-Footer-credit {
  font-size:1.2rem;
}


.icon-blivesta {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  vertical-align:middle;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%09%3Cpath%20d%3D%22M8.773%2C0L4.781%2C3.991l3.993%2C3.991l-4.01%2C4.009L8.773%2C16H16V0H8.773z%20M12.398%2C13.703l-2.017-2.016l2.017-2.016l2.016%2C2.016%0A%09L12.398%2C13.703z%20M12.398%2C6.259l-2.017-2.016l2.017-2.016l2.016%2C2.016L12.398%2C6.259z%22/%3E%0A%3C/svg%3E");
  background-size: 1.2rem;
}
