.test-Container,
.test-Row {
  margin-bottom: 3rem;
  background: rgba(248,248,248,1);
}
.test-Row-Container h3,
.test-Container h3 {
  margin-bottom: 1em;
}

.test-Row-col,
.test-block {
  background: rgba(221,221,221,.6);
}
.test-Row-col:nth-child(even),
.test-block:nth-child(even) {
  background: rgba(221,221,221,1);
}


/* Container ============== */
.test-Container {
  border:.1rem solid #ddd;
}
.test-Container-nest {
  margin-bottom: 3rem;
  background: rgba(70,70,70,.1);
}

/* Row ============== */
.test-Row-col {
  padding:2rem;
}
.test-Row-col--height {
  height:12rem;
}
