.test-row-col,
.test-block,
.test-container {
  background-color: rgba(0,0,0,.2);
  border: 1px solid rgba(0,0,0,.6);
}
.test-row-col:nth-child(even),
.test-block:nth-child(even) {
  background-color: rgba(0,0,0,.4);
}
.test-row-col--height,
.test-height-60 {
  height:60px;
}
.test-height-120 {
  height:120px;
}
