/* carbon */
.carbon {
  position:fixed;
  bottom:0px;
  right:0px;
  background-color: rgba(255,255,255,.8);
  border-top:1px solid var(--doc-border-bolor);
  border-left:1px solid var(--doc-border-bolor);
  padding: 15px;
  width: 160px;
  text-align: left !important;
  font-size:12px;
  margin:0;
  min-height:130px;
}
.carbon-img {
  float:left;
  width:145px;
  img {
    margin-bottom:15px;
  }
}
.carbon-poweredby{
  margin-top:10px;
  display:block;
}
