/*
 * sircus-tools-oveflow
 ================================================== */
.t-overflowScroll  { overflow: scroll; }
.t-overflow        { overflow: auto; }
.t-overflowHidden  { overflow: hidden; }
.t-overflowX {
  overflow-x: auto;
  overflow-y: hidden;
}
.t-overflowY {
  overflow-x: hidden;
  overflow-y: auto;
}
