@import "../config";

// container & grid
// ==========================
$sl-Container-gutter-width:    $sg-Container-gutter-width !default;
$sl-Container-wsm-width:        $sg-Container-wsm-width !default;
$sl-Container-wmd-width:        $sg-Container-wmd-width !default;
$sl-Container-wlg-width:        $sg-Container-wlg-width !default;
$sl-Container-screen-wxs-min:   $sg-Container-screen-wxs-min !default;
$sl-Container-screen-wsm-min:   $sg-Container-screen-wsm-min !default;
$sl-Container-screen-wmd-min:   $sg-Container-screen-wmd-min !default;
$sl-Container-screen-wlg-min:   $sg-Container-screen-wlg-min !default;

// ==================================
.Container {
  box-sizing:border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: $sl-Container-gutter-width;
  padding-right: $sl-Container-gutter-width;
}

.Container--slim { max-width: $sl-Container-wsm-width; }

@media (min-width: $sl-Container-screen-wsm-min) {
  .Container--responsive { width: $sl-Container-wsm-width; }
}
@media (min-width: $sl-Container-screen-wmd-min) {
  .Container--responsive { width: $sl-Container-wmd-width; }
}
@media (min-width: $sl-Container-screen-wlg-min) {
  .Container--responsive { width: $sl-Container-wlg-width; }
}
