@import "../config";

// .is-success
$sl-Form-success-typoColor:       $sg-color-success !default;
$sl-Form-success-bgColor:         $sg-color-success !default;
$sl-Form-success-borderColor:     $sg-color-success !default;
$sl-Form-success-focus:           $sg-color-success !default;

// .is-notice
$sl-Form-notice-typoColor:        $sg-color-notice !default;
$sl-Form-notice-bgColor:          $sg-color-notice !default;
$sl-Form-notice-borderColor:      $sg-color-notice !default;
$sl-Form-notice-focus:            $sg-color-notice !default;

// .is-warning
$sl-Form-warning-typoColor:       $sg-color-warning !default;
$sl-Form-warning-bgColor:         $sg-color-warning !default;
$sl-Form-warning-borderColor:     $sg-color-warning !default;
$sl-Form-warning-focus:           $sg-color-warning !default;

// .is-error
$sl-Form-error-typoColor:         $sg-color-error !default;
$sl-Form-error-bgColor:           $sg-color-error !default;
$sl-Form-error-borderColor:       $sg-color-error !default;
$sl-Form-error-focus:             $sg-color-error !default;


// .is-success
// ==================================
.Input.is-success,
.Select.is-success {
  background-color:lighten($sl-Form-success-bgColor,55);
  border-color: $sl-Form-success-borderColor;
  color:$sl-Form-success-typoColor;
}
.Input.is-success.is-focus,
.Select.is-success.is-focus,
.Input.is-success:focus,
.Select.is-success:focus {
  border: $sl-Form-borderSize solid $sl-Form-success-focus;
  box-shadow: inset 0 1px 1px rgba($sl-Form-success-focus,.4),0 0 8px rgba($sl-Form-success-focus,.4);
}

// .is-notice
// ==================================
.Input.is-notice,
.Select.is-notice {
  background-color:lighten($sl-Form-notice-bgColor,25);
  border-color: $sl-Form-notice-borderColor;
  color:$sl-Form-notice-typoColor;
}
.Input.is-notice.is-focus,
.Select.is-notice.is-focus,
.Input.is-notice:focus,
.Select.is-notice:focus {
  border: $sl-Form-borderSize solid $sl-Form-notice-focus;
  box-shadow: inset 0 1px 1px rgba($sl-Form-notice-focus,.6),0 0 8px rgba($sl-Form-notice-focus,.6);
}

  // .is-warning
// ==================================
.Input.is-warning,
.Select.is-warning {
  background-color:lighten($sl-Form-warning-bgColor,40);
  border-color: $sl-Form-warning-borderColor;
  color:$sl-Form-warning-typoColor;
}
.Input.is-warning.is-focus,
.Select.is-warning.is-focus,
.Input.is-warning:focus,
.Select.is-warning:focus {
  border: $sl-Form-borderSize solid $sl-Form-warning-focus;
  box-shadow: inset 0 1px 1px rgba($sl-Form-warning-focus,.6),0 0 8px rgba($sl-Form-warning-focus,.6);
}

// .is-error
// ==================================
.Input.is-error,
.Select.is-error {
  background-color:lighten($sl-Form-error-bgColor,35);
  border-color: $sl-Form-error-borderColor;
  color:$sl-Form-error-typoColor;
}
.Input.is-error.is-focus,
.Select.is-error.is-focus,
.Input.is-error:focus,
.Select.is-error:focus {
  border: $sl-Form-borderSize solid $sl-Form-error-focus;
  box-shadow: inset 0 1px 1px rgba($sl-Form-error-focus,.4),0 0 8px rgba($sl-Form-error-focus,.4);
}
