@import "../config";

$sl-Table-margin:            $sg-space-bs !default;
$sl-Table-padding:           1rem !default;
$sl-Table-border-color:      $sg-color-gray-light !default;

// ==================================
.Table {
  width: 100%;
  max-width: 100%;
  padding:0;
  margin:0 0 $sl-Table-margin 0;
  border-collapse:collapse;
  text-align: left;
}
.Table tr > th,
.Table tr > td {
  padding:$sl-Table-padding;
  border-top:.1rem solid $sl-Table-border-color;
}
.Table > thead > tr > th,
.Table > thead > tr > td {
  border-top:0;
  border-bottom:.2rem solid $sl-Table-border-color;
}
.Table > tfoot > tr > th,
.Table > tfoot > tr > td {
  border-top:.2rem solid $sl-Table-border-color;
}
