/*ã€€FullEmbed
======================================== */
.FullEmbed {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.FullEmbed > .FullEmbed-item,
.FullEmbed > iframe,
.FullEmbed > embed,
.FullEmbed > object,
.FullEmbed > video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

.FullEmbed--16by9 { padding-bottom: 56.25%; }
.FullEmbed--4by3  { padding-bottom: 75%; }
.FullEmbed--3by1  { padding-bottom: 33.33333333333333%; }
.FullEmbed--2by1  { padding-bottom: 50%; }
