{{ partial "head.html" . }}

<div class="test-Feild">
  <div class="Container t-pt-00">

    <h2 class="test-Title u-mt-00">Core</h2>
    <ul>
      <li><s>config</s></li>
      <li><s>elements</s></li>
    </ul>

    <h2 class="test-Title u-mt-00">Parts</h2>
    <ul>
      <li><a href="./parts/buttons">Buttons</a></li>
      <li><a href="./parts/form">Forms</a></li>
      <li><a href="./parts/image">Images</a></li>
      <li><a href="./parts/table">Table</a></li>
      <li><a href="./parts/typography">typography</a></li>
    </ul>

    <h2 class="test-Title">Tools</h2>
    <ul>
      <li><a href="./tools/border">Border</a></li>
      <li><a href="./tools/layout">Layout</a></li>
      <li><a href="./tools/typography">typography</a></li>

      <li><a href="./tools/display">display (Responsive)</a></li>
      <li><a href="#"><s>gutter (Responsive)</s></a></li>
      <li><a href="#"><s>spacing (Responsive)</s></a></li>
      <li><a href="./tools/width">width (Responsive)</a></li>
    </ul>

    <h2 class="test-Title">Components</h2>
    <ul>
      <li><a href="./container">Container</a></li>
      <li><a href="./grid">Grid</a></li>
      <li><a href="./full-embed">FullEmbed</a></li>
    </ul>

    {{ partial "sns.html" . }}
  </div>
</div>
{{ partial "footer.html" . }}
</body>
</html>
