{{ partial "head.html" . }}

<div class="Container t-pt-00">

  <h2 class="test-Title">Parts</h2>
  <ul>
    <li><a href="./parts/buttons">Buttons</a></li>
    <li><a href="./parts/form">Forms</a></li>
    <li><a href="./parts/image">Images</a></li>
    <li><a href="./parts/table">Table</a></li>
    <li><a href="./parts/typography">typography</a></li>
  </ul>

  <h2 class="test-Title">Components</h2>
  <ul>
    <li><a href="./components/row">Row</a></li>
    <li><a href="./components/container">Container</a></li>
    <li><a href="./components/full-embed">FullEmbed</a></li>
  </ul>

  <h2 class="test-Title">Tools</h2>
  <ul>
    <li><a href="./tools/border">Border</a></li>
    <li><a href="./tools/display">Display</a></li>
    <li><a href="./tools/layout">Layout</a></li>
    <li><a href="./tools/typography">typography</a></li>
  </ul>

  {{ partial "sns.html" . }}
</div>
{{ partial "footer.html" . }}
</body>
</html>
