{{ partial "head.html" . }}
<body>

{{ partial "header.html" . }}

<div class="Container">
  <!-- <h2>{{ .Site.Params.description }}</h2> -->
  <p>Experimental Work in Progress</p>
  <p>
    <a href="https://github.com/sircus/sircus" class="BtnBorder Btn--primary">Download on GitHub</a>
  </p>
</div>

<div class="Container">
  <ul>
      {{ range .Data.Pages }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
  </ul>
</div>

{{ partial "footer.html" . }}
<div class="test-carbon t-xs-hidden">
  {{ partial "carbon-ads.html" . }}
</div>
  </body>
</html>
