<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title> {{ .Title }} &middot; {{ .Site.Title }} </title>
  <!-- Icon -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//blivesta.com/ico/touch-icon-144.png">
  <link rel="shortcut icon" href="//blivesta.com/ico/favicon.ico">

  <!-- vendor -->
  <link rel="stylesheet" type="text/css" href="" id="vendor">

  <!-- sircus css -->
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}/build/sircus.css">
  <!-- Docs css -->
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/test.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/blivesta/d8feeec7735595865c11/raw/f68e1c74c89d8f592be737eb0126a1ea119e4c15/syntax-monokai.css">

</head>
<body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-59485438-1', 'auto');
  ga('send', 'pageview');
</script>

<div class="Container">
  <h1>{{ .Title }}</h1>
  <ul class="ListInline t-mb-00">
    <li>
      <select class="" onchange="changesytle('vendor',value);">
        <option value="">sircus.css only</option>
        <option value="/css/roboto.css">Font roboto</option>
        <option value="/css/raleway.css">Font Raleway</option>
        <option value="//normalize-css.googlecode.com/svn/trunk/normalize.css">normalize.css</option>
        <option value="//reset5.googlecode.com/hg/reset.min.css">html reset.css</option>
        <option value="//cdn.rawgit.com/blivesta/ffcea5b36abc79e3ea4e/raw/0b1240f688d13721c53b19284cff2010055d1b0b/debug.css">debug.css</option>
        <option value="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">bootstrap.css</option>
      </select>
    </li>
    <li><a href="/test">Test top</a></li>
    <li><a href="http://sircus.blivesta.com/" target="_blank">Sircus Web site</a></li>
  </ul>
</div>

<hr>
