<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

  <!-- Icon -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//blivesta.com/ico/touch-icon-144.png">
  <link rel="shortcut icon" href="//blivesta.com/ico/favicon.ico">
  <!-- Font -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- sircus css -->
  <link rel="stylesheet" href="/build/sircus.css">
  <!-- Docs css -->
  <link rel="stylesheet" href="/test.css">

  <!-- RSS -->
  <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

</head>
