:root {
  --Button-spaceH: var(--g-controls-spaceH);
  --Button-fontSize: var(--g-fontSize);
  --Button-borderRadius: var(--g-borderRadius);
  --Button-color: #000;
  --Button-fill: transparent;
  --Button-borderColor: #000;
  --Button-borderSize: var(--g-controls-borderSize);
  --Button-borderSize2x: calc(var(--Button-borderSize) * 2);
  --Button-height: var(--g-controls-height);

  --Button-primary-color: var(--g-primary);
  --Button-primary-fill: transparent;
  --Button-primary-borderColor: var(--g-primary-dark);
  --Button-secondary-color: var(--g-secondary);
  --Button-secondary-fill: transparent;
  --Button-secondary-borderColor: var(--g-secondary-dark);
  --Button-success-color: var(--g-success);
  --Button-success-fill: transparent;
  --Button-success-borderColor: var(--g-success-dark);
  --Button-notice-color: var(--g-notice);
  --Button-notice-fill: transparent;
  --Button-notice-borderColor: var(--g-notice-dark);
  --Button-warning-color: var(--g-warning);
  --Button-warning-fill: transparent;
  --Button-warning-borderColor: var(--g-warning-dark);
  --Button-error-color: var(--g-error);
  --Button-error-fill: transparent;
  --Button-error-borderColor: var(--g-error-dark);

  --ButtonFill-color: #fff;
  --ButtonFill-fill: #000;
  --ButtonFill-primary-color: #fff;
  --ButtonFill-primary-fill: var(--g-primary);
  --ButtonFill-secondary-color: #fff;
  --ButtonFill-secondary-fill: var(--g-secondary);
  --ButtonFill-success-color: #fff;
  --ButtonFill-success-fill: var(--g-success);
  --ButtonFill-notice-color: #fff;
  --ButtonFill-notice-fill: var(--g-notice);
  --ButtonFill-warning-color: #fff;
  --ButtonFill-warning-fill: var(--g-warning);
  --ButtonFill-error-color: #fff;
  --ButtonFill-error-fill: var(--g-error);

  --ButtonSize-paddingH-xl: var(--g-controls-spaceH-xl);
  --ButtonSize-paddingH-lg: var(--g-controls-spaceH-lg);
  --ButtonSize-paddingH: var(--g-controls-spaceH);
  --ButtonSize-paddingH-sm: var(--g-controls-spaceH-sm);

  --ButtonSize-fontSize-xl: var(--g-fontSize-xl);
  --ButtonSize-fontSize-lg: var(--g-fontSize-lg);
  --ButtonSize-fontSize: var(--g-fontSize);
  --ButtonSize-fontSize-sm: var(--g-fontSize-sm);

  --ButtonSize-height-xl: var(--g-controls-height-xl);
  --ButtonSize-height-lg: var(--g-controls-height-lg);
  --ButtonSize-height: var(--g-controls-height);
  --ButtonSize-height-sm: var(--g-controls-height-sm);

  --ButtonReset-color: var(--g-primary);
  --ButtonReset-fill: var(--g-gray-20);
  --ButtonReset-hover-color: var(--g-primary-dark);
}

/*　sircus-components-button
======================================== */
.Button {
  font-size: var(--Button-fontSize);
  line-height: calc(var(--Button-height) - var(--Button-borderSize2x));
  display: inline-block;
  box-sizing: border-box;
  height: var(--Button-height);
  margin: 0;
  padding: 0 var(--Button-spaceH);
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: var(--Button-color);
  border: var(--Button-borderSize) solid var(--Button-borderColor);
  border-radius: var(--Button-borderRadius);
  outline: none;
  background-color: var(--Button-fill);
  background-image: none;
  box-shadow: none;
  appearance: none;
}

.Button.is-disabled,
.Button[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .5;
}

.Button:hover,
.Button:focus,
.Button:active,
.Button.is-active {
  text-decoration: none;
  color: #fff;
  border-color: var(--Button-borderColor);
  background-color: var(--Button-borderColor);
}

.Button--primary {
  background-color: var(--Button-primary-fill);
  border-color: var(--Button-primary-borderColor);
  color: var(--Button-primary-color);
}

.Button--primary:hover,
.Button--primary:focus,
.Button--primary:active,
.Button--primary.is-active {
  background-color: var(--Button-primary-color);
  color: #fff;
  border-color: var(--Button-primary-borderColor);
}

.Button--secondary {
  background-color: var(--Button-secondary-fill);
  border-color: var(--Button-secondary-borderColor);
  color: var(--Button-secondary-color);
}

.Button--secondary:hover,
.Button--secondary:focus,
.Button--secondary:active,
.Button--secondary.is-active {
  background-color: var(--Button-secondary-color);
  color: #fff;
  border-color: var(--Button-secondary-borderColor);
}

.Button--success {
  background-color: var(--Button-success-fill);
  border-color: var(--Button-success-borderColor);
  color: var(--Button-success-color);
}

.Button--success:hover,
.Button--success:focus,
.Button--success:active,
.Button--success.is-active {
  background-color: var(--Button-success-color);
  color: #fff;
  border-color: var(--Button-success-borderColor);
}

.Button--notice {
  background-color: var(--Button-notice-fill);
  border-color: var(--Button-notice-borderColor);
  color: var(--Button-notice-color);
}

.Button--notice:hover,
.Button--notice:focus,
.Button--notice:active,
.Button--notice.is-active {
  background-color: var(--Button-notice-color);
  color: #fff;
  border-color: var(--Button-notice-borderColor);
}

.Button--warning {
  background-color: var(--Button-warning-fill);
  border-color: var(--Button-warning-borderColor);
  color: var(--Button-warning-color);
}

.Button--warning:hover,
.Button--warning:focus,
.Button--warning:active,
.Button--warning.is-active {
  background-color: var(--Button-warning-color);
  color: #fff;
  border-color: var(--Button-warning-borderColor);
}

.Button--error {
  background-color: var(--Button-error-fill);
  border-color: var(--Button-error-borderColor);
  color: var(--Button-error-color);
}

.Button--error:hover,
.Button--error:focus,
.Button--error:active,
.Button--error.is-active {
  background-color: var(--Button-error-color);
  color: #fff;
  border-color: var(--Button-error-borderColor);
}

/*　fill  */
.Button--fill {
  background-color: var(--ButtonFill-fill);
  color: var(--ButtonFill-color);
}

.Button--fill:hover,
.Button--fill:focus,
.Button--fill:active,
.Button--fill.is-active {
  background-color: transparent;
  color: var(--ButtonFill-fill);
  text-decoration: none;
}

.Button--fill.Button--primary {
  background-color: var(--ButtonFill-primary-fill);
  color: var(--ButtonFill-primary-color);
}

.Button--fill.Button--primary:hover,
.Button--fill.Button--primary:focus,
.Button--fill.Button--primary:active,
.Button--fill.Button--primary.is-active {
  background-color: transparent;
  color: var(--ButtonFill-primary-fill);
}

.Button--fill.Button--secondary {
  background-color: var(--ButtonFill-secondary-fill);
  color: var(--ButtonFill-secondary-color);
}

.Button--fill.Button--secondary:hover,
.Button--fill.Button--secondary:focus,
.Button--fill.Button--secondary:active,
.Button--fill.Button--secondary.is-active {
  background-color: transparent;
  color: var(--ButtonFill-secondary-fill);
}

.Button--fill.Button--success {
  background-color: var(--ButtonFill-success-fill);
  color: var(--ButtonFill-success-color);
}

.Button--fill.Button--success:hover,
.Button--fill.Button--success:focus,
.Button--fill.Button--success:active,
.Button--fill.Button--success.is-active {
  background-color: transparent;
  color: var(--ButtonFill-success-fill);
}

.Button--fill.Button--notice {
  background-color: var(--ButtonFill-notice-fill);
  color: var(--ButtonFill-notice-color);
}

.Button--fill.Button--notice:hover,
.Button--fill.Button--notice:focus,
.Button--fill.Button--notice:active,
.Button--fill.Button--notice.is-active {
  background-color: transparent;
  color: var(--ButtonFill-notice-fill);
}

.Button--fill.Button--warning {
  background-color: var(--ButtonFill-warning-fill);
  color: var(--ButtonFill-warning-color);
}

.Button--fill.Button--warning:hover,
.Button--fill.Button--warning:focus,
.Button--fill.Button--warning:active,
.Button--fill.Button--warning.is-active {
  background-color: transparent;
  color: var(--ButtonFill-warning-fill);
}

.Button--fill.Button--error {
  background-color: var(--ButtonFill-error-fill);
  color: var(--ButtonFill-error-color);
}

.Button--fill.Button--error:hover,
.Button--fill.Button--error:focus,
.Button--fill.Button--error:active,
.Button--fill.Button--error.is-active {
  background-color: transparent;
  color: var(--ButtonFill-error-fill);
}

/*　size  */
.Button--xl {
  height: var(--ButtonSize-height-xl);
  padding: 0 var(--ButtonSize-paddingH-xl);
  line-height: calc(var(--ButtonSize-height-xl) - var(--Button-borderSize2x));
  font-size: var(--ButtonSize-fontSize-xl);
}
.Button--lg {
  height: var(--ButtonSize-height-lg);
  padding: 0 var(--ButtonSize-paddingH-lg);
  line-height: calc(var(--ButtonSize-height-lg) - var(--Button-borderSize2x));
  font-size: var(--ButtonSize-fontSize-lg);
}
.Button--sm {
  height: var(--ButtonSize-height-sm);
  padding: 0 var(--ButtonSize-paddingH-sm);
  line-height: calc(var(--ButtonSize-height-sm) - var(--Button-borderSize2x));
  font-size: var(--ButtonSize-fontSize-sm);
}

/*　reset */
.Button--reset {
  background-color: transparent;
  border-color: transparent;
  color: var(--ButtonReset-color);
}

.Button--reset:hover,
.Button--reset:focus,
.Button--reset:active,
.Button--reset.is-active {
  background-color: var(--ButtonReset-fill);
  border-color: transparent;
  color: var(--ButtonReset-hover-color);
}
