:root {
  --Table-border: 1px solid var(--g-borderColor);
  --Table-divitedBorder: 2px solid var(--g-borderColor);
  --Table-padding: var(--g-space-tn) var(--g-gutter);
  --Table-borderColor: var(--g-borderColor);
  --Table-evenColor: var(--g-gray-5);
}

/*ã€€sircus-components-table
======================================== */
.Table {
  width: 100%;
  max-width: 100%;
  padding: 0;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}

.Table th,
.Table td {
  padding: var(--Table-padding);
  border-top: var(--Table-border);
}

.Table > thead {
  border-bottom: var(--Table-divitedBorder);
}

.Table > tfoot {
  border-top: var(--Table-divitedBorder);
}

.Table tr:first-child th,
.Table tr:first-child td {
  border-top: 0;
}

.Table--even tr:nth-child(even) {
  background-color: var(--Table-evenColor);
}

.Table--border {
  border: var(--Table-border);
}

.Table--border th,
.Table--border td {
  border-left: var(--Table-border);
}
