@import "../config";

$l-container-gutter-width:    $g-container-gutter-width !default;
$l-container-sm:              $g-container-sm !default;
$l-container-md:              $g-container-md!default;
$l-container-lg:              $g-container-lg !default;
$l-container-screen-xs-min:   $g-screen-xs-min !default;
$l-container-screen-sm-min:   $g-screen-sm-min !default;
$l-container-screen-md-min:   $g-screen-md-min !default;
$l-container-screen-lg-min:   $g-screen-lg-min !default;

// ==================================
.container-slim,
.container-full,
.container {
  box-sizing:border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: ($l-container-gutter-width / 2);
  padding-right: ($l-container-gutter-width / 2);
}

.container {
  @media (min-width: $l-container-screen-sm-min) {
    width: $l-container-sm;
  }
  @media (min-width: $l-container-screen-md-min) {
    width: $l-container-md;
  }
  @media (min-width: $l-container-screen-lg-min) {
    width: $l-container-lg;
  }
}

.container-slim {
  max-width: $l-container-sm;
}
