@import "../config";

$grid-gutter-width:    $g-container-gutter-width !default;

$screen-xs-min:        $g-screen-xs-min !default;
// $screen-sm-min:        $g-screen-sm-min !default;
// $screen-md-min:        $g-screen-md-min !default;
// $screen-lg-min:        $g-screen-lg-min !default;

$font-size-bs:         $g-font-size-bs !default;

// Row
// =====================================
.row,
.row-inline-block,
.row-inlineBlock,
.row-float,
.row-table {
  font-size: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-left: -($grid-gutter-width / 2);
  margin-right: -($grid-gutter-width / 2);
  @extend .t-clear;
  > .col {
    box-sizing:border-box;
    font-size: $font-size-bs;
  }
}

.row,
.row-inline-block,
.row-inlineBlock {
  display: block;
  > .col {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 100%;
  }
}

.row-float {
  display: block;
  > .col {
    float: left;
  }
}

.row-table {
  > .col {
    width:100%;
  }
  @media (min-width: $screen-xs-min) {
    display: table;
    table-layout: fixed;
    > .col,
    > .row-col,
    > .row__col {
      display: table-cell;
    }
  }
}

// `.row` Modifier
// -------------------------------
.row--center { text-align: center; }
.row--right  { text-align: right; }
.row--left   { text-align: left; }

.row--top > .col     { vertical-align: top; }
.row--middle > .col  { vertical-align: middle; }
.row--bottom > .col  { vertical-align: bottom; }

// // gutter
// .row--gutter {
//   margin: 0 (-0.5 * $grid-gutter-width);
// }
// .row--gutter > .col,
// .row--gutter > .row-col,
// .row--gutter > .row__col {
//   padding: 0 (0.5 * $grid-gutter-width);
// }

// Columns
// =====================================
.col {
  min-height: 1px;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  position: relative;
}
