@import "../config";

$grid-gutter-width:         40px !default;
$container-gutter-width:    $grid-gutter-width !default;
$container-sm:              720px + $container-gutter-width !default;
$container-md:              940px + $container-gutter-width !default;
$container-lg:              1140px + $container-gutter-width !default;

// ==================================
.container-full,
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: ($container-gutter-width / 2);
  padding-right: ($container-gutter-width / 2);
}

.container {
  @media (min-width: $g-screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $g-screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $g-screen-lg-min) {
    width: $container-lg;
  }
}

.container-sm {
  width: $container-sm;
}


// Row
// =====================================
.row,
.row-inline,
.row-float,
.row-table {
  font-size: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-left:  ($grid-gutter-width / -2);
  margin-right: ($grid-gutter-width / -2);
  > .col {
    font-size: $g-font-size-bs;
  }
}

.row,
.row-inline {
  display: block;
  > .col {
    display: inline-block;
  }
}

.row-float {
  display: block;
  > .col {
    float: left;
  }
}

.row-table {
  @media (min-width: $g-screen-xs-min) {
    display: table;
    table-layout: fixed;
    width: calc(100% + #{$grid-gutter-width});
    > .col {
      display: table-cell;
    }
  }
}

// `.row` Modifier
// -------------------------------
// baseline
.row--baseline-top > .col {
  vertical-align: top !important;
}
.row--baseline-middle > .col{
  vertical-align: middle !important;
}
.row--baseline-bottom > .col{
  vertical-align: bottom !important;
}
// gutter
.row--gutter {
  margin: 0 (-0.5 * $grid-gutter-width);
}

.row--gutter > .col {
  padding: 0 (0.5 * $grid-gutter-width);
}


// Columns
// =====================================
.col {
  min-height: 1px;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  position: relative;
}
