@import "../config";

$grid-gutter-width:         40px !default;
$container-gutter-width:    $grid-gutter-width !default;
$container-sm:              720px !default;
$container-md:              940px !default;
$container-lg:              1140px !default;

// Row
// =====================================
.row,
.row-inline-block,
.row-inlineBlock,
.row-float,
.row-table {
  font-size: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-left: -($container-gutter-width / 2);
  margin-right: -($container-gutter-width / 2);
  > .col,
  > .row-col,
  > .row__col {
    box-sizing:border-box;
    font-size: $g-font-size-bs;
  }
}

.row,
.row-inline-block,
.row-inlineBlock {
  display: block;
  > .col,
  > .row-col,
  > .row__col {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 100%;
  }
}

.row-float {
  display: block;
  > .col,
  > .row-col,
  > .row__col {
    float: left;
  }
}

.row-table {
  > .col,
  > .row-col,
  > .row__col {
    width:100%;
  }
  @media (min-width: $g-screen-xs-min) {
    display: table;
    table-layout: fixed;
    > .col,
    > .row-col,
    > .row__col {
      display: table-cell;
    }
  }
}

// `.row` Modifier
// -------------------------------
.row--center { text-align: center; }
.row--right  { text-align: right; }
.row--left   { text-align: left; }

.row--top > .col,
.row--top > .row-col,
.row--top > .row__col { vertical-align: top; }
.row--middle > .col,
.row--middle > .row-col,
.row--middle > .row__col { vertical-align: middle; }
.row--bottom > .col,
.row--bottom > .row-col,
.row--bottom > .row__col { vertical-align: bottom; }

// // gutter
.row--gutter {
  margin: 0 (-0.5 * $grid-gutter-width);
}
.row--gutter > .col,
.row--gutter > .row-col,
.row--gutter > .row__col {
  padding: 0 (0.5 * $grid-gutter-width);
}

// Columns
// =====================================
.col,
.row-col,
.row__col {
  min-height: 1px;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  position: relative;
}
