/*
 * sircus-tools-align
 ================================================== */
.t-alignLeft       { text-align: left; }
.t-alignRight      { text-align: right; }
.t-alignCenter     { text-align: center; }
.t-alignJustify    { text-align: justify; }

.t-alignTop        { vertical-align: top; }
.t-alignMiddle     { vertical-align: middle; }
.t-alignBottom     { vertical-align: bottom; }
.t-alignBaseline   { vertical-align: baseline; }
.t-alignTextTop    { vertical-align: text-top; }
.t-alignTextBottom { vertical-align: text-bottom; }
