@import "../config";

$margin-bs : $g-sum-height-bs !default;
$margin-sm : $g-sum-height-sm !default;
$margin-lg : $g-sum-height-lg !default;

// ==================================
// margin
.u-mgn-00   { margin:0 !important; }
.u-mgn-bs   { margin:$margin-bs !important; }
.u-mgn-sm   { margin:$margin-sm !important; }
.u-mgn-lg   { margin:$margin-lg !important; }
.u-mgn-bs-h { margin:($margin-bs / 2) !important; }
.u-mgn-sm-h { margin:($margin-sm / 2) !important; }
.u-mgn-lg-h { margin:($margin-lg / 2) !important; }

// margin-top
.u-mgn-t-00   { margin-top:0 !important; }
.u-mgn-t-bs   { margin-top:$margin-bs !important; }
.u-mgn-t-sm   { margin-top:$margin-sm !important; }
.u-mgn-t-lg   { margin-top:$margin-lg !important; }
.u-mgn-t-bs-h { margin-top:($margin-bs / 2) !important; }
.u-mgn-t-sm-h { margin-top:($margin-sm / 2) !important; }
.u-mgn-t-lg-h { margin-top:($margin-lg / 2) !important; }

// margin-bottom
.u-mgn-b-00   { margin-bottom:0 !important; }
.u-mgn-b-bs   { margin-bottom:$margin-bs !important; }
.u-mgn-b-sm   { margin-bottom:$margin-sm !important; }
.u-mgn-b-lg   { margin-bottom:$margin-lg !important; }
.u-mgn-b-bs-h { margin-bottom:($margin-bs / 2) !important; }
.u-mgn-b-sm-h { margin-bottom:($margin-sm / 2) !important; }
.u-mgn-b-lg-h { margin-bottom:($margin-lg / 2) !important; }

// margin-left
.u-mgn-l-00   { margin-left:0 !important; }
.u-mgn-l-bs   { margin-left:$margin-bs !important; }
.u-mgn-l-sm   { margin-left:$margin-sm !important; }
.u-mgn-l-lg   { margin-left:$margin-lg !important; }
.u-mgn-l-bs-h { margin-left:($margin-bs / 2) !important; }
.u-mgn-l-sm-h { margin-left:($margin-sm / 2) !important; }
.u-mgn-l-lg-h { margin-left:($margin-lg / 2) !important; }

// margin-right
.u-mgn-r-00   { margin-right:0 !important; }
.u-mgn-r-bs   { margin-right:$margin-bs !important; }
.u-mgn-r-sm   { margin-right:$margin-sm !important; }
.u-mgn-r-lg   { margin-right:$margin-lg !important; }
.u-mgn-r-bs-h { margin-right:($margin-bs / 2) !important; }
.u-mgn-r-sm-h { margin-right:($margin-sm / 2) !important; }
.u-mgn-r-lg-h { margin-right:($margin-lg / 2) !important; }

// ==================================
// padding-top
.u-pdg-t-00   { padding-top:0 !important; }
.u-pdg-t-bs   { padding-top:$margin-bs !important; }
.u-pdg-t-sm   { padding-top:$margin-sm !important; }
.u-pdg-t-lg   { padding-top:$margin-lg !important; }
.u-pdg-t-bs-h { padding-top:($margin-bs / 2) !important; }
.u-pdg-t-sm-h { padding-top:($margin-sm / 2) !important; }
.u-pdg-t-lg-h { padding-top:($margin-lg / 2) !important; }

// padding-bottom
.u-pdg-b-00   { padding-bottom:0 !important; }
.u-pdg-b-bs   { padding-bottom:$margin-bs !important; }
.u-pdg-b-sm   { padding-bottom:$margin-sm !important; }
.u-pdg-b-lg   { padding-bottom:$margin-lg !important; }
.u-pdg-b-bs-h { padding-bottom:($margin-bs / 2) !important; }
.u-pdg-b-sm-h { padding-bottom:($margin-sm / 2) !important; }
.u-pdg-b-lg-h { padding-bottom:($margin-lg / 2) !important; }

// padding-left
.u-pdg-l-00   { padding-left:0 !important; }
.u-pdg-l-bs   { padding-left:$margin-bs !important; }
.u-pdg-l-sm   { padding-left:$margin-sm !important; }
.u-pdg-l-lg   { padding-left:$margin-lg !important; }
.u-pdg-l-bs-h { padding-left:($margin-bs / 2) !important; }
.u-pdg-l-sm-h { padding-left:($margin-sm / 2) !important; }
.u-pdg-l-lg-h { padding-left:($margin-lg / 2) !important; }

// padding-right
.u-pdg-r-00   { padding-right:0 !important; }
.u-pdg-r-bs   { padding-right:$margin-bs !important; }
.u-pdg-r-sm   { padding-right:$margin-sm !important; }
.u-pdg-r-lg   { padding-right:$margin-lg !important; }
.u-pdg-r-bs-h { padding-right:($margin-bs / 2) !important; }
.u-pdg-r-sm-h { padding-right:($margin-sm / 2) !important; }
.u-pdg-r-lg-h { padding-right:($margin-lg / 2) !important; }
