// var ------------------------------
@import "../config";

// ==================================

.u-text-bold   { font-weight: bold !important; }
.u-text-italic { font-style: italic !important; }

.u-text-left        { text-align: left !important; }
.u-text-right       { text-align: right !important; }
.u-text-center      { text-align: center !important; }
.u-text-justify     { text-align: justify !important; }

.u-text-lowercase      { text-transform: lowercase !important; }
.u-text-uppercase      { text-transform: uppercase !important; }
.u-text-capitalize     { text-transform: capitalize !important; }

.u-text-nowrap         { white-space: nowrap !important; }

.u-text-hide {
  font: #{0/0} a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.u-text-muted { color: $g-text-muted !important; }

.u-text-en-sans      { font-family: $g-font-family-sans-en !important; }
.u-text-ja-sans      { font-family: $g-font-family-sans-ja !important; }
.u-text-en-serif     { font-family: $g-font-family-serif-en !important; }
.u-text-ja-serif     { font-family: $g-font-family-serif-ja !important; }
.u-text-en-monospace { font-family: $g-font-family-monospace-en !important; }
.u-text-ja-monospace { font-family: $g-font-family-monospace-ja !important; }

.u-text-size-hg { font-size: $g-font-size-hg !important; }
.u-text-size-mg { font-size: $g-font-size-mg !important; }
.u-text-size-xl { font-size: $g-font-size-xl !important; }
.u-text-size-lg { font-size: $g-font-size-lg !important; }
.u-text-size-bs { font-size: $g-font-size-bs !important; }
.u-text-size-sm { font-size: $g-font-size-sm !important; }
.u-text-size-xs { font-size: $g-font-size-xs !important; }
