@import "../config";

.u-clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after { clear: both; }
}

.u-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.u-float-right { float: right !important; }
.u-float-left  { float: left !important; }

.u-hide      { display: none !important; }
.u-show      { display: block !important; }
.u-invisible { visibility: hidden !important; }

.u-hidden {
  display: none !important;
  visibility: hidden !important;
}

.u-block { display:inline-block !important; }
.u-inline { display:inline-block !important; }
.u-inline-block { display:inline-block !important; }

.u-table { display:table !important; }
.u-table-cell {
  float: none !important;
  display:table-cell !important;
  vertical-align: middle !important;
}



