:root {
  --Container-width-sm: 48rem;
  --Container-width-md: 60rem;
  --Container-width-lg: 70rem;
}

/*　sircus-components-container
======================================== */
.Container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}

@media (--g-viewport-sm) {
  .Container {
    max-width: var(--Container-width-sm);
  }
}

@media (--g-viewport-md) {
  .Container {
    max-width: var(--Container-width-md);
  }
}

@media (--g-viewport-lg) {
  .Container {
    max-width: var(--Container-width-lg);
  }
}

.Container--slim {
  max-width: var(--Container-width-sm);
}
