---
title: "Component / FullEmbed"
description: ""
---

<div class="Container">
  <h2 class="test-Title">16:9 aspect ratio</h2>
  <div class="FullEmbed FullEmbed--16by9">
    <iframe class="FullEmbed-item" width="1200" height="1200" src="http://www.youtube.com/embed/nKwbHew4suI" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<hr>

<div class="Container">
  <h2 class="test-Title">4:3 aspect ratio</h2>
  <div class="FullEmbed FullEmbed--4by3">
    <iframe class="FullEmbed-item" width="1200" height="1200" src="http://www.youtube.com/embed/nKwbHew4suI" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<hr>

<div class="Container">
  <h2 class="test-Title">3:1 aspect ratio</h2>
  <div class="FullEmbed FullEmbed--3by1">
    <iframe class="FullEmbed-item" width="1200" height="1200" src="http://www.youtube.com/embed/nKwbHew4suI" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<hr>

<div class="Container">
  <h2 class="test-Title">2:1 aspect ratio</h2>
  <div class="FullEmbed FullEmbed--2by1">
    <iframe class="FullEmbed-item" width="1200" height="1200" src="http://www.youtube.com/embed/nKwbHew4suI" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
