---
title: "Component / GridTable"
description: ""
---

<div class="Container">
  <h2 class="test-Title">.GridTable</h2>

  <div class="GridTable">
    <div class="GridTable-row">
      <div class="GridTable-col test-Fixture t-wxs-width1of6">
        1
      </div>
      <div class="GridTable-col test-Fixture t-wxs-width1of6">
        2
      </div>
      <div class="GridTable-col test-Fixture test-Fixture--doubleHeight t-wxs-width1of6" style="height:100px;">
        3
      </div>
      <div class="GridTable-col test-Fixture t-wxs-width1of6">
        4
      </div>
      <div class="GridTable-col test-Fixture t-wxs-width1of6">
        5
      </div>
      <div class="GridTable-col test-Fixture t-wxs-width1of6">
        6
      </div>
    </div>
  </div>


</div>



<div class="Container">
  <h2 class="test-Title">GridTable GridTable--table / middle</h2>

  <div class="GridTable GridTable--middle">
    <div class="GridTable-row">
      <div class="GridTable-col test-Fixture t-wxs-width1of6">
        1
      </div>
      <div class="GridTable-col test-Fixture t-wxs-width1of6">
        2
      </div>
      <div class="GridTable-col test-Fixture test-Fixture--doubleHeight t-wxs-width1of6" style="height:100px;">
        3
      </div>
      <div class="GridTable-col test-Fixture t-wxs-width1of6">
        4
      </div>
      <div class="GridTable-col test-Fixture t-wxs-width1of6">
        5
      </div>
      <div class="GridTable-col test-Fixture t-wxs-width1of6">
        6
      </div>
    </div>
  </div>

</div>



<div class="Container">
  <h2 class="test-Title">GridTable GridTable--table / bottom</h2>
  <div class="GridTable GridTable--bottom">
    <div class="GridTable-row">
      <div class="GridTable-col test-Fixture t-wxs-width1of6">
        1
      </div>
      <div class="GridTable-col test-Fixture t-wxs-width1of6">
        2
      </div>
      <div class="GridTable-col test-Fixture test-Fixture--doubleHeight t-wxs-width1of6" style="height:100px;">
        3
      </div>
      <div class="GridTable-col test-Fixture t-wxs-width1of6">
        4
      </div>
      <div class="GridTable-col test-Fixture t-wxs-width1of6">
        5
      </div>
      <div class="GridTable-col test-Fixture t-wxs-width1of6">
        6
      </div>
    </div>
  </div>
</div>
