---
title: "Component / RowTable"
description: ""
---

<div class="Container">
  <h2 class="test-Title">Row Row--table</h2>
  <div class="Row Row--table test-Row">
    <div class="Row-col test-Fixture t-wxs-width1of6">
      Row-col
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of6">
      Row-col
    </div>
    <div class="Row-col test-Fixture test-Fixture--doubleHeight test-Row-col t-wxs-width1of6">
      Row-col
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of6">
      Row-col
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of6">
      Row-col
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of6">
      Row-col
    </div>
  </div>
</div>



<div class="Container">
  <h2 class="test-Title">Row Row--table / middle</h2>
  <div class="Row Row--table Row--middle test-Row">
    <div class="Row-col test-Fixture t-wxs-width1of6">
      Row-col
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of6">
      Row-col
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of6">
      Row-col
    </div>
    <div class="Row-col test-Fixture test-Fixture--doubleHeight t-wxs-width1of6">
      Row-col
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of6">
      Row-col
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of6">
      Row-col
    </div>
  </div>
</div>



<div class="Container">
  <h2 class="test-Title">Row Row--table / bottom</h2>
  <div class="Row Row--table Row--bottom test-Row">
    <div class="Row-col test-Fixture t-wsm-width1of6">
      Row-col
    </div>
    <div class="Row-col test-Fixture t-wsm-width1of6">
      Row-col
    </div>
    <div class="Row-col test-Fixture test-Fixture--doubleHeight t-wsm-width1of6">
      Row-col
    </div>
    <div class="Row-col test-Fixture t-wsm-width1of6">
      Row-col
    </div>
    <div class="Row-col test-Fixture t-wsm-width1of6">
      Row-col
    </div>
    <div class="Row-col test-Fixture t-wsm-width1of6">
      Row-col
    </div>
  </div>
</div>
