---
title: "Component / Row"
description: ""
---
<div class="Container">
  <h2 class="test-Title">.Row</h2>
  <div class="Row">
    <div class="Row-col test-Fixture t-width1of3">
      1
    </div>
    <div class="Row-col test-Fixture t-width1of3">
      2
    </div>
    <div class="Row-col test-Fixture t-width1of3">
      3
    </div>
  </div>
</div>


<hr>

<div class="Container">
  <h2 class="test-Title">.Row.Row--center</h2>
  <div class="Row Row--center">
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      1
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      2
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      3
    </div>
  </div>
</div>


<hr>


<div class="Container">
  <h2 class="test-Title">.Row.Row--right</h2>
  <div class="Row Row--right">
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      1
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      2
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      3
    </div>
  </div>
</div>


<hr>

<div class="Container">
  <h2 class="test-Title">.Row.Row--middle</h2>
  <div class="Row Row--middle">
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      1
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      2
    </div>
    <div class="Row-col test-Fixture test-Fixture--doubleHeight t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      3
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      4
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      5
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      6
    </div>
  </div>
</div>

<hr>

<div class="Container">
  <h2 class="test-Title">.Row.Row--bottom</h2>
  <div class="Row Row--bottom">
    <div class="Row-col test-Fixture t-width3of6 t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      1
    </div>
    <div class="Row-col test-Fixture t-width3of6 t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      2
    </div>
    <div class="Row-col test-Fixture test-Fixture--doubleHeight t-width3of6 t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      3
    </div>
    <div class="Row-col test-Fixture t-width3of6 t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      4
    </div>
    <div class="Row-col test-Fixture t-width3of6 t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      5
    </div>
    <div class="Row-col test-Fixture t-width3of6 t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      6
    </div>
  </div>
</div>

<hr>

<div class="Container">
  <h2 class="test-Title">Float</h2>
  <div class="Row Row--float">
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      1
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      2
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      3
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      4
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      5
    </div>
    <div class="Row-col test-Fixture--doubleHeight test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      6
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      6
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      8
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      9
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      10
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      11
    </div>
    <div class="Row-col test-Fixture t-wxs-width1of3 t-wsm-width1of4 t-wmd-width1of6 t-wlg-width1of6">
      12
    </div>
  </div>
</div>
