@import "../config";

// ----------------------------------
*,
*:before,
*:after { box-sizing:border-box; }

html,
body { height: 100%;}

html {
  background: inherit;
  color: inherit;
  font-size: 62.5%; // 10px
}
