// var ------------------------------
@import "../config";

$table-border-color : $g-color-gray-light !default;

// ==================================
table {
  width:100%;
  tr > th{
    text-align: left;
  }
}

.tbl {
  tr > th,
  tr > td {
    padding:.5rem;
    border-bottom:1px solid $table-border-color;
  }
  tr:last-child > td {
    border-bottom:0;
  }
  > thead > tr > th,
  > thead > tr > td {
    border-bottom:2px solid $table-border-color;
  }
}
