/*
 * sircus-tools-color
 ================================================== */
/* Colors */
.t-colorWhite           { color: #FFF; }
.t-colorBlack           { color: #000; }

.t-colorGray90          { color: var(--g-gray-90); }
.t-colorGray80          { color: var(--g-gray-80); }
.t-colorGray60          { color: var(--g-gray-60); }
.t-colorGray40          { color: var(--g-gray-40); }
.t-colorGray30          { color: var(--g-gray-30); }
.t-colorGray20          { color: var(--g-gray-20); }
.t-colorGray10          { color: var(--g-gray-10); }
.t-colorGray5           { color: var(--g-gray-5); }

.t-colorPrimary         { color: var(--g-primary); }
.t-colorPrimaryDark     { color: var(--g-primary-dark); }
.t-colorPrimaryLight    { color: var(--g-primary-light); }

.t-colorSuccess         { color: var(--g-success); }
.t-colorSuccessDark     { color: var(--g-success-dark); }
.t-colorSuccessLight    { color: var(--g-success-light); }

.t-colorNotice          { color: var(--g-notice); }
.t-colorNoticeDark      { color: var(--g-notice-dark); }
.t-colorNoticeLight     { color: var(--g-notice-light); }

.t-colorWarning         { color: var(--g-warning); }
.t-colorWarningDark     { color: var(--g-warning-dark); }
.t-colorWarningLight    { color: var(--g-warning-light); }

.t-colorError           { color: var(--g-error); }
.t-colorErrorDark       { color: var(--g-error-dark); }
.t-colorErrorLight      { color: var(--g-error-light); }

/* Fills */
.t-fillWhite           { background-color: #FFF; }
.t-fillBlack           { background-color: #000; }

.t-fillGray90          { background-color: var(--g-gray-90); }
.t-fillGray80          { background-color: var(--g-gray-80); }
.t-fillGray60          { background-color: var(--g-gray-60); }
.t-fillGray40          { background-color: var(--g-gray-40); }
.t-fillGray30          { background-color: var(--g-gray-30); }
.t-fillGray20          { background-color: var(--g-gray-20); }
.t-fillGray10          { background-color: var(--g-gray-10); }
.t-fillGray5           { background-color: var(--g-gray-5); }

.t-fillPrimary         { background-color: var(--g-primary); }
.t-fillPrimaryDark     { background-color: var(--g-primary-dark); }
.t-fillPrimaryLight    { background-color: var(--g-primary-light); }

.t-fillSuccess         { background-color: var(--g-success); }
.t-fillSuccessDark     { background-color: var(--g-success-dark); }
.t-fillSuccessLight    { background-color: var(--g-success-light); }

.t-fillNotice          { background-color: var(--g-notice); }
.t-fillNoticeDark      { background-color: var(--g-notice-dark); }
.t-fillNoticeLight     { background-color: var(--g-notice-light); }

.t-fillWarning         { background-color: var(--g-warning); }
.t-fillWarningDark     { background-color: var(--g-warning-dark); }
.t-fillWarningLight    { background-color: var(--g-warning-light); }

.t-fillError           { background-color: var(--g-error); }
.t-fillErrorDark       { background-color: var(--g-error-dark); }
.t-fillErrorLight      { background-color: var(--g-error-light); }

/* Borders */
.t-borderWhite           { border-color: #FFF; }
.t-borderBlack           { border-color: #000; }

.t-borderGray90        { border-color: var(--g-gray-90); }
.t-borderGray80        { border-color: var(--g-gray-80); }
.t-borderGray60        { border-color: var(--g-gray-60); }
.t-borderGray40        { border-color: var(--g-gray-40); }
.t-borderGray30        { border-color: var(--g-gray-30); }
.t-borderGray20        { border-color: var(--g-gray-20); }
.t-borderGray10        { border-color: var(--g-gray-10); }
.t-borderGray5         { border-color: var(--g-gray-5); }

.t-borderPrimary       { border-color: var(--g-primary); }
.t-borderPrimaryDark   { border-color: var(--g-primary-dark); }
.t-borderPrimaryLight  { border-color: var(--g-primary-light); }

.t-borderSuccess       { border-color: var(--g-success); }
.t-borderSuccessDark   { border-color: var(--g-success-dark); }
.t-borderSuccessLight  { border-color: var(--g-success-light); }

.t-borderNotice        { border-color: var(--g-notice); }
.t-borderNoticeDark    { border-color: var(--g-notice-dark); }
.t-borderNoticeLight   { border-color: var(--g-notice-light); }

.t-borderWarning       { border-color: var(--g-warning); }
.t-borderWarningDark   { border-color: var(--g-warning-dark); }
.t-borderWarningLight  { border-color: var(--g-warning-light); }

.t-borderError         { border-color: var(--g-error); }
.t-borderErrorDark     { border-color: var(--g-error-dark); }
.t-borderErrorLight    { border-color: var(--g-error-light); }
