html { font-size: 62.5%; } // 10px

html,
body {
  height: 100%;
  margin:0;
  padding:0;
}

// ==================================
img {
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  height: auto;
  margin:0;
}

svg {
  max-height: 100%;
}

figure {
  margin:0;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}
