@import "../config";

$_baseTypo-fontFamily-bs:          $fontFamily-sans-en !default;
$_baseTypo-fontFamily-monospace:   $fontFamily-monospace-en !default;
$_baseTypo-fontSize-bs:            $fontSize-bs !default;
$_baseTypo-textColor:              $text-color !default;
$_baseTypo-lineHeight-bs:          $lineHeight-bs !default;

$_baseTypo-link-color:             $link-color !default;
$_baseTypo-link-decoration:        $link-decoration !default;
$_baseTypo-link-colorHover:        $link-colorHover !default;
$_baseTypo-link-decorationHover:   $link-decorationHover !default;

$_baseTypo-headings-space:         $headings-space !default;
$_baseTypo-headings-weight:        $headings-weight !default;
$_baseTypo-headings-lineHeight:    $headings-lineHeight !default;
$_baseTypo-headings-color:         $headings-color !default;

$_baseTypo-fontSize-h0:            $fontSize-sc !default;
$_baseTypo-fontSize-h1:            $fontSize-hg !default;
$_baseTypo-fontSize-h2:            $fontSize-mg !default;
$_baseTypo-fontSize-h3:            $fontSize-xl !default;
$_baseTypo-fontSize-h4:            $fontSize-lg !default;
$_baseTypo-fontSize-h5:            $fontSize-bs !default;
$_baseTypo-fontSize-h6:            $fontSize-sm !default;

$_baseTypo-mark-bgColor:          $color-primary !default;
$_baseTypo-mark-color:             #fff !default;

$_baseTypo-space-bs:               $space-bs;

// ==================================
body {
  font-family: $_baseTypo-fontFamily-bs;
  color: $_baseTypo-textColor;
  font-size: $_baseTypo-fontSize-bs;
  line-height: $_baseTypo-lineHeight-bs;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: $_baseTypo-headings-space 0;
}

p, ul, ol, dd {
  margin:0 0 $_baseTypo-space-bs 0;
}

// a -------------------------
a {
  color: $_baseTypo-link-color;
  text-decoration: $_baseTypo-link-decoration;
}
a:hover,
a:focus,
a:active  {
  color: $_baseTypo-link-colorHover;
  text-decoration: $_baseTypo-link-decorationHover;
}

//  Headding  -------------------------
h1, h2, h3, h4, h5, h6,
.h0, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  color: $_baseTypo-headings-color;
  font-weight: $_baseTypo-headings-weight;
  line-height: $_baseTypo-headings-lineHeight;
}

.h0     { font-size: $_baseTypo-fontSize-h0; }
h1, .h1 { font-size: $_baseTypo-fontSize-h1; }
h2, .h2 { font-size: $_baseTypo-fontSize-h2; }
h3, .h3 { font-size: $_baseTypo-fontSize-h3; }
h4, .h4 { font-size: $_baseTypo-fontSize-h4; }
h5, .h5 { font-size: $_baseTypo-fontSize-h5; }
h6, .h6 { font-size: $_baseTypo-fontSize-h6; }


// list -------------------------
ul > li > ul,
ol > li > ol{
  padding-left:2rem;
  margin:0;
  list-style:inset;
}
ul,ol {
  padding-left:$_baseTypo-space-bs;
}

.ListInline,
.ListReset {
  padding-left: 0;
  list-style: none;
}

.ListInline {
  margin-left: -0.5rem;
  > li {
    display: inline-block;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}


// Description Lists -------------------------
dt { font-weight: bold; }
dd { margin-left: 0; }

// pre,code  -------------------------
pre,
code {
  font-family: $_baseTypo-fontFamily-monospace;
  white-space: pre-wrap;
}

// hr -------------------------
hr {
  display: block;
  height: .1rem;
  border: 0;
  border-top: .1rem solid #ccc;
  margin: $_baseTypo-space-bs 0;
  padding: 0;
}

// small -------------------------
small { font-size: 80%; }

// mark -------------------------
mark {
  padding-left:.5rem;
  padding-right:.5rem;
  background-color:$_baseTypo-mark-bgColor;
  color:$_baseTypo-mark-color;
}
