@import "../config";

$sl-baseTypo-fontFamily-bs:          $sg-fontFamily-sans-en !default;
$sl-baseTypo-fontFamily-monospace:   $sg-fontFamily-monospace-en !default;
$sl-baseTypo-fontSize-bs:            $sg-fontSize-bs !default;
$sl-baseTypo-textColor:              $sg-textColor !default;
$sl-baseTypo-lineHeight-bs:          $sg-lineHeight-bs !default;

$sl-baseTypo-link-color:             $sg-linkColor !default;
$sl-baseTypo-link-decoration:        $sg-linkDecoration !default;
$sl-baseTypo-link-colorHover:        $sg-linkColorHover !default;
$sl-baseTypo-link-decorationHover:   $sg-linkDecorationHover !default;

$sl-baseTypo-headings-space:         $sg-headings-space !default;
$sl-baseTypo-headings-weight:        $sg-headings-weight !default;
$sl-baseTypo-headings-lineHeight:    $sg-headings-lineHeight !default;
$sl-baseTypo-headings-color:         $sg-headings-color !default;

$sl-baseTypo-fontSize-h0:            $sg-fontSize-sc !default;
$sl-baseTypo-fontSize-h1:            $sg-fontSize-hg !default;
$sl-baseTypo-fontSize-h2:            $sg-fontSize-mg !default;
$sl-baseTypo-fontSize-h3:            $sg-fontSize-xl !default;
$sl-baseTypo-fontSize-h4:            $sg-fontSize-lg !default;
$sl-baseTypo-fontSize-h5:            $sg-fontSize-bs !default;
$sl-baseTypo-fontSize-h6:            $sg-fontSize-sm !default;

$sl-baseTypo-mark-bgColor:           $sg-color-primary !default;
$sl-baseTypo-mark-color:             #fff !default;

$sl-baseTypo-space-bs:               $sg-space-bs;

// ==================================
body {
  font-family: $sl-baseTypo-fontFamily-bs;
  color: $sl-baseTypo-textColor;
  font-size: $sl-baseTypo-fontSize-bs;
  line-height: $sl-baseTypo-lineHeight-bs;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: $sl-baseTypo-headings-space 0;
}

p, ul, ol, dd {
  margin:0 0 $sl-baseTypo-space-bs 0;
}

// a -------------------------
a {
  color: $sl-baseTypo-link-color;
  text-decoration: $sl-baseTypo-link-decoration;
}
a:hover,
a:focus,
a:active  {
  color: $sl-baseTypo-link-colorHover;
  text-decoration: $sl-baseTypo-link-decorationHover;
}

//  Headding  -------------------------
h1, h2, h3, h4, h5, h6,
.h0, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  color: $sl-baseTypo-headings-color;
  font-weight: $sl-baseTypo-headings-weight;
  line-height: $sl-baseTypo-headings-lineHeight;
}

.h0     { font-size: $sl-baseTypo-fontSize-h0; }
h1, .h1 { font-size: $sl-baseTypo-fontSize-h1; }
h2, .h2 { font-size: $sl-baseTypo-fontSize-h2; }
h3, .h3 { font-size: $sl-baseTypo-fontSize-h3; }
h4, .h4 { font-size: $sl-baseTypo-fontSize-h4; }
h5, .h5 { font-size: $sl-baseTypo-fontSize-h5; }
h6, .h6 { font-size: $sl-baseTypo-fontSize-h6; }


// list -------------------------
ul > li > ul,
ol > li > ol{
  padding-left:2rem;
  margin:0;
  list-style:inset;
}
ul,ol {
  padding-left:$sl-baseTypo-space-bs;
}

.ListInline,
.ListReset {
  padding-left: 0;
  list-style: none;
}

.ListInline {
  margin-left: -0.5rem;
  > li {
    display: inline-block;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}


// Description Lists -------------------------
dt { font-weight: bold; }
dd { margin-left: 0; }

// pre,code  -------------------------
pre,
code {
  font-family: $sl-baseTypo-fontFamily-monospace;
  white-space: pre-wrap;
}

// hr -------------------------
hr {
  display: block;
  height: .1rem;
  border: 0;
  border-top: .1rem solid #ccc;
  margin: $sl-baseTypo-space-bs 0;
  padding: 0;
}

// small -------------------------
small { font-size: 80%; }

// mark -------------------------
mark {
  padding-left:.5rem;
  padding-right:.5rem;
  background-color:$sl-baseTypo-mark-bgColor;
  color:$sl-baseTypo-mark-color;
}
