@import "../config";

// .Button--primary
$sl-Button-primary-typoColor:       #fff !default;
$sl-Button-primary-bgColor:         $sg-color-primary !default;
$sl-Button-primary-borderColor:     darken($sl-Button-primary-bgColor, 5) !default;


// .Button--primary
// ==================================
.Button--primary {
  background-color:$sl-Button-primary-bgColor;
  border-color: $sl-Button-primary-borderColor;
  color:$sl-Button-primary-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-Button-primary-typoColor;
    color:$sl-Button-primary-bgColor;
    border-color: $sl-Button-primary-borderColor;
  }
}


.ButtonBorder--primary {
  border-color: $sl-Button-primary-bgColor;
  color:$sl-Button-primary-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-Button-primary-bgColor;
    color:$sl-Button-primary-typoColor;
    border-color: $sl-Button-primary-borderColor;
  }
}
