@import "../config";

// .is-success
$sl-Button-success-typoColor:       #fff !default;
$sl-Button-success-bgColor:         $sg-color-success !default;
$sl-Button-success-borderColor:     darken($sl-Button-success-bgColor, 5) !default;

// .is-notice
$sl-Button-notice-typoColor:        #fff !default;
$sl-Button-notice-bgColor:          $sg-color-notice !default;
$sl-Button-notice-borderColor:      darken($sl-Button-notice-bgColor, 5) !default;

// .is-warning
$sl-Button-warning-typoColor:       #fff !default;
$sl-Button-warning-bgColor:         $sg-color-warning !default;
$sl-Button-warning-borderColor:     darken($sl-Button-warning-bgColor, 5) !default;

// .is-error
$sl-Button-error-typoColor:         #fff !default;
$sl-Button-error-bgColor:           $sg-color-error !default;
$sl-Button-error-borderColor:       darken($sl-Button-error-bgColor, 5) !default;


// .Button--success
// ==================================
.Button.is-success,
.Button--success {
  background-color:$sl-Button-success-bgColor;
  border-color: $sl-Button-success-borderColor;
  color:$sl-Button-success-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-Button-success-typoColor;
    color:$sl-Button-success-bgColor;
  }
}

.ButtonBorder.is-success,
.ButtonBorder--success {
  border-color: $sl-Button-success-bgColor;
  color:$sl-Button-success-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-Button-success-bgColor;
    color:$sl-Button-success-typoColor;
    border-color: $sl-Button-success-borderColor;
  }
}

.ButtonReset.is-success,
.ButtonReset--success {
  color:$sl-Button-success-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    color:darken($sl-Button-success-bgColor,10);
  }
}

// .is-notice
// ==================================
.Button.is-notice,
.Button--notice {
  background-color:$sl-Button-notice-bgColor;
  border-color: $sl-Button-notice-borderColor;
  color:$sl-Button-notice-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-Button-notice-typoColor;
    color:$sl-Button-notice-bgColor;
  }
}

.ButtonBorder.is-notice,
.ButtonBorder--notice {
  border-color: $sl-Button-notice-bgColor;
  color:$sl-Button-notice-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-Button-notice-bgColor;
    color:$sl-Button-notice-typoColor;
    border-color: $sl-Button-notice-borderColor;
  }
}

.ButtonReset.is-notice,
.ButtonReset--notice {
  color:$sl-Button-notice-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    color:darken($sl-Button-notice-bgColor,10);
  }
}

// .is-warning
// ==================================
.Button.is-warning,
.Button--warning {
  background-color:$sl-Button-warning-bgColor;
  border-color: $sl-Button-warning-borderColor;
  color:$sl-Button-warning-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-Button-warning-typoColor;
    color:$sl-Button-warning-bgColor;
  }
}

.ButtonBorder.is-warning,
.ButtonBorder--warning {
  border-color: $sl-Button-warning-bgColor;
  color:$sl-Button-warning-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-Button-warning-bgColor;
    color:$sl-Button-warning-typoColor;
    border-color: $sl-Button-warning-borderColor;
  }
}

.ButtonReset.is-warning,
.ButtonReset--warning {
  color:$sl-Button-warning-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    color:darken($sl-Button-warning-bgColor,10);
  }
}

// .is-error
// ==================================
.Button.is-error,
.Button--error {
  background-color:$sl-Button-error-bgColor;
  border-color: $sl-Button-error-borderColor;
  color:$sl-Button-error-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-Button-error-typoColor;
    color:$sl-Button-error-bgColor;
  }
}

.ButtonBorder.is-error,
.ButtonBorder--error {
  border-color: $sl-Button-error-bgColor;
  color:$sl-Button-error-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-Button-error-bgColor;
    color:$sl-Button-error-typoColor;
    border-color: $sl-Button-error-borderColor;
  }
}

.ButtonReset.is-error,
.ButtonReset--error {
  color:$sl-Button-error-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    color:darken($sl-Button-error-bgColor,10);
  }
}
