@import "../config";

// .Btn--primary
$sl-Btn-primary-typoColor:       #fff !default;
$sl-Btn-primary-bgColor:         $sg-color-primary !default;
$sl-Btn-primary-borderColor:     $sl-Btn-primary-bgColor !default;


// .Btn--primary
// ==================================
.Btn.Btn--primary {
  background-color:$sl-Btn-primary-bgColor;
  border-color: $sl-Btn-primary-borderColor;
  color:$sl-Btn-primary-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-Btn-primary-typoColor;
    color:$sl-Btn-primary-bgColor;
  }
}


.BtnBorder.Btn--primary {
  border-color: $sl-Btn-primary-bgColor;
  color:$sl-Btn-primary-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-Btn-primary-bgColor;
    color:$sl-Btn-primary-typoColor;
  }
}
