@import "../config";

// Size
$_Btn-paddingV-xl:              $paddingV-xl !default;
$_Btn-paddingH-xl:              $paddingH-xl !default;
$_Btn-paddingV-lg:              $paddingV-lg !default;
$_Btn-paddingH-lg:              $paddingH-lg !default;
$_Btn-paddingV-bs:              $paddingV-bs !default;
$_Btn-paddingH-bs:              $paddingH-bs !default;
$_Btn-paddingV-sm:              $paddingV-sm !default;
$_Btn-paddingH-sm:              $paddingH-sm !default;

$_Btn-fontSize-xl:              $fontSize-xl !default;
$_Btn-fontSize-lg:              $fontSize-lg !default;
$_Btn-fontSize-bs:              $fontSize-bs !default;
$_Btn-fontSize-sm:              $fontSize-sm !default;

$_Btn-borderRadius-xl:          $borderRadius-lg !default;
$_Btn-borderRadius-lg:          $borderRadius-lg !default;
$_Btn-borderRadius-bs:          $borderRadius-bs !default;
$_Btn-borderRadius-sm:          $borderRadius-sm !default;

// .Btn
$_Btn-typoColor:                #fff !default;
$_Btn-bgColor:                  #ccc !default;

// .BtnBorder
$_BtnBorder-borderSize:         2px !default;
$_BtnBorder-borderColor:        $_Btn-bgColor !default;
$_BtnBorder-typoColor:          $_BtnBorder-borderColor !default;
$_BtnBorder-hover-typoColor:    #fff !default;

// .BtnSimple
$_BtnLink-typoColor:            $color-primary !default;
$_BtnLink-hover-typoColor:      $color-primary-dark !default;


// ==================================
button {
  // font-family: inherit;
  // font-size: inherit;
  // line-height: inherit;
  // outline:0;
}

// ==================================
button,
.Btn,
.BtnSimple,
.BtnBorder {
  box-sizing: border-box;
  box-shadow: none;
  display: inline-block;
  height: auto;
  margin: 0;
  padding: $_Btn-paddingV-bs $_Btn-paddingH-bs;
  border-radius: $_Btn-borderRadius-bs;
  border: $_BtnBorder-borderSize solid transparent;
  background-image: none;
  font-family: inherit;
  font-size: $_Btn-fontSize-bs;
  font-weight:bold;
  text-decoration: none;
  text-align: center;
  line-height: inherit;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  transition: all 200ms ease-out;
  -webkit-appearance: none;
  &.is-disabled,
  &[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65;
  }
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}


// ==================================
.Btn {
  background-color:$_Btn-bgColor;
  color:$_Btn-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:transparent;
    border-color: $_Btn-bgColor;
    color: $_Btn-bgColor;
    text-decoration: none;
  }
}

// ==================================
.BtnBorder {
  background-color:transparent;
  border-color: $_BtnBorder-borderColor;
  color: $_BtnBorder-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$_BtnBorder-typoColor;
    color: $_BtnBorder-hover-typoColor;
    text-decoration: none;
  }
}


// ==================================
.BtnSimple {
  background-color:transparent;
  color:$_BtnLink-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active {
    border-color: transparent;
    color:$_BtnLink-hover-typoColor;
    text-decoration: underline;
  }
}


// ==================================
.Btn--pill {
  border-radius: 5rem;
}


// ==================================
.Btn--xl {
  padding: ($_Btn-paddingV-xl - .2) ($_Btn-paddingH-xl - .2);
  font-size: $_Btn-fontSize-xl;
  border-radius: $_Btn-borderRadius-xl;
}
.Btn--lg {
  padding: ($_Btn-paddingV-lg - .2) ($_Btn-paddingH-lg - .2);
  font-size: $_Btn-fontSize-lg;
  border-radius: $_Btn-borderRadius-lg;
}
.Btn--sm{
  padding: ($_Btn-paddingV-sm - .2) ($_Btn-paddingH-sm - .2);
  font-size: $_Btn-fontSize-sm;
  border-radius: $_Btn-borderRadius-sm;
}


// ==================================
.Btn--full {
  display: block;
  width: 100%;
}
.Btn--full + .Btn--full {
  margin-top: 5px;
}
