@import "../config";

// Size
$sl-Btn-paddingV-xl:              $sg-paddingV-xl !default;
$sl-Btn-paddingH-xl:              $sg-paddingH-xl !default;
$sl-Btn-paddingV-lg:              $sg-paddingV-lg !default;
$sl-Btn-paddingH-lg:              $sg-paddingH-lg !default;
$sl-Btn-paddingV-bs:              $sg-paddingV-bs !default;
$sl-Btn-paddingH-bs:              $sg-paddingH-bs !default;
$sl-Btn-paddingV-sm:              $sg-paddingV-sm !default;
$sl-Btn-paddingH-sm:              $sg-paddingH-sm !default;

$sl-Btn-fontSize-xl:              $sg-fontSize-xl !default;
$sl-Btn-fontSize-lg:              $sg-fontSize-lg !default;
$sl-Btn-fontSize-bs:              $sg-fontSize-bs !default;
$sl-Btn-fontSize-sm:              $sg-fontSize-sm !default;

$sl-Btn-borderRadius-xl:          $sg-borderRadius-lg !default;
$sl-Btn-borderRadius-lg:          $sg-borderRadius-lg !default;
$sl-Btn-borderRadius-bs:          $sg-borderRadius-bs !default;
$sl-Btn-borderRadius-sm:          $sg-borderRadius-sm !default;

// .Btn
$sl-Btn-typoColor:                #fff !default;
$sl-Btn-bgColor:                  #ccc !default;

// .BtnBorder
$sl-BtnBorder-borderSize:         2px !default;
$sl-BtnBorder-borderColor:        $sl-Btn-bgColor !default;
$sl-BtnBorder-typoColor:          $sl-BtnBorder-borderColor !default;
$sl-BtnBorder-hover-typoColor:    #fff !default;

// .BtnSimple
$sl-BtnLink-typoColor:            $sg-color-primary !default;
$sl-BtnLink-hover-typoColor:      $sg-color-primary-dark !default;


// ==================================
button {
  // font-family: inherit;
  // font-size: inherit;
  // line-height: inherit;
  // outline:0;
}

// ==================================
button,
.Btn,
.BtnSimple,
.BtnBorder {
  box-sizing: border-box;
  box-shadow: none;
  display: inline-block;
  height: auto;
  margin: 0;
  padding: $sl-Btn-paddingV-bs $sl-Btn-paddingH-bs;
  border-radius: $sl-Btn-borderRadius-bs;
  border: $sl-BtnBorder-borderSize solid transparent;
  background-image: none;
  font-family: inherit;
  font-size: $sl-Btn-fontSize-bs;
  font-weight:bold;
  text-decoration: none;
  text-align: center;
  line-height: inherit;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  transition: all 200ms ease-out;
  -webkit-appearance: none;
  &.is-disabled,
  &[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65;
  }
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}


// ==================================
.Btn {
  background-color:$sl-Btn-bgColor;
  color:$sl-Btn-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:transparent;
    border-color: $sl-Btn-bgColor;
    color: $sl-Btn-bgColor;
    text-decoration: none;
  }
}

// ==================================
.BtnBorder {
  background-color:transparent;
  border-color: $sl-BtnBorder-borderColor;
  color: $sl-BtnBorder-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-BtnBorder-typoColor;
    color: $sl-BtnBorder-hover-typoColor;
    text-decoration: none;
  }
}


// ==================================
.BtnSimple {
  background-color:transparent;
  color:$sl-BtnLink-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active {
    border-color: transparent;
    color:$sl-BtnLink-hover-typoColor;
    text-decoration: underline;
  }
}


// ==================================
.Btn--pill {
  border-radius: 5rem;
}


// ==================================
.Btn--xl {
  padding: ($sl-Btn-paddingV-xl - .2) ($sl-Btn-paddingH-xl - .2);
  font-size: $sl-Btn-fontSize-xl;
  border-radius: $sl-Btn-borderRadius-xl;
}
.Btn--lg {
  padding: ($sl-Btn-paddingV-lg - .2) ($sl-Btn-paddingH-lg - .2);
  font-size: $sl-Btn-fontSize-lg;
  border-radius: $sl-Btn-borderRadius-lg;
}
.Btn--sm{
  padding: ($sl-Btn-paddingV-sm - .2) ($sl-Btn-paddingH-sm - .2);
  font-size: $sl-Btn-fontSize-sm;
  border-radius: $sl-Btn-borderRadius-sm;
}


// ==================================
.Btn--full {
  display: block;
  width: 100%;
}
.Btn--full + .Btn--full {
  margin-top: 5px;
}
