@import "../config";

// .is-success
$sl-Btn-success-typoColor:       #fff !default;
$sl-Btn-success-bgColor:         $sg-color-success !default;
$sl-Btn-success-borderColor:     darken($sl-Btn-success-bgColor, 5) !default;

// .is-notice
$sl-Btn-notice-typoColor:        #fff !default;
$sl-Btn-notice-bgColor:          $sg-color-notice !default;
$sl-Btn-notice-borderColor:      darken($sl-Btn-notice-bgColor, 5) !default;

// .is-warning
$sl-Btn-warning-typoColor:       #fff !default;
$sl-Btn-warning-bgColor:         $sg-color-warning !default;
$sl-Btn-warning-borderColor:     darken($sl-Btn-warning-bgColor, 5) !default;

// .is-error
$sl-Btn-error-typoColor:         #fff !default;
$sl-Btn-error-bgColor:           $sg-color-error !default;
$sl-Btn-error-borderColor:       darken($sl-Btn-error-bgColor, 5) !default;


// .Btn--success
// ==================================
.Btn.is-success,
.Btn--success {
  background-color:$sl-Btn-success-bgColor;
  border-color: $sl-Btn-success-borderColor;
  color:$sl-Btn-success-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-Btn-success-typoColor;
    color:$sl-Btn-success-bgColor;
  }
}

.BtnBorder.is-success,
.BtnBorder--success {
  border-color: $sl-Btn-success-bgColor;
  color:$sl-Btn-success-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-Btn-success-bgColor;
    color:$sl-Btn-success-typoColor;
    border-color: $sl-Btn-success-borderColor;
  }
}

.BtnReset.is-success,
.BtnReset--success {
  color:$sl-Btn-success-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    color:darken($sl-Btn-success-bgColor,10);
  }
}

// .is-notice
// ==================================
.Btn.is-notice,
.Btn--notice {
  background-color:$sl-Btn-notice-bgColor;
  border-color: $sl-Btn-notice-borderColor;
  color:$sl-Btn-notice-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-Btn-notice-typoColor;
    color:$sl-Btn-notice-bgColor;
  }
}

.BtnBorder.is-notice,
.BtnBorder--notice {
  border-color: $sl-Btn-notice-bgColor;
  color:$sl-Btn-notice-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-Btn-notice-bgColor;
    color:$sl-Btn-notice-typoColor;
    border-color: $sl-Btn-notice-borderColor;
  }
}

.BtnReset.is-notice,
.BtnReset--notice {
  color:$sl-Btn-notice-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    color:darken($sl-Btn-notice-bgColor,10);
  }
}

// .is-warning
// ==================================
.Btn.is-warning,
.Btn--warning {
  background-color:$sl-Btn-warning-bgColor;
  border-color: $sl-Btn-warning-borderColor;
  color:$sl-Btn-warning-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-Btn-warning-typoColor;
    color:$sl-Btn-warning-bgColor;
  }
}

.BtnBorder.is-warning,
.BtnBorder--warning {
  border-color: $sl-Btn-warning-bgColor;
  color:$sl-Btn-warning-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-Btn-warning-bgColor;
    color:$sl-Btn-warning-typoColor;
    border-color: $sl-Btn-warning-borderColor;
  }
}

.BtnReset.is-warning,
.BtnReset--warning {
  color:$sl-Btn-warning-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    color:darken($sl-Btn-warning-bgColor,10);
  }
}

// .is-error
// ==================================
.Btn.is-error,
.Btn--error {
  background-color:$sl-Btn-error-bgColor;
  border-color: $sl-Btn-error-borderColor;
  color:$sl-Btn-error-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-Btn-error-typoColor;
    color:$sl-Btn-error-bgColor;
  }
}

.BtnBorder.is-error,
.BtnBorder--error {
  border-color: $sl-Btn-error-bgColor;
  color:$sl-Btn-error-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$sl-Btn-error-bgColor;
    color:$sl-Btn-error-typoColor;
    border-color: $sl-Btn-error-borderColor;
  }
}

.BtnReset.is-error,
.BtnReset--error {
  color:$sl-Btn-error-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    color:darken($sl-Btn-error-bgColor,10);
  }
}
