@import "../config";

// Size
$_Btn-paddingV-xl:              $g-padding-xl-vertical !default;
$_Btn-paddingH-xl:              $g-padding-xl-horizontal !default;
$_Btn-paddingV-lg:              $g-padding-lg-vertical !default;
$_Btn-paddingH-lg:              $g-padding-lg-horizontal !default;
$_Btn-paddingV-bs:              $g-padding-bs-vertical !default;
$_Btn-paddingH-bs:              $g-padding-bs-horizontal !default;
$_Btn-paddingV-sm:              $g-padding-sm-vertical !default;
$_Btn-paddingH-sm:              $g-padding-sm-horizontal !default;

$_Btn-fontSize-xl:              $g-font-size-xl !default;
$_Btn-fontSize-lg:              $g-font-size-lg !default;
$_Btn-fontSize-bs:              $g-font-size-bs !default;
$_Btn-fontSize-sm:              $g-font-size-sm !default;

$_Btn-borderRadius-xl:          $g-border-radius-lg !default;
$_Btn-borderRadius-lg:          $g-border-radius-lg !default;
$_Btn-borderRadius-bs:          $g-border-radius-bs !default;
$_Btn-borderRadius-sm:          $g-border-radius-sm !default;

// .Btn
$_Btn-typoColor:                #fff !default;
$_Btn-bgColor:                  #ccc !default;

// .BtnBorder
$_BtnBorder-borderSize:         2px !default;
$_BtnBorder-borderColor:        $_Btn-bgColor !default;
$_BtnBorder-typoColor:          $_BtnBorder-borderColor !default;
$_BtnBorder-hover-typoColor:    #fff !default;

// .BtnSimple
$_BtnLink-typoColor:            $g-color-primary !default;
$_BtnLink-hover-typoColor:      $g-color-primary-dark !default;

// .Btn--primary
$_Btn-primary-typoColor:       #fff !default;
$_Btn-primary-bgColor:         $g-color-primary !default;
$_Btn-primary-borderColor:     $_Btn-primary-bgColor !default;

// .is-success
$_Btn-success-typoColor:       #fff !default;
$_Btn-success-bgColor:         $g-color-success !default;
$_Btn-success-borderColor:     $_Btn-success-bgColor !default;

// .is-notice
$_Btn-notice-typoColor:        #fff !default;
$_Btn-notice-bgColor:          $g-color-notice !default;
$_Btn-notice-borderColor:      $_Btn-notice-bgColor !default;

// .is-warning
$_Btn-warning-typoColor:       #fff !default;
$_Btn-warning-bgColor:         $g-color-warning !default;
$_Btn-warning-borderColor:     $_Btn-warning-bgColor !default;

// .is-error
$_Btn-error-typoColor:         #fff !default;
$_Btn-error-bgColor:           $g-color-error !default;
$_Btn-error-borderColor:       $_Btn-error-bgColor !default;


// ==================================
button,
.btn,      //legacy
.btn-link, //legacy
.Btn,
.BtnSimple,
.BtnBorder {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: $_Btn-paddingV-bs $_Btn-paddingH-bs;
  border-radius: $_Btn-borderRadius-bs;
  border: $_BtnBorder-borderSize solid transparent;
  background-image: none;
  font-size: $_Btn-fontSize-bs;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: none;
  transition: all 200ms ease-out;
  &.is-disabled,
  &[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65;
  }
}


// ==================================
.btn, //legacy
.Btn {
  background-color:$_Btn-bgColor;
  color:$_Btn-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:transparent;
    border-color: $_Btn-bgColor;
    color: $_Btn-bgColor;
    text-decoration: none;
  }
}

// ==================================
.btn-border,
.BtnBorder {
  background-color:transparent;
  border-color: $_BtnBorder-borderColor;
  color: $_BtnBorder-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$_BtnBorder-typoColor;
    color: $_BtnBorder-hover-typoColor;
    text-decoration: none;
  }
}


// ==================================
.btn-link,
.BtnSimple {
  background-color:transparent;
  color:$_BtnLink-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active {
    border-color: transparent;
    color:$_BtnLink-hover-typoColor;
    text-decoration: underline;
  }
}


// ==================================
.btn--xl,
.Btn--xl {
  padding: ($_Btn-paddingV-xl - .2) ($_Btn-paddingH-xl - .2);
  font-size: $_Btn-fontSize-xl;
  border-radius: $_Btn-borderRadius-xl;
}

.btn--lg,
.Btn--lg {
  padding: ($_Btn-paddingV-lg - .2) ($_Btn-paddingH-lg - .2);
  font-size: $_Btn-fontSize-lg;
  border-radius: $_Btn-borderRadius-lg;
}


.btn--sm,
.Btn--sm{
  padding: ($_Btn-paddingV-sm - .2) ($_Btn-paddingH-sm - .2);
  font-size: $_Btn-fontSize-sm;
  border-radius: $_Btn-borderRadius-sm;
}


// ==================================
.btn--full,
.Btn--full {
  display: block;
  width: 100%;
}
.btn--full + .btn--full,
.Btn--full + .Btn--full {
  margin-top: 5px;
}

// .Btn--primary
// ==================================
.Btn.Btn--primary {
  background-color:$_Btn-primary-bgColor;
  border-color: $_Btn-primary-borderColor;
  color:$_Btn-primary-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$_Btn-primary-typoColor;
    color:$_Btn-primary-bgColor;
  }
}


.BtnBorder.Btn--primary {
  border-color: $_Btn-primary-bgColor;
  color:$_Btn-primary-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$_Btn-primary-bgColor;
    color:$_Btn-primary-typoColor;
  }
}

// .Btn--success
// ==================================
.Btn.is-success {
  background-color:$_Btn-success-bgColor;
  border-color: $_Btn-success-borderColor;
  color:$_Btn-success-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$_Btn-success-typoColor;
    color:$_Btn-success-bgColor;
  }
}

.BtnBorder.is-success {
  border-color: $_Btn-success-bgColor;
  color:$_Btn-success-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$_Btn-success-bgColor;
    color:$_Btn-success-typoColor;
  }
}

.BtnSimple.is-success {
  color:$_Btn-success-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    color:darken($_Btn-success-bgColor,10);
  }
}

// .is-notice
// ==================================
.Btn.is-notice {
  background-color:$_Btn-notice-bgColor;
  border-color: $_Btn-notice-borderColor;
  color:$_Btn-notice-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$_Btn-notice-typoColor;
    color:$_Btn-notice-bgColor;
  }
}

.BtnBorder.is-notice {
  border-color: $_Btn-notice-bgColor;
  color:$_Btn-notice-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$_Btn-notice-bgColor;
    color:$_Btn-notice-typoColor;
  }
}

.BtnSimple.is-notice {
  color:$_Btn-notice-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    color:darken($_Btn-notice-bgColor,10);
  }
}

// .is-warning
// ==================================
.Btn.is-warning {
  background-color:$_Btn-warning-bgColor;
  border-color: $_Btn-warning-borderColor;
  color:$_Btn-warning-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$_Btn-warning-typoColor;
    color:$_Btn-warning-bgColor;
  }
}

.BtnBorder.is-warning {
  border-color: $_Btn-warning-bgColor;
  color:$_Btn-warning-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$_Btn-warning-bgColor;
    color:$_Btn-warning-typoColor;
  }
}

.BtnSimple.is-warning {
  color:$_Btn-warning-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    color:darken($_Btn-warning-bgColor,10);
  }
}

// .is-error
// ==================================
.Btn.is-error {
  background-color:$_Btn-error-bgColor;
  border-color: $_Btn-error-borderColor;
  color:$_Btn-error-typoColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$_Btn-error-typoColor;
    color:$_Btn-error-bgColor;
  }
}

.BtnBorder.is-error {
  border-color: $_Btn-error-bgColor;
  color:$_Btn-error-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    background-color:$_Btn-error-bgColor;
    color:$_Btn-error-typoColor;
  }
}

.BtnSimple.is-error {
  color:$_Btn-error-bgColor;
  &:hover,
  &:focus,
  &:active,
  &.is-active{
    color:darken($_Btn-error-bgColor,10);
  }
}
