@import "../config";

// container & grid
// ==========================
$_Container-gutter-width:    $space-bs !default;
$_Container-sm:              (72rem + $_Container-gutter-width) !default;
$_Container-md:              (94rem + $_Container-gutter-width )!default;
$_Container-lg:              (114rem + $_Container-gutter-width ) !default;
$_Container-screen-xs-min:   $screen-xs-min !default;
$_Container-screen-sm-min:   $screen-sm-min !default;
$_Container-screen-md-min:   $screen-md-min !default;
$_Container-screen-lg-min:   $screen-lg-min !default;

// ==================================
.ContainerSlim,
.ContainerFull,
.Container {
  box-sizing:border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: ($_Container-gutter-width / 2);
  padding-right: ($_Container-gutter-width / 2);
}

.Container {
  @media (min-width: $_Container-screen-sm-min) {
    width: $_Container-sm;
  }
  @media (min-width: $_Container-screen-md-min) {
    width: $_Container-md;
  }
  @media (min-width: $_Container-screen-lg-min) {
    width: $_Container-lg;
  }
}

.ContainerSlim {
  max-width: $_Container-sm;
}
