@import "../config";

// container & grid
// ==========================
$sl-Container-gutter-width:    $sg-Container-gutter-width !default;
$sl-Container-sm:              $sg-Container-sm !default;
$sl-Container-md:              $sg-Container-md !default;
$sl-Container-lg:              $sg-Container-lg !default;
$sl-Container-screen-xs-min:   $sg-Container-screen-xs-min !default;
$sl-Container-screen-sm-min:   $sg-Container-screen-sm-min !default;
$sl-Container-screen-md-min:   $sg-Container-screen-md-min !default;
$sl-Container-screen-lg-min:   $sg-Container-screen-lg-min !default;

// ==================================
.ContainerSlim,
.ContainerFull,
.Container {
  box-sizing:border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: $sl-Container-gutter-width;
  padding-right: $sl-Container-gutter-width;
}

.Container {
  @media (min-width: $sl-Container-screen-sm-min) {
    width: $sl-Container-sm;
  }
  @media (min-width: $sl-Container-screen-md-min) {
    width: $sl-Container-md;
  }
  @media (min-width: $sl-Container-screen-lg-min) {
    width: $sl-Container-lg;
  }
}

.ContainerSlim {
  max-width: $sl-Container-sm;
}
