@import '../config';

// Size
$sl-Form-paddingV-xl:     $sg-paddingV-xl !default;
$sl-Form-paddingH-xl:     $sg-paddingH-xl !default;
$sl-Form-paddingV-lg:     $sg-paddingV-lg !default;
$sl-Form-paddingH-lg:     $sg-paddingH-lg !default;
$sl-Form-paddingV-bs:     $sg-paddingV-bs !default;
$sl-Form-paddingH-bs:     $sg-paddingH-bs !default;
$sl-Form-paddingV-sm:     $sg-paddingV-sm !default;
$sl-Form-paddingH-sm:     $sg-paddingH-sm !default;

$sl-Form-fontSize-xl:     $sg-fontSize-xl !default;
$sl-Form-fontSize-lg:     $sg-fontSize-lg !default;
$sl-Form-fontSize-bs:     $sg-fontSize-bs !default;
$sl-Form-fontSize-sm:     $sg-fontSize-sm !default;

$sl-Form-borderRadius-xl: $sg-borderRadius-lg !default;
$sl-Form-borderRadius-lg: $sg-borderRadius-lg !default;
$sl-Form-borderRadius-bs: $sg-borderRadius-bs !default;
$sl-Form-borderRadius-sm: $sg-borderRadius-sm !default;

$sl-Form-bgColor:         transparent !default;
$sl-Form-borderSize:      $sg-ButtonAndForm-borderSize !default;
$sl-Form-borderColor:     $sg-ButtonAndForm-baseColor !default;

$sl-Form-color-focus:     $sg-focusColor !default;
$sl-Form-color-disabled:  $sl-Form-borderColor !default;

$sl-Form-height-xl:       $sg-ButtonAndForm-height-xl !default;
$sl-Form-height-lg:       $sg-ButtonAndForm-height-lg !default;
$sl-Form-height-bs:       $sg-ButtonAndForm-height-bs !default;
$sl-Form-height-sm:       $sg-ButtonAndForm-height-sm !default;


// ==================================
input {
  -webkit-appearance: none;
}

.Input,
.Form,
.Select,
select,
textarea,
// input
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'] {
  font-family: inherit;
  font-size: $sl-Form-fontSize-bs;
  display: inline-block;
  box-sizing: border-box;
  height: $sl-Form-height-bs;
  padding: $sl-Form-paddingV-bs $sl-Form-paddingH-bs;
  line-height: inherit;
  vertical-align: middle;
  border: $sl-Form-borderSize solid $sl-Form-borderColor;
  border-radius: $sl-Form-borderRadius-bs;
  background-color: $sl-Form-bgColor;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.08);
  transition: border ease-in-out .15s,box-shadow ease-in-out .15s;
  &.is-focus,
  &:focus {
    border: $sl-Form-borderSize solid $sl-Form-color-focus;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba($sl-Form-color-focus,.4),0 0 8px rgba($sl-Form-color-focus,.4);
  }
  &.is-disabled,
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    background-color: lighten($sl-Form-color-disabled,10);
  }
}


// ==================================
.Input--xl,
.Select--xl,
.Form--xl {
  font-size: $sl-Form-fontSize-xl !important;
  padding: $sl-Form-paddingV-xl $sl-Form-paddingH-bs !important;
  border-radius: $sl-Form-borderRadius-xl !important;
  height:$sl-Form-height-xl !important;
}

.Input--lg,
.Select--lg,
.Form--lg {
  font-size: $sl-Form-fontSize-lg !important;
  padding: $sl-Form-paddingV-lg $sl-Form-paddingH-bs !important;
  border-radius: $sl-Form-borderRadius-lg !important;
  height:$sl-Form-height-lg !important;
}

.Input--sm,
.Select--sm,
.Form--sm {
  font-size: $sl-Form-fontSize-sm !important;
  padding: $sl-Form-paddingV-sm $sl-Form-paddingH-bs !important;
  border-radius: $sl-Form-borderRadius-sm !important;
  height:$sl-Form-height-sm !important;
}


// ==================================
.Input--full,
.Select--full,
.Form--full {
  display: block;
  width: 100%;
}
.Input--full + .Input--full,
.Select--full + .Select--full,
.Form--full + .Form--full {
  margin-top: 5px;
}
