@import "../config";

// .is-success
$sl-Frm-success-typoColor:       $sg-color-success !default;
$sl-Frm-success-bgColor:         $sg-color-success !default;
$sl-Frm-success-borderColor:     $sg-color-success !default;
$sl-Frm-success-focus:           $sg-color-success !default;

// .is-notice
$sl-Frm-notice-typoColor:        $sg-color-notice !default;
$sl-Frm-notice-bgColor:          $sg-color-notice !default;
$sl-Frm-notice-borderColor:      $sg-color-notice !default;
$sl-Frm-notice-focus:            $sg-color-notice !default;

// .is-warning
$sl-Frm-warning-typoColor:       $sg-color-warning !default;
$sl-Frm-warning-bgColor:         $sg-color-warning !default;
$sl-Frm-warning-borderColor:     $sg-color-warning !default;
$sl-Frm-warning-focus:           $sg-color-warning !default;

// .is-error
$sl-Frm-error-typoColor:         $sg-color-error !default;
$sl-Frm-error-bgColor:           $sg-color-error !default;
$sl-Frm-error-borderColor:       $sg-color-error !default;
$sl-Frm-error-focus:             $sg-color-error !default;


// .Frm--success
// ==================================
.Frm.is-success,
.Frm.Frm--success {
  background-color:lighten($sl-Frm-success-bgColor,55);
  border-color: $sl-Frm-success-borderColor;
  color:$sl-Frm-success-typoColor;
  &.is-focus,
  &:focus {
    border: $sl-Frm-borderSize solid $sl-Frm-success-focus;
    box-shadow: inset 0 1px 1px rgba($sl-Frm-success-focus,.4),0 0 8px rgba($sl-Frm-success-focus,.4);
  }
}

// .is-notice
// ==================================
.Frm.is-notice,
.Frm.Frm--notice {
  background-color:lighten($sl-Frm-notice-bgColor,25);
  border-color: $sl-Frm-notice-borderColor;
  color:$sl-Frm-notice-typoColor;
  &.is-focus,
  &:focus {
    border: $sl-Frm-borderSize solid $sl-Frm-notice-focus;
    box-shadow: inset 0 1px 1px rgba($sl-Frm-notice-focus,.6),0 0 8px rgba($sl-Frm-notice-focus,.6);
  }
}

// .is-warning
// ==================================
.Frm.is-warning,
.Frm.Frm--warning {
  background-color:lighten($sl-Frm-warning-bgColor,40);
  border-color: $sl-Frm-warning-borderColor;
  color:$sl-Frm-warning-typoColor;
  &.is-focus,
  &:focus {
    border: $sl-Frm-borderSize solid $sl-Frm-warning-focus;
    box-shadow: inset 0 1px 1px rgba($sl-Frm-warning-focus,.6),0 0 8px rgba($sl-Frm-warning-focus,.6);
  }
}

// .is-error
// ==================================
.Frm.is-error,
.Frm.Frm--error {
  background-color:lighten($sl-Frm-error-bgColor,35);
  border-color: $sl-Frm-error-borderColor;
  color:$sl-Frm-error-typoColor;
  &.is-focus,
  &:focus {
    border: $sl-Frm-borderSize solid $sl-Frm-error-focus;
    box-shadow: inset 0 1px 1px rgba($sl-Frm-error-focus,.4),0 0 8px rgba($sl-Frm-error-focus,.4);
  }
}
