@import "../config";

$l-grid-gutter-width:       $g-container-gutter-width !default;
$l-grid-col-font-size-bs:   $g-font-size-bs !default;
$l-grid-screen-xs-min:      $g-screen-xs-min !default;

// Row
// =====================================
.row-inline-block,// Deprecated
.row-float,       // Deprecated
.RowTable,        // Deprecated
.row-table,       // Deprecated
.Row {
  font-size: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-left: -($l-grid-gutter-width / 2);
  margin-right: -($l-grid-gutter-width / 2);
  @extend .t-clear;
  //
  // letter-spacing: -0.4em; //firefox
  // word-spacing: -1em; //opera
  > .col, // Deprecated
  > .Row-col {
    box-sizing:border-box;
    font-size: $l-grid-col-font-size-bs;
    //
    // letter-spacing: normal;//firefox
    // word-spacing: normal; //opera
  }
}

.row-inline-block, // Deprecated
.Row {
  display: block;
  > .col, // Deprecated
  > .Row-col {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 100%;
  }
}

.row-float, // Deprecated
.Row--float {
  > .col,
  > .Row-col {
    float: left;
  }
}

.row-table, // Deprecated
.Row--table {
  width:calc(100% + 2.4rem);
  padding:0;
  > .col,
  > .Row-col {
    width:100%;
  }
  @media (min-width: $l-grid-screen-xs-min) {
    display: table;
    table-layout: fixed;
    > .col, // Deprecated
    > .Row-col {
      display: table-cell;
    }
  }
}

// `.row` Modifier
// -------------------------------
.row--center, // Deprecated
.Row--center { text-align: center; }
.row--right, // Deprecated
.Row--right  { text-align: right; }
.row--left,  // Deprecated
.Row--left   { text-align: left; }

.row--top > .col,        // Deprecated
.Row--top > .Row-col     { vertical-align: top; }
.row--middle > .col,     // Deprecated
.Row--middle > .Row-col  { vertical-align: middle; }
.row--bottom > .col,     // Deprecated
.Row--bottom > .Row-col  { vertical-align: bottom; }


// Columns
// =====================================
.col, // Deprecated
.Row-col {
  min-height: 1px;
  padding-left: ($l-grid-gutter-width / 2);
  padding-right: ($l-grid-gutter-width / 2);
  position: relative;
}
