@import "../config";
@import "../modules/container";

$sl-Row-gutter-width:       $sg-Container-gutter-width !default;
$sl-Row-col-fontSize-bs:    $sg-fontSize-bs !default;
$sl-Row-screen-wxs-min:     $sg-screen-wxs-min !default;

// Row
// =====================================
.Row {
  font-size: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-left: -$sl-Row-gutter-width;
  margin-right: -$sl-Row-gutter-width;
  @extend .t-clear;
  //
  // letter-spacing: -0.4em; //firefox
  // word-spacing: -1em; //opera
  > .Row-col {
    box-sizing:border-box;
    font-size: $sl-Row-col-fontSize-bs;
    //
    // letter-spacing: normal;//firefox
    // word-spacing: normal; //opera
  }
}

.Row {
  display: block;
  > .Row-col {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 100%;
  }
}

.Row--float {
  > .Row-col {
    float: left;
  }
}

.Row--table {
  width:calc(100% + 2.4rem);
  padding:0;
  > .Row-col {
    width:100%;
  }
  @media (min-width: $sl-Row-screen-wxs-min) {
    display: table;
    table-layout: fixed;
    > .Row-col {
      display: table-cell;
    }
  }
}

// `.row` Modifier
// -------------------------------
.Row--center { text-align: center; }
.Row--right  { text-align: right; }
.Row--left   { text-align: left; }

.Row--top > .Row-col     { vertical-align: top; }
.Row--middle > .Row-col  { vertical-align: middle; }
.Row--bottom > .Row-col  { vertical-align: bottom; }


// Columns
// =====================================
.Row-col {
  min-height: 1px;
  padding-left: $sl-Row-gutter-width;
  padding-right: $sl-Row-gutter-width;
  position: relative;
}
