@import "../config";

$l-btn-default-color:              $g-color-gray-darker !default;
$l-btn-default-bg:                 $g-color-gray-light !default;
$l-btn-default-border:             $l-btn-default-bg !default;

$l-btn-primary-color:              #fff !default;
$l-btn-primary-bg:                 $g-color-primary !default;
$l-btn-primary-border:             $l-btn-primary-bg !default;

$l-btn-padding-xl-vertical:        $g-padding-xl-vertical !default;
$l-btn-padding-xl-horizontal:      $g-padding-xl-horizontal !default;
$l-btn-padding-lg-vertical:        $g-padding-lg-vertical !default;
$l-btn-padding-lg-horizontal:      $g-padding-lg-horizontal !default;
$l-btn-padding-bs-vertical:        $g-padding-bs-vertical !default;
$l-btn-padding-bs-horizontal:      $g-padding-bs-horizontal !default;
$l-btn-padding-sm-vertical:        $g-padding-sm-vertical !default;
$l-btn-padding-sm-horizontal:      $g-padding-sm-horizontal !default;

$l-btn-hover-color:               $g-link-hover-color !default;
$l-btn-border-radius-bs:          $g-border-radius-bs !default;
$l-btn-font-size-xl:              $g-font-size-xl !default;
$l-btn-font-size-lg:              $g-font-size-lg !default;
$l-btn-font-size-bs:              $g-font-size-bs !default;
$l-btn-font-size-sm:              $g-font-size-sm !default;
$l-btn-link-disabled-color:       $g-color-gray-darker !default;

$l-btn-border-radius-lg:          $g-border-radius-lg !default;
$l-btn-border-radius-bs:          $g-border-radius-bs !default;
$l-btn-border-radius-sm:          $g-border-radius-sm !default;

// ==================================

@mixin button-color($color, $background, $border, $color-hover, $background-hover, $border-hover) {
  color: $color;
  background-color: $background;
  border-color: $border;
  &:hover,
  &:focus,
  &:active,
  &.is-active {
    color: $color-hover;
    background-color: $background-hover;
    border-color: $border-hover;
  }
  &:active,
  &.is-active {
    background-image: none;
  }
  &.is-disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.is-active {
      background-color: $background;
      border-color: $border;
    }
  }
}

@mixin button-size($g-padding-vertical, $g-padding-horizontal, $g-font-size, $border-radius) {
  padding: $g-padding-vertical $g-padding-horizontal;
  font-size: $g-font-size;
  border-radius: $border-radius;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// button,
.btn,
.btn-link,
.btn-default,
.btn-primary,
.btn-border-default,
.btn-borderDefault,
.btn-border-primary,
.btn-borderPrimary {
  margin:0;
  font-weight: normal;
  text-decoration:none;
  text-align: center;
  box-sizing:border-box;
  display:inline-block;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 2px solid transparent;
  box-shadow: none;
  transition: background-color 200ms ease-out;
  $vertical : ($l-btn-padding-bs-vertical - .15);
  $horizontal : ($l-btn-padding-bs-horizontal - .15);
  @include button-size($vertical, $horizontal, $l-btn-font-size-bs, $l-btn-border-radius-bs);
  &:hover,
  &:focus {
    color: $l-btn-default-color;
    text-decoration: none;
  }
  &:active,
  &.is-active {
    background-image: none;
    outline: 0;
  }
  &.is-disabled,
  &[disabled],
  fieldset[disabled] & {
    pointer-events: none;
    cursor: not-allowed;
    opacity:.65;
  }
}

// Link btns
// -------------------------
.btn-link {
  font-weight: normal;
  color: $g-link-color;
  cursor: pointer;
  border-radius: 0;
  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    box-shadow:none;
    }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
    }
  &:hover,
  &:focus {
    color: $l-btn-hover-color;
    text-decoration: underline;
    background-color: transparent;
    }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $l-btn-link-disabled-color;
      text-decoration: none;
    }
  }
}

// Alternate btns
// --------------------------------------------------
.btn-default {
  @include button-color(
    $l-btn-default-color,
    $l-btn-default-bg,
    $l-btn-default-border,
    $l-btn-default-color,
    darken($l-btn-default-bg, 10%),
    darken($l-btn-default-bg, 12%)
  );
}
.btn-primary {
  @include button-color(
    $l-btn-primary-color,
    $l-btn-primary-bg,
    $l-btn-primary-border,
    $l-btn-primary-color,
    darken($l-btn-primary-bg, 10%),
    darken($l-btn-primary-bg, 12%)
  );
}

// border btns
// --------------------------------------------------
.btn-border-default,
.btn-borderDefault {
  @include button-color(
    $l-btn-default-color,
    #fff,
    $l-btn-default-color,
    #fff,
    $l-btn-default-color,
    $l-btn-default-color
  );
}
.btn-border-primary,
.btn-borderPrimary   {
  @include button-color(
    $l-btn-primary-bg,
    #fff,
    $l-btn-primary-bg,
    #fff,
    $l-btn-primary-bg,
    $l-btn-primary-bg
  );
}


// btn Sizes
// --------------------------------------------------
.btn--xl {
  $vertical : ($l-btn-padding-xl-vertical - .2);
  $horizontal : ($l-btn-padding-xl-horizontal - .2);
  @include button-size($vertical, $horizontal, $l-btn-font-size-xl, $l-btn-border-radius-lg);
}
.btn--lg {
  $vertical : ($l-btn-padding-lg-vertical - .2);
  $horizontal : ($l-btn-padding-lg-horizontal - .2);
  @include button-size($vertical, $horizontal, $l-btn-font-size-lg, $l-btn-border-radius-lg);
}
.btn--sm {
  $vertical : ($l-btn-padding-sm-vertical - .15);
  $horizontal : ($l-btn-padding-sm-horizontal - .15);
  @include button-size($vertical, $horizontal, $l-btn-font-size-sm, $l-btn-border-radius-sm);
}


// Block btn
// --------------------------------------------------
.btn--full {
  display: block;
  width: 100%;
}
.btn--full + .btn--full {
  margin-top: 5px;
}
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn--full {
    width: 100%;
  }
}
