@import "../config";

$btn-default-color:              $g-color-gray-darker !default;
$btn-default-bg:                 $g-color-gray-light !default;
$btn-default-border:             $btn-default-bg !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $g-color-primary !default;
$btn-primary-border:             $btn-primary-bg !default;

$btn-link-disabled-color:       $g-color-gray-darker !default;

// ==================================

@mixin button-color($color, $background, $border, $color-hover, $background-hover, $border-hover) {
  color: $color;
  background-color: $background;
  border-color: $border;
  &:hover,
  &:focus,
  &.is-focus,
  &:active,
  &.is-active {
    color: $color-hover;
    background-color: $background-hover;
    border-color: $border-hover;
  }
  &:active,
  &.is-active {
    background-image: none;
  }
  &.is-disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.is-focus,
    &:active,
    &.is-active {
      background-color: $background;
      border-color: $border;
    }
  }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// button,
.btn,
.btn-link,
.btn-default,
.btn-primary,
.btn-border-default,
.btn-border-primary {
  margin:0;
  font-weight: normal;
  text-decoration:none;
  text-align: center;
  box-sizing:border-box;
  display:inline-block;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 2px solid transparent;
  box-shadow: none;
  transition: background-color 200ms ease-out;
  $vertical : ($g-padding-bs-vertical - .15);
  $horizontal : ($g-padding-bs-horizontal - .15);
  @include button-size($vertical, $horizontal, $g-font-size-bs, $g-border-radius-bs);
  &:hover,
  &:focus {
    color: $btn-default-color;
    text-decoration: none;
  }
  &:active,
  &.is-active {
    background-image: none;
    outline: 0;
  }
  &.is-disabled,
  &[disabled],
  fieldset[disabled] & {
    pointer-events: none;
    cursor: not-allowed;
    opacity:.65;
  }
}

// Link btns
// -------------------------
.btn-link {
  font-weight: normal;
  color: $g-link-color;
  cursor: pointer;
  border-radius: 0;
  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    box-shadow:none;
    }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
    }
  &:hover,
  &:focus {
    color: $g-link-hover-color;
    text-decoration: underline;
    background-color: transparent;
    }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}

// Alternate btns
// --------------------------------------------------
.btn-default {
  @include button-color(
    $btn-default-color,
    $btn-default-bg,
    $btn-default-border,
    $btn-default-color,
    darken($btn-default-bg, 10%),
    darken($btn-default-bg, 12%)
  );
}
.btn-primary {
  @include button-color(
    $btn-primary-color,
    $btn-primary-bg,
    $btn-primary-border,
    $btn-primary-color,
    darken($btn-primary-bg, 10%),
    darken($btn-primary-bg, 12%)
  );
}

// border btns
// --------------------------------------------------
.btn-border-default      {
  @include button-color(
    $btn-default-color,
    #fff,
    $btn-default-color,
    #fff,
    $btn-default-color,
    $btn-default-color
  );
}
.btn-border-primary   {
  @include button-color(
    $btn-primary-bg,
    #fff,
    $btn-primary-bg,
    #fff,
    $btn-primary-bg,
    $btn-primary-bg
  );
}


// btn Sizes
// --------------------------------------------------
.btn--xl {
  $vertical : ($g-padding-xl-vertical - .2);
  $horizontal : ($g-padding-xl-horizontal - .2);
  @include button-size($vertical, $horizontal, $g-font-size-xl, $g-border-radius-lg);
}
.btn--lg {
  $vertical : ($g-padding-lg-vertical - .2);
  $horizontal : ($g-padding-lg-horizontal - .2);
  @include button-size($vertical, $horizontal, $g-font-size-lg, $g-border-radius-lg);
}
.btn--sm {
  $vertical : ($g-padding-sm-vertical - .15);
  $horizontal : ($g-padding-sm-horizontal - .15);
  @include button-size($vertical, $horizontal, $g-font-size-sm, $g-border-radius-sm);
}


// Block btn
// --------------------------------------------------
.btn--full {
  display: block;
  width: 100%;
}
.btn--full + .btn--full {
  margin-top: 5px;
}
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn--full {
    width: 100%;
  }
}
