// var ------------------------------
@import "../config";

$l-table-border-color : $g-color-gray-light !default;

// ==================================
table {
  width: 100%;
  max-width: 100%;
  padding:0;
  margin: $g-space-bs 0;
  border-collapse:collapse;
  tr > th{
    text-align: left;
  }
}

.tbl {
  tr > th,
  tr > td {
    padding:.5rem;
    border-bottom:1px solid $l-table-border-color;
  }
  tr:last-child > td {
    border-bottom:0;
  }
  > thead > tr > th,
  > thead > tr > td {
    border-bottom:2px solid $l-table-border-color;
  }
}
