@import "../config";

$l-typo-font-family-bs:          $g-font-family-sans-en !default;
$l-typo-font-family-monospace:   $g-font-family-monospace-en !default;
$l-typo-font-size-bs:            $g-font-size-bs !default;
$l-typo-text-color:              $g-text-color !default;
$l-typo-line-height-bs:          $g-line-height-bs !default;

$l-typo-link-color:              $g-link-color !default;
$l-typo-link-decoration:         $g-link-decoration !default;
$l-typo-link-hover-color:        $g-link-hover-color !default;
$l-typo-link-hover-decoration:   $g-link-hover-decoration !default;

$l-typo-headings-space:          $g-headings-space !default;
$l-typo-headings-weight:         $g-headings-weight !default;
$l-typo-headings-lineHeight:     $g-headings-lineHeight !default;
$l-typo-headings-color:          $g-headings-color !default;

$l-typo-h0-font-size:            $g-font-size-sc !default;
$l-typo-h1-font-size:            $g-font-size-hg !default;
$l-typo-h2-font-size:            $g-font-size-mg !default;
$l-typo-h3-font-size:            $g-font-size-xl !default;
$l-typo-h4-font-size:            $g-font-size-lg !default;
$l-typo-h5-font-size:            $g-font-size-bs !default;
$l-typo-h6-font-size:            $g-font-size-sm !default;

$l-typo-mark-bg-color:           $g-color-primary !default;
$l-typo-mark-color:              #fff !default;

$l-typo-list-inline-margin:      5px !default;

$l-typo-space-bs: $g-space-bs;


// ==================================
html {
  // font-size: 62.5%; // 10px
  font-size: 10px;
}

body {
  font-family: $l-typo-font-family-bs;
  color: $l-typo-text-color;
  font-size: $l-typo-font-size-bs;
  line-height: $l-typo-line-height-bs;
}

h1, h2, h3, h4, h5, h6 {
  margin: $l-typo-headings-space 0;
}

p, ul, ol, dd {
  margin:0 0 $l-typo-space-bs 0;
}

a {
  color: $l-typo-link-color;
  text-decoration: underline;
}
a:hover,
a:focus,
a:active  {
  color: $l-typo-link-hover-color;
  text-decoration: none;
}

//  Headding  -------------------------
h1, h2, h3, h4, h5, h6,
.h0, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  color: $l-typo-headings-color;
  font-weight: $l-typo-headings-weight;
  line-height: $l-typo-headings-lineHeight;
}

.h0     { font-size: $l-typo-h0-font-size; }
h1, .h1 { font-size: $l-typo-h1-font-size; }
h2, .h2 { font-size: $l-typo-h2-font-size; }
h3, .h3 { font-size: $l-typo-h3-font-size; }
h4, .h4 { font-size: $l-typo-h4-font-size; }
h5, .h5 { font-size: $l-typo-h5-font-size; }
h6, .h6 { font-size: $l-typo-h6-font-size; }

a {
  color: $l-typo-link-color;
  text-decoration: $l-typo-link-decoration;
  &:hover,
  &:focus {
    color: $l-typo-link-hover-color;
    text-decoration: $l-typo-link-hover-decoration;
  }
}

small, .small { font-size: 80%; }

mark, .mark {
  padding-left:.5rem;
  padding-right:.5rem;
  background-color:$l-typo-mark-bg-color;
  color:$l-typo-mark-color;
}

// list -------------------------
ul > li > ul,
ol > li > ol{
  padding-left:2rem;
  margin:0;
  list-style:inset;
}
ul,ol {
  padding-left:$l-typo-space-bs;
}

// list  -------------------------
.list-reset,
.list-inline,
.list-inline-block,
.list-inlineBlock {
  padding-left: 0;
  list-style: none;
}

.list-inline,
.list-inline-block,
.list-inlineBlock {
  margin-left: (-$l-typo-list-inline-margin);
  > li {
    display: inline-block;
    padding-left: $l-typo-list-inline-margin;
    padding-right: $l-typo-list-inline-margin;
  }
}

// Description Lists -------------------------
dt { font-weight: bold; }
dd { margin-left: 0; }

pre,
code {
  font-family: $l-typo-font-family-monospace;
  white-space: pre-wrap;
}

hr {
  display: block;
  height: .1rem;
  border: 0;
  border-top: .1rem solid #ccc;
  margin: $l-typo-space-bs 0;
  padding: 0;
}
