RewriteEngine on
RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_FILENAME}\.gz -s
RewriteRule .+ %{REQUEST_URI}.gz

<FilesMatch "\.css\.gz$">
  ForceType   text/css
  AddEncoding x-gzip .gz
</FilesMatch>

<FilesMatch "\.js\.gz$">
  ForceType   application/x-javascript
  AddEncoding x-gzip .gz
</FilesMatch>
