html { font-size: 62.5%; } // 10px

html,
body {
  // height: 100%;
  margin:0;
  padding:0;
}

// ==================================
img,
figure {
  margin:0;
}

svg {
  max-height: 100%;
}

// ==================================
pre {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

// ==================================
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: 100%;
}
