@import "core-config";

// container & grid
// ==========================
$Container-gutter-width:     $c-Container-gutter-width !default;
$Container-wsm-width:        $c-Container-wsm-width !default;
$Container-wmd-width:        $c-Container-wmd-width !default;
$Container-wlg-width:        $c-Container-wlg-width !default;
$Container-screen-wxs-min:   $c-Container-screen-wxs-min !default;
$Container-screen-wsm-min:   $c-Container-screen-wsm-min !default;
$Container-screen-wmd-min:   $c-Container-screen-wmd-min !default;
$Container-screen-wlg-min:   $c-Container-screen-wlg-min !default;

// ==================================
.Container {
  box-sizing:border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: $Container-gutter-width;
  padding-right: $Container-gutter-width;
}
// clear
.Container:before,
.Container:after {
  content: " ";
  display: table;
}
.Container:after {
  clear: both;
}


.Container--slim { max-width: $Container-wsm-width; }

@media (min-width: $Container-screen-wsm-min) {
  .Container--responsive { width: $Container-wsm-width; }
}
@media (min-width: $Container-screen-wmd-min) {
  .Container--responsive { width: $Container-wmd-width; }
}
@media (min-width: $Container-screen-wlg-min) {
  .Container--responsive { width: $Container-wlg-width; }
}
