// Responsive window size
// ------------------
// $[sg\sl]-*-[wxs\wsm\wmd\wlg-]*
// ------------------
// wxs = window x-small
// wsm = window small
// wmd = window medium
// wlg = window large

// ==========================

// Base size
// ------------------
// xl = x-large
// lg = large
// bs = base
// sm = small
// xs = x-small

// variables prefix
// $sg-* = sircus global
// $sl-* = sircus local

// Colors
// ==========================
$sg-color-gray-darkest:           #222 !default;
$sg-color-gray-darker:            #555 !default;
$sg-color-gray-dark:              #888 !default;
$sg-color-gray:                   #AAA !default;
$sg-color-gray-light:             #DDD !default;
$sg-color-gray-lighter:           #F5F5F5 !default;
$sg-color-gray-lightest:          #FAFAFA !default;

$sg-color-primary:                 #6c7b88 !default;
$sg-color-primary-darkest:         darken($sg-color-primary, 45%) !default;
$sg-color-primary-darker:          darken($sg-color-primary, 30%) !default;
$sg-color-primary-dark:            darken($sg-color-primary, 15%) !default;
$sg-color-primary-light:           lighten($sg-color-primary,15%) !default;
$sg-color-primary-lighter:         lighten($sg-color-primary,30%) !default;
$sg-color-primary-lightest:        lighten($sg-color-primary,45%) !default;

// status
$sg-color-success:                 #18be91 !default;
$sg-color-notice:                  #7bc1eb !default;
$sg-color-warning:                 #e5cd2f !default;
$sg-color-error:                   #eb5850 !default;

//
$sg-state-success-text:           #3c763d !default;
$sg-state-success-bg:             #dff0d8 !default;
$sg-state-success-border:         darken(adjust-hue($sg-state-success-bg, -10), 5%) !default;

$sg-state-notice-text:              #31708f !default;
$sg-state-notice-bg:                #d9edf7 !default;
$sg-state-notice-border:            darken(adjust-hue($sg-state-notice-bg, -10), 7%) !default;

$sg-state-warning-text:           #8a6d3b !default;
$sg-state-warning-bg:             #fcf8e3 !default;
$sg-state-warning-border:         darken(adjust-hue($sg-state-warning-bg, -10), 5%) !default;

$sg-state-danger-text:            #a94442 !default;
$sg-state-danger-bg:              #f2dede !default;
$sg-state-danger-border:          darken(adjust-hue($sg-state-danger-bg, -10), 5%) !default;



// Screen size
// ==========================
$sg-screen-wxs-min:         480px !default;
$sg-screen-wsm-min:         768px !default;
$sg-screen-wmd-min:         992px !default;
$sg-screen-wlg-min:         1200px !default;

$sg-screen-wxs-max:         ($sg-screen-wsm-min - 1) !default;
$sg-screen-wsm-max:         ($sg-screen-wmd-min - 1) !default;
$sg-screen-wmd-max:         ($sg-screen-wlg-min - 1) !default;



// Typography
// ==========================
// Font family -------------------
$sg-fontFamily-sans-en:      'Helvetica Neue', Helvetica, sans-serif !default;
$sg-fontFamily-sans-ja:      Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif !default;
$sg-fontFamily-serif-en:     Georgia, "Times New Roman", Times, serif !default;
$sg-fontFamily-serif-ja:     "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif !default;
$sg-fontFamily-monospace-en: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$sg-fontFamily-monospace-ja: "Osaka－等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace !default;

// Font size --------------------
$sg-fontSize-h1:           3.6rem !default;
$sg-fontSize-h2:           3rem !default;
$sg-fontSize-h3:           2.4rem !default;
$sg-fontSize-h4:           2rem !default;
$sg-fontSize-h5:           1.6rem !default; // base
$sg-fontSize-bs:           $sg-fontSize-h5 !default; // base
$sg-fontSize-h6:           1.2rem !default;


// text --------------------
$sg-textColor:              $sg-color-gray-darkest !default;

// Link --------------------
$sg-linkColor:              $sg-color-primary !default;
$sg-linkColorHover:         $sg-color-primary-dark !default;
$sg-linkDecoration:         underline !default;
$sg-linkDecorationHover:    none !default;

// :focus --------------------
$sg-focusColor:             #6c7b88 !default;
$sg-focusBorderColor:       $sg-focusColor !default;


// Headdings --------------------
$sg-headings-spacing:        .5em !default;
$sg-headings-weight:         500 !default;
$sg-headings-lineHeight:     1.1 !default;
$sg-headings-color:          inherit !default;


// lineHeight
// ==========================
$sg-lineHeight-xl:        2 !default;
$sg-lineHeight-lg:        1.8 !default;
$sg-lineHeight-bs:        1.5 !default;
$sg-lineHeight-sm:        1.2 !default;
$sg-lineHeight-xs:        1.1 !default;



// letter-spacing
// ==========================
$sg-letterSpace-xl : .1em !default;
$sg-letterSpace-lg : .05em !default;
$sg-letterSpace-bs : 0 !default;
$sg-letterSpace-sm : (0 - 0.04em) !default;
$sg-letterSpace-xs : (0 - 0.08em) !default;


// spacing (margin & padding)
// ==========================
$sg-spacing-xl : 9.6rem !default;
$sg-spacing-lg : 4.8rem !default;
$sg-spacing-bs : 2.4rem!default;
$sg-spacing-sm : 1.2rem !default;
$sg-spacing-xs : .6rem !default;


// padding
// ==========================
$sg-paddingV-xl: 1.2rem !default;
$sg-paddingH-xl: 4.8rem !default;

$sg-paddingV-lg: 0.8rem !default;
$sg-paddingH-lg: 3.2rem !default;

$sg-paddingV-bs: 0.4rem !default;
$sg-paddingH-bs: 1.6rem !default;

$sg-paddingV-sm: 0.2rem !default;
$sg-paddingH-sm: 0.8rem !default;


// ==========================
$sg-sumHeight-xl:       ($sg-fontSize-h3 + $sg-lineHeight-xl + $sg-paddingV-xl) !default;
$sg-sumHeight-lg:       ($sg-fontSize-h4 + $sg-lineHeight-lg + $sg-paddingV-lg) !default;
$sg-sumHeight-bs:       ($sg-fontSize-bs + $sg-lineHeight-bs + $sg-paddingV-bs) !default;
$sg-sumHeight-sm:       ($sg-fontSize-h6 + $sg-lineHeight-sm + $sg-paddingV-sm) !default;


// border
// ==========================
$sg-border-color : $sg-color-gray-light !default;
$sg-border-style : solid !default;
$sg-border-size  : 1px !default;
$sg-border-bs    : $sg-border-size $sg-border-style $sg-border-color;


// borderRadius
// ==========================
$sg-borderRadius-xl:   .5rem !default;
$sg-borderRadius-lg:   .5rem !default;
$sg-borderRadius-bs:   .4rem !default;
$sg-borderRadius-sm:   .3rem !default;



// Button and form
// ==========================
$sg-ButtonAndForm-borderSize:         .1rem !default;
$sg-ButtonAndForm-borderSizeRadius:   $sg-borderRadius-bs !default;
$sg-ButtonAndForm-height-bs:          3.6rem - $sg-ButtonAndForm-borderSize !default;
$sg-ButtonAndForm-height-sm:          2.4rem - $sg-ButtonAndForm-borderSize !default;
$sg-ButtonAndForm-height-lg:          4.8rem - $sg-ButtonAndForm-borderSize !default;
$sg-ButtonAndForm-height-xl:          6rem !default;
$sg-ButtonAndForm-baseColor:          #c8c8c8 !default;


// Container
// ==========================
$sg-Container-gutter-width:     ($sg-spacing-bs / 2) !default;
$sg-Container-wsm-width:        (72rem + $sg-spacing-bs) !default;
$sg-Container-wmd-width:        (94rem + $sg-spacing-bs )!default;
$sg-Container-wlg-width:        (114rem + $sg-spacing-bs ) !default;
$sg-Container-screen-wxs-min:   $sg-screen-wxs-min !default;
$sg-Container-screen-wsm-min:   $sg-screen-wsm-min !default;
$sg-Container-screen-wmd-min:   $sg-screen-wmd-min !default;
$sg-Container-screen-wlg-min:   $sg-screen-wlg-min !default;
