@import "core-config";

$Grid-gutter-width:       $c-Container-gutter-width !default;
$Grid-col-fontSize-bs:    $c-fontSize-bs !default;
$Grid-screen-wxs-min:     $c-screen-wxs-min !default;

// ============================================================
// Grid
// ============================================================

.Grid {
  font-size: 0;
  display: block;
  margin: 0;
  margin-right: -$Grid-gutter-width;
  margin-left: -$Grid-gutter-width;
  padding: 0;
  text-align: left;
}

// clear
.Grid:before,
.Grid:after {
  content: " ";
  display: table;
}
.Grid:after {
  clear: both;
}

// col
// ------------------------------
.Grid-col {
  font-size: $Grid-col-fontSize-bs;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  min-height: 1px;
  padding-right: $Grid-gutter-width;
  padding-left: $Grid-gutter-width;
  text-align: left;
  vertical-align: top;
}

// .Grid--float
// ============================================================
.Grid--float > .Grid-col {
  float: left;
}

// -------------------------------
.Grid--center { text-align: center; }
.Grid--right  { text-align: right; }
.Grid--left   { text-align: left; }

.Grid--top > .Grid-col     { vertical-align: top; }
.Grid--middle > .Grid-col  { vertical-align: middle; }
.Grid--bottom > .Grid-col  { vertical-align: bottom; }
