@import "core-config";

$Form-padding-xl:      $c-paddingV-xl 1.2rem !default;
$Form-padding-lg:      $c-paddingV-lg 1.2rem !default;
$Form-padding-bs:      $c-paddingV-bs 1.2rem !default;
$Form-padding-sm:      $c-paddingV-sm 1.2rem !default;

$Form-fontSize-xl:     $c-fontSize-h3 !default;
$Form-fontSize-lg:     $c-fontSize-h4 !default;
$Form-fontSize-bs:     $c-fontSize-bs !default;
$Form-fontSize-sm:     $c-fontSize-h6 !default;

$Form-borderRadius-xl: $c-borderRadius-lg !default;
$Form-borderRadius-lg: $c-borderRadius-lg !default;
$Form-borderRadius-bs: $c-borderRadius-bs !default;
$Form-borderRadius-sm: $c-borderRadius-sm !default;

$Form-bgColor:         transparent !default;
$Form-borderSize:      $c-ButtonAndForm-borderSize !default;
$Form-borderColor:     $c-ButtonAndForm-baseColor !default;

$Form-color-focus:     $c-focusColor !default;
$Form-color-disabled:  $Form-borderColor !default;

$Form-height-xl:       $c-ButtonAndForm-height-xl !default;
$Form-height-lg:       $c-ButtonAndForm-height-lg !default;
$Form-height-bs:       $c-ButtonAndForm-height-bs !default;
$Form-height-sm:       $c-ButtonAndForm-height-sm !default;

// ==================================
select,
textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'] {
  line-height: inherit;
  vertical-align: middle;
  box-sizing: border-box;
  padding: $Form-padding-bs;
  font-size: $Form-fontSize-bs;
  display: inline-block;
}

.Input,
.Textarea,
.Select {
  border: $Form-borderSize solid $Form-borderColor;
  background-color: $Form-bgColor;
  border-radius: $Form-borderRadius-bs;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.08);
  transition: border ease-in-out .15s,box-shadow ease-in-out .15s;
}

.Input,
.Select {
  height: $Form-height-bs;
}

.Input {
  -webkit-appearance: none;
}


.Input.is-focus,
.Textarea.is-focus,
.Select.is-focus,
.Input:focus,
.Textarea:focus,
.Select:focus {
  border: $Form-borderSize solid $Form-color-focus;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba($Form-color-focus,.4),0 0 8px rgba($Form-color-focus,.4);
}

.Input.is-disabled,
.Textarea.is-disabled,
.Select.is-disabled,
.Input[disabled],
.Textarea[disabled],
.Select[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  background-color: lighten($Form-color-disabled,10);
}


// ==================================
.Input--xl,
.Select--xl {
  font-size: $Form-fontSize-xl !important;
  padding: $Form-padding-xl !important;
  border-radius: $Form-borderRadius-xl !important;
  height: $Form-height-xl !important;
}

.Input--lg,
.Select--lg {
  font-size: $Form-fontSize-lg !important;
  padding: $Form-padding-lg !important;
  border-radius: $Form-borderRadius-lg !important;
  height: $Form-height-lg !important;
}

.Input--sm,
.Select--sm {
  font-size: $Form-fontSize-sm !important;
  padding: $Form-padding-sm !important;
  border-radius: $Form-borderRadius-sm !important;
  height: $Form-height-sm !important;
}


// ==================================
.Input--full,
.Select--full,
.Textarea--full {
  display: block;
  width: 100%;
}
.Input--full + .Input--full,
.Select--full + .Select--full,
.Textarea--full + .Textarea--full {
  margin-top: 5px;
}
