@import "config";

// Size
$sl-Button-paddingH-xl:              $sg-paddingH-xl !default;
$sl-Button-paddingH-lg:              $sg-paddingH-lg !default;
$sl-Button-paddingH-bs:              $sg-paddingH-bs !default;
$sl-Button-paddingH-sm:              $sg-paddingH-sm !default;

$sl-Button-fontSize-xl:              $sg-fontSize-h3 !default;
$sl-Button-fontSize-lg:              $sg-fontSize-h4 !default;
$sl-Button-fontSize-bs:              $sg-fontSize-bs !default;
$sl-Button-fontSize-sm:              $sg-fontSize-h6 !default;

$sl-Button-borderRadius-xl:          $sg-borderRadius-xl !default;
$sl-Button-borderRadius-lg:          $sg-borderRadius-lg !default;
$sl-Button-borderRadius-bs:          $sg-borderRadius-bs !default;
$sl-Button-borderRadius-sm:          $sg-borderRadius-sm !default;

// .Button
$sl-Button-typoColor:                #fff !default;
$sl-Button-bgColor:                  #c8c8c8 !default;
$sl-Button-borderColor:              darken($sl-Button-bgColor, 5) !default;

// .ButtonBorder
$sl-ButtonBorder-borderSize:         $sg-ButtonAndForm-borderSize !default;
$sl-ButtonBorder-borderColor:        $sl-Button-bgColor !default;
$sl-ButtonBorder-typoColor:          $sl-ButtonBorder-borderColor !default;
$sl-ButtonBorder-hover-typoColor:    #fff !default;
$sl-ButtonBorder-hover-borderColor:  darken($sl-Button-bgColor, 5) !default;

// .ButtonReset
$sl-ButtonReset-typoColor:           $sg-color-primary !default;
$sl-ButtonReset-hover-typoColor:     $sg-color-primary-dark !default;

$sl-Button-height-xl:                $sg-ButtonAndForm-height-xl !default;
$sl-Button-height-lg:                $sg-ButtonAndForm-height-lg !default;
$sl-Button-height-bs:                $sg-ButtonAndForm-height-bs !default;
$sl-Button-height-sm:                $sg-ButtonAndForm-height-sm !default;


// ==================================
button,
.Button {
  box-sizing: border-box;
  box-shadow: none;
  display: inline-block;
  height: auto;
  margin: 0;
  height: $sl-Button-height-bs;
  padding: 0 $sl-Button-paddingH-bs;
  border-radius: $sl-Button-borderRadius-bs;
  border: $sl-ButtonBorder-borderSize solid $sl-Button-borderColor;
  background-image: none;
  font-size: $sl-Button-fontSize-bs;
  text-decoration: none;
  text-align: center;
  line-height: inherit;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  transition: all 200ms ease-out;
  appearance: none;
  line-height: $sl-Button-height-bs - ($sl-ButtonBorder-borderSize * 2);
  outline: none;
}

.Button.is-disabled,
.Button[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .65;
}
.Button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

// ==================================
.Button {
  background-color:$sl-Button-bgColor;
  color:$sl-Button-typoColor;
}
.Button:hover,
.Button:focus,
.Button:active,
.Button.is-active {
  background-color:transparent;
  border-color: $sl-Button-bgColor;
  color: $sl-Button-bgColor;
  text-decoration: none;
}

// ==================================
.Button--border {
  background-color:transparent;
  border-color: $sl-ButtonBorder-borderColor;
  color: $sl-ButtonBorder-typoColor;
}
.Button--border:hover,
.Button--border:focus,
.Button--border:active,
.Button--border.is-active{
  background-color:$sl-ButtonBorder-typoColor;
  color: $sl-ButtonBorder-hover-typoColor;
  border-color:$sl-ButtonBorder-hover-borderColor;
  text-decoration: none;
}


// ==================================
.Button--reset {
  background-color:transparent;
  border-color: transparent;
  color:$sl-ButtonReset-typoColor;
}
.Button--reset:hover,
.Button--reset:focus,
.Button--reset:active,
.Button--reset.is-active {
  border-color: transparent;
  color:$sl-ButtonReset-hover-typoColor;
  text-decoration: underline;
}

// ==================================
.Button--pill { border-radius: 5rem; }

// ==================================
.Button--roundOff { border-radius: 0 !important; }
.Button--roundOn  { border-radius: $sl-Button-borderRadius-bs !important; }


// ==================================
.Button--xl {
  height: $sl-Button-height-xl;
  padding: 0 $sl-Button-paddingH-xl;
  line-height: $sl-Button-height-xl - ($sl-ButtonBorder-borderSize * 2);
  font-size: $sl-Button-fontSize-xl;
  border-radius: $sl-Button-borderRadius-xl;
}
.Button--lg {
  height: $sl-Button-height-lg;
  padding: 0 $sl-Button-paddingH-lg;
  line-height: $sl-Button-height-lg - ($sl-ButtonBorder-borderSize * 2);
  font-size: $sl-Button-fontSize-lg;
  border-radius: $sl-Button-borderRadius-lg;
}
.Button--sm {
  height: $sl-Button-height-sm;
  padding: 0 $sl-Button-paddingH-sm;
  line-height: $sl-Button-height-sm - ($sl-ButtonBorder-borderSize * 2);
  font-size: $sl-Button-fontSize-sm;
  border-radius: $sl-Button-borderRadius-sm;
}


// ==================================
.Button--full {
  display: block;
  width: 100%;
}
.Button--full + .Button--full {
  margin-top: 5px;
}
