@import "core-config";

$Img-round-borderRadius : $c-borderRadius-bs !default;

// ==================================
.Img {
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.Img--round  { border-radius: $Img-round-borderRadius !important; }
.Img--circle { border-radius: 50% !important; }
