@import "config";

$sl-img-round-borderRadius : $sg-borderRadius-bs !default;

// ==================================
.Img {
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.Img--round  { border-radius: $sl-img-round-borderRadius !important; }
.Img--circle { border-radius: 50% !important; }
