@import "core-config";

// .Button--primary
$Button-primary-typoColor:       #fff !default;
$Button-primary-bgColor:         $c-color-primary !default;
$Button-primary-borderColor:     darken($Button-primary-bgColor, 5) !default;


// .Button--primary
// ==================================
.Button--primary {
  background-color:$Button-primary-bgColor;
  border-color: $Button-primary-borderColor;
  color:$Button-primary-typoColor;
}
.Button--primary:hover,
.Button--primary:focus,
.Button--primary:active,
.Button--primary.is-active{
  background-color:$Button-primary-typoColor;
  color:$Button-primary-bgColor;
  border-color: $Button-primary-borderColor;
}



.Button--border.Button--primary {
  background-color:transparent;
  border-color: $Button-primary-bgColor;
  color:$Button-primary-bgColor;
}
.Button--border.Button--primary:hover,
.Button--border.Button--primary:focus,
.Button--border.Button--primary:active,
.Button--border.Button--primary.is-active{
  background-color:$Button-primary-bgColor;
  color:$Button-primary-typoColor;
  border-color: $Button-primary-borderColor;
}
