@import "core-config";

// .is-success
$Button-success-typoColor:       #fff !default;
$Button-success-bgColor:         $c-color-success !default;
$Button-success-borderColor:     darken($Button-success-bgColor, 5) !default;

// .is-notice
$Button-notice-typoColor:        #fff !default;
$Button-notice-bgColor:          $c-color-notice !default;
$Button-notice-borderColor:      darken($Button-notice-bgColor, 5) !default;

// .is-warning
$Button-warning-typoColor:       #fff !default;
$Button-warning-bgColor:         $c-color-warning !default;
$Button-warning-borderColor:     darken($Button-warning-bgColor, 5) !default;

// .is-error
$Button-error-typoColor:         #fff !default;
$Button-error-bgColor:           $c-color-error !default;
$Button-error-borderColor:       darken($Button-error-bgColor, 5) !default;


// ============================================================
// .Button.is-[status]
// ============================================================

// success
// ------------------------------
.Button.is-success {
  background-color:$Button-success-bgColor;
  border-color: $Button-success-borderColor;
  color:$Button-success-typoColor;
}
.Button.is-success:hover,
.Button.is-success:focus {
  background-color:$Button-success-typoColor;
  color:$Button-success-bgColor;
}

// notice
// ------------------------------
.Button.is-notice {
  background-color:$Button-notice-bgColor;
  border-color: $Button-notice-borderColor;
  color:$Button-notice-typoColor;
}
.Button.is-notice:hover,
.Button.is-notice:focus {
  background-color:$Button-notice-typoColor;
  color:$Button-notice-bgColor;
}

// warning
// ------------------------------
.Button.is-warning {
  background-color:$Button-warning-bgColor;
  border-color: $Button-warning-borderColor;
  color:$Button-warning-typoColor;
}
.Button.is-warning:hover,
.Button.is-warning:focus {
  background-color:$Button-warning-typoColor;
  color:$Button-warning-bgColor;
}

// error
// ------------------------------
.Button.is-error {
  background-color:$Button-error-bgColor;
  border-color: $Button-error-borderColor;
  color:$Button-error-typoColor;
}
.Button.is-error:hover,
.Button.is-error:focus {
  background-color:$Button-error-typoColor;
  color:$Button-error-bgColor;
}


// ============================================================
// .Button--border.is-[status]
// ============================================================
.Button--border.is-success,
.Button--border.is-notice,
.Button--border.is-warning,
.Button--border.is-error {
  background-color:transparent;
}

// success
// ------------------------------
.Button--border.is-success {
  border-color: $Button-success-bgColor;
  color:$Button-success-bgColor;
}
.Button--border.is-success:hover,
.Button--border.is-success:focus {
  background-color:$Button-success-bgColor;
  color:$Button-success-typoColor;
  border-color: $Button-success-borderColor;
}

// notice
// ------------------------------
.Button--border.is-notice {
  border-color: $Button-notice-bgColor;
  color:$Button-notice-bgColor;
}
.Button--border.is-notice:hover,
.Button--border.is-notice:focus {
  background-color:$Button-notice-bgColor;
  color:$Button-notice-typoColor;
  border-color: $Button-notice-borderColor;
}

// warning
// ------------------------------
.Button--border.is-warning {
  border-color: $Button-warning-bgColor;
  color:$Button-warning-bgColor;
}
.Button--border.is-warning:hover,
.Button--border.is-warning:focus {
  background-color:$Button-warning-bgColor;
  color:$Button-warning-typoColor;
  border-color: $Button-warning-borderColor;
}

// error
// ------------------------------
.Button--border.is-error {
  border-color: $Button-error-bgColor;
  color:$Button-error-bgColor;
}
.Button--border.is-error:hover,
.Button--border.is-error:focus {
  background-color:$Button-error-bgColor;
  color:$Button-error-typoColor;
  border-color: $Button-error-borderColor;
}



// ============================================================
// .Button--reset.is-[status]
// ============================================================

// success
// ------------------------------
.Button--reset.is-success {
  color:$Button-success-bgColor;
}
.Button--reset.is-success:hover,
.Button--reset.is-success:focus {
  color:darken($Button-success-bgColor,10);
}

// notice
// ------------------------------
.Button--reset.is-notice {
  color:$Button-notice-bgColor;
}
.Button--reset.is-notice:hover,
.Button--reset.is-notice:focus {
  color:darken($Button-notice-bgColor,10);
}

// warning
// ------------------------------
.Button--reset.is-warning {
  color:$Button-warning-bgColor;
}
.Button--reset.is-warning:hover,
.Button--reset.is-warning:focus {
  color:darken($Button-warning-bgColor,10);
}

// error
// ------------------------------
.Button--reset.is-error {
  color:$Button-error-bgColor;
}
.Button--reset.is-error:hover,
.Button--reset.is-error:focus {
  color:darken($Button-error-bgColor,10);
}
