@import "core-config";

$Table-margin:            $c-spacing-bs !default;
$Table-padding:           1rem !default;
$Table-border-color:      $c-color-gray-light !default;

// ==================================
.Table {
  width: 100%;
  max-width: 100%;
  padding:0;
  margin:0 0 $Table-margin 0;
  border-collapse:collapse;
  text-align: left;
}
.Table th,
.Table td {
  padding:$Table-padding;
  border-top:.1rem solid $Table-border-color;
}
.Table > thead th,
.Table > thead td {
  border-top:0;
  border-bottom:.2rem solid $Table-border-color;
}
.Table > tfoot th,
.Table > tfoot td {
  border-top:.2rem solid $Table-border-color;
}
