@import "core-config";

$Headings-spacing:       $c-Headings-spacing !default;
$Headings-weight:        $c-Headings-weight !default;
$Headings-lineHeight:    $c-Headings-lineHeight !default;
$Headings-color:         $c-Headings-color !default;

$fontSize-h1:            $c-fontSize-h1 !default;
$fontSize-h2:            $c-fontSize-h2 !default;
$fontSize-h3:            $c-fontSize-h3 !default;
$fontSize-h4:            $c-fontSize-h4 !default;
$fontSize-h5:            $c-fontSize-h5 !default;
$fontSize-h6:            $c-fontSize-h6 !default;


h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  color: $Headings-color;
  font-weight: $Headings-weight;
  line-height: $Headings-lineHeight;
  margin:($Headings-spacing * 2) 0 $Headings-spacing 0;
}

h1, .H1 { font-size: $fontSize-h1; }
h2, .H2 { font-size: $fontSize-h2; }
h3, .H3 { font-size: $fontSize-h3; }
h4, .H4 { font-size: $fontSize-h4; }
h5, .H5 { font-size: $fontSize-h5; }
h6, .H6 { font-size: $fontSize-h6; }
