@import "core-config";

$List-spacing-bs:    $c-spacing-bs !default;

ul > li > ul,
ol > li > ol{
  padding-left:2rem;
  margin:0;
  list-style:inset;
}
ul,ol {
  padding-left:$List-spacing-bs;
}

.ListInline,
.ListReset {
  padding-left: 0;
  list-style: none;
}

.ListInline {
  margin-left: -0.5rem;
}
.ListInline > li {
  display: inline-block;
  padding-left: .5rem;
  padding-right: .5rem;
}
