@import "core-config";

// .is-success
$Form-success-typoColor:       $c-color-success !default;
$Form-success-bgColor:         $c-color-success !default;
$Form-success-borderColor:     $c-color-success !default;
$Form-success-focus:           $c-color-success !default;

// .is-notice
$Form-notice-typoColor:        $c-color-notice !default;
$Form-notice-bgColor:          $c-color-notice !default;
$Form-notice-borderColor:      $c-color-notice !default;
$Form-notice-focus:            $c-color-notice !default;

// .is-warning
$Form-warning-typoColor:       $c-color-warning !default;
$Form-warning-bgColor:         $c-color-warning !default;
$Form-warning-borderColor:     $c-color-warning !default;
$Form-warning-focus:           $c-color-warning !default;

// .is-error
$Form-error-typoColor:         $c-color-error !default;
$Form-error-bgColor:           $c-color-error !default;
$Form-error-borderColor:       $c-color-error !default;
$Form-error-focus:             $c-color-error !default;


// .is-success
// ==================================
.Input.is-success,
.Select.is-success {
  background-color:lighten($Form-success-bgColor,55);
  border-color: $Form-success-borderColor;
  color:$Form-success-typoColor;
}
.Input.is-success.is-focus,
.Select.is-success.is-focus,
.Input.is-success:focus,
.Select.is-success:focus {
  border: $Form-borderSize solid $Form-success-focus;
  box-shadow: inset 0 1px 1px rgba($Form-success-focus,.4),0 0 8px rgba($Form-success-focus,.4);
}

// .is-notice
// ==================================
.Input.is-notice,
.Select.is-notice {
  background-color:lighten($Form-notice-bgColor,25);
  border-color: $Form-notice-borderColor;
  color:$Form-notice-typoColor;
}
.Input.is-notice.is-focus,
.Select.is-notice.is-focus,
.Input.is-notice:focus,
.Select.is-notice:focus {
  border: $Form-borderSize solid $Form-notice-focus;
  box-shadow: inset 0 1px 1px rgba($Form-notice-focus,.6),0 0 8px rgba($Form-notice-focus,.6);
}

  // .is-warning
// ==================================
.Input.is-warning,
.Select.is-warning {
  background-color:lighten($Form-warning-bgColor,40);
  border-color: $Form-warning-borderColor;
  color:$Form-warning-typoColor;
}
.Input.is-warning.is-focus,
.Select.is-warning.is-focus,
.Input.is-warning:focus,
.Select.is-warning:focus {
  border: $Form-borderSize solid $Form-warning-focus;
  box-shadow: inset 0 1px 1px rgba($Form-warning-focus,.6),0 0 8px rgba($Form-warning-focus,.6);
}

// .is-error
// ==================================
.Input.is-error,
.Select.is-error {
  background-color:lighten($Form-error-bgColor,35);
  border-color: $Form-error-borderColor;
  color:$Form-error-typoColor;
}
.Input.is-error.is-focus,
.Select.is-error.is-focus,
.Input.is-error:focus,
.Select.is-error:focus {
  border: $Form-borderSize solid $Form-error-focus;
  box-shadow: inset 0 1px 1px rgba($Form-error-focus,.4),0 0 8px rgba($Form-error-focus,.4);
}
