@import "core-config";

$baseTypo-fontFamily-bs:          $c-fontFamily-sans-en !default;
$baseTypo-fontFamily-monospace:   $c-fontFamily-monospace-en !default;
$baseTypo-fontSize-bs:            $c-fontSize-bs !default;
$baseTypo-textColor:              $c-textColor !default;
$baseTypo-lineHeight-bs:          $c-lineHeight-bs !default;

$baseTypo-link-color:             $c-linkColor !default;
$baseTypo-link-decoration:        $c-linkDecoration !default;
$baseTypo-link-colorHover:        $c-linkColorHover !default;
$baseTypo-link-decorationHover:   $c-linkDecorationHover !default;

$baseTypo-headings-spacing:       $c-headings-spacing !default;
$baseTypo-headings-weight:        $c-headings-weight !default;
$baseTypo-headings-lineHeight:    $c-headings-lineHeight !default;
$baseTypo-headings-color:         $c-headings-color !default;

$baseTypo-fontSize-h1:            $c-fontSize-h1 !default;
$baseTypo-fontSize-h2:            $c-fontSize-h2 !default;
$baseTypo-fontSize-h3:            $c-fontSize-h3 !default;
$baseTypo-fontSize-h4:            $c-fontSize-h4 !default;
$baseTypo-fontSize-h5:            $c-fontSize-h5 !default;
$baseTypo-fontSize-h6:            $c-fontSize-h6 !default;

$baseTypo-mark-bgColor:           $c-color-primary !default;
$baseTypo-mark-color:             #fff !default;

$baseTypo-blockquote-bgColor:     $c-color-gray-lighter !default;
$baseTypo-blockquote-borderColor: $c-color-gray-light !default;

$baseTypo-spacing-bs:             $c-spacing-bs ;

$baseTypo-selection-bgColor:      $c-color-primary !default;

// ==================================
body {
  font-family: $baseTypo-fontFamily-bs;
  color: $baseTypo-textColor;
  font-size: $baseTypo-fontSize-bs;
  line-height: $baseTypo-lineHeight-bs;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, ul, ol, dd, blockquote {
  margin:0 0 $baseTypo-spacing-bs 0;
}

::selection {
  background: $baseTypo-selection-bgColor;
}

// a -------------------------
a {
  color: $baseTypo-link-color;
  text-decoration: $baseTypo-link-decoration;
}
a:hover,
a:focus,
a:active  {
  color: $baseTypo-link-colorHover;
  text-decoration: $baseTypo-link-decorationHover;
}

//  Headding  -------------------------
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  color: $baseTypo-headings-color;
  font-weight: $baseTypo-headings-weight;
  line-height: $baseTypo-headings-lineHeight;
  margin:($baseTypo-headings-spacing * 2) 0 $baseTypo-headings-spacing 0;
}

h1, .H1 { font-size: $baseTypo-fontSize-h1; }
h2, .H2 { font-size: $baseTypo-fontSize-h2; }
h3, .H3 { font-size: $baseTypo-fontSize-h3; }
h4, .H4 { font-size: $baseTypo-fontSize-h4; }
h5, .H5 { font-size: $baseTypo-fontSize-h5; }
h6, .H6 { font-size: $baseTypo-fontSize-h6; }



// list -------------------------
ul > li > ul,
ol > li > ol{
  padding-left:2rem;
  margin:0;
  list-style:inset;
}
ul,ol {
  padding-left:$baseTypo-spacing-bs;
}

.ListInline,
.ListReset {
  padding-left: 0;
  list-style: none;
}

.ListInline {
  margin-left: -0.5rem;
}
.ListInline > li {
  display: inline-block;
  padding-left: .5rem;
  padding-right: .5rem;
}


// Description Lists -------------------------
dt { font-weight: bold; }
dd { margin-left: 0; }

// pre,code  -------------------------
pre,
code {
  font-family: $baseTypo-fontFamily-monospace;
  white-spacing: pre-wrap;
}

// hr -------------------------
hr {
  display: block;
  height: .1rem;
  border: 0;
  border-top: .1rem solid #ddd;
  margin: $baseTypo-spacing-bs 0;
  padding: 0;
}

// small -------------------------
small { font-size: 80%; }

// mark -------------------------
mark {
  padding-left:.5rem;
  padding-right:.5rem;
  background-color:$baseTypo-mark-bgColor;
  color:$baseTypo-mark-color;
}

// blockquote -------------------------
blockquote {
  padding:$c-spacing-bs;
  border-left:.6rem solid $baseTypo-blockquote-borderColor;
  background: $baseTypo-blockquote-bgColor;
  font-style: italic;
  display: block;
}
blockquote p:last-child {
  margin-bottom:0;
}
