.t-clear:before,
.t-clear:after {
  content: " ";
  display: table;
}
.t-clear:after { clear: both; }


.t-center {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.t-right        { float: right !important; }
.t-left         { float: left !important; }

.t-overfllow  { overflow: auto !important; }
.t-overfllowX {
  overflow-x: auto !important;
  overflow-y: hidden !important;
}
.t-overfllowY {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
