@import "config";

$sl-border-bs: $sg-border-bs !default;

// ==================================
.t-borderTop     { border-top:$sl-border-bs !important; }
.t-borderLeft    { border-left:$sl-border-bs !important; }
.t-borderRight   { border-right:$sl-border-bs !important; }
.t-borderBottom  { border-bottom:$sl-border-bs !important; }
.t-border        { border:$sl-border-bs !important; }
