@import "core-config";

$border-bs: $c-border-bs !default;

// ==================================
.t-borderTop     { border-top:$border-bs !important; }
.t-borderLeft    { border-left:$border-bs !important; }
.t-borderRight   { border-right:$border-bs !important; }
.t-borderBottom  { border-bottom:$border-bs !important; }
.t-border        { border:$border-bs !important; }
