@import "config";

$sl-ttypo-fontFamily-sans-en:      $sg-fontFamily-sans-en !default;
$sl-ttypo-fontFamily-sans-ja:      $sg-fontFamily-sans-ja !default;
$sl-ttypo-fontFamily-serif-en:     $sg-fontFamily-serif-en !default;
$sl-ttypo-fontFamily-serif-ja:     $sg-fontFamily-serif-ja !default;
$sl-ttypo-fontFamily-monospace-en: $sg-fontFamily-monospace-en !default;
$sl-ttypo-fontFamily-monospace-ja: $sg-fontFamily-monospace-ja !default;

$sl-ttypo-letterSpace-xl : $sg-letterSpace-xl !default;
$sl-ttypo-letterSpace-lg : $sg-letterSpace-lg !default;
$sl-ttypo-letterSpace-bs : $sg-letterSpace-bs !default;
$sl-ttypo-letterSpace-sm : $sg-letterSpace-sm !default;
$sl-ttypo-letterSpace-xs : $sg-letterSpace-xs !default;

$sl-ttypo-lineHeight-xl : $sg-lineHeight-xl !default;
$sl-ttypo-lineHeight-lg : $sg-lineHeight-lg !default;
$sl-ttypo-lineHeight-bs : $sg-lineHeight-bs !default;
$sl-ttypo-lineHeight-sm : $sg-lineHeight-sm !default;
$sl-ttypo-lineHeight-xs : $sg-lineHeight-xs !default;

// ==================================
.t-normal        { font-weight: normal !important; }
.t-bold          { font-weight: bold !important; }
.t-italic        { font-style: italic !important; }

.t-alignLeft     { text-align: left !important; }
.t-alignRight    { text-align: right !important; }
.t-alignCenter   { text-align: center !important; }
.t-alignJustify  { text-align: justify !important; }

.t-alignTop      { vertical-align:top !important; }
.t-alignMiddle   { vertical-align:middle !important; }
.t-alignBottom   { vertical-align:bottom !important; }

.t-lowercase     { text-transform: lowercase !important; }
.t-uppercase     { text-transform: uppercase !important; }
.t-capitalize    { text-transform: capitalize !important; }

.t-nowrap        { white-space: nowrap !important; }

.t-typoHide {
  font: #{0/0} a !important;
  color: transparent !important;
  text-shadow: none !important;
  background-color: transparent !important;
  border: 0 !important;
}

.t-enSans      { font-family: $sl-ttypo-fontFamily-sans-en !important; }
.t-jaSans      { font-family: $sl-ttypo-fontFamily-sans-ja !important; }
.t-enSerif     { font-family: $sl-ttypo-fontFamily-serif-en !important; }
.t-jaSerif     { font-family: $sl-ttypo-fontFamily-serif-ja !important; }
.t-enMonospace { font-family: $sl-ttypo-fontFamily-monospace-en !important; }
.t-jaMonospace { font-family: $sl-ttypo-fontFamily-monospace-ja !important; }


.t-ls-xs            { letter-spacing:$sl-ttypo-letterSpace-xs !important; }
.t-ls-sm            { letter-spacing:$sl-ttypo-letterSpace-sm !important; }
.t-ls-bs            { letter-spacing:$sl-ttypo-letterSpace-bs !important; }
.t-ls-lg            { letter-spacing:$sl-ttypo-letterSpace-lg !important; }
.t-ls-xl            { letter-spacing:$sl-ttypo-letterSpace-xl !important; }

.t-lh-xs            { line-height:$sl-ttypo-lineHeight-xs !important; }
.t-lh-sm            { line-height:$sl-ttypo-lineHeight-sm !important; }
.t-lh-bs            { line-height:$sl-ttypo-lineHeight-bs !important; }
.t-lh-lg            { line-height:$sl-ttypo-lineHeight-lg !important; }
.t-lh-xl            { line-height:$sl-ttypo-lineHeight-xl !important; }
