@import "core-config";

// unit
// container & grid
// ==========================
$gutter-screen-wxs-min:   $c-screen-wxs-min !default;
$gutter-screen-wsm-min:   $c-screen-wsm-min !default;
$gutter-screen-wmd-min:   $c-screen-wmd-min !default;
$gutter-screen-wlg-min:   $c-screen-wlg-min !default;

// ==================================
.t-gutterOn,
.t-wxs-gutterOn,
.t-wsm-gutterOn,
.t-wmd-gutterOn,
.t-wlg-gutterOn {
  padding-left:$c-Container-gutter-width;
  padding-right:$c-Container-gutter-width;
}

.t-gutterOff,
.t-wxs-gutterOff,
.t-wxs-gutterOff,
.t-wsm-gutterOff,
.t-wmd-gutterOff,
.t-wlg-gutterOff {
  margin-left:-$c-Container-gutter-width;
  margin-right:-$c-Container-gutter-width;
}


@media (min-width: $gutter-screen-wxs-min) {
  .t-wxs-gutterOn {
    padding-left:$c-Container-gutter-width;
    padding-right:$c-Container-gutter-width;
  }
  .t-wxs-gutterOff {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: $gutter-screen-wsm-min) {
  .t-wsm-gutterOn {
    padding-left:$c-Container-gutter-width;
    padding-right:$c-Container-gutter-width;
  }
  .t-wsm-gutterOff {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: $gutter-screen-wmd-min) {
  .t-wmd-gutterOn {
    padding-left:$c-Container-gutter-width;
    padding-right:$c-Container-gutter-width;
  }
  .t-wmd-gutterOff {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: $gutter-screen-wlg-min) {
  .t-wlg-gutterOn {
    padding-left:$c-Container-gutter-width;
    padding-right:$c-Container-gutter-width;
  }
  .t-wlg-gutterOff {
    margin-left: 0;
    margin-right: 0;
  }
}
