@import "config";

// space (margin & padding)
// ==========================
$sl-space-xs : $sg-space-xs !default;
$sl-space-sm : $sg-space-sm !default;
$sl-space-bs : $sg-space-bs !default;
$sl-space-lg : $sg-space-lg !default;
$sl-space-xl : $sg-space-xl !default;

// ==================================
// margin all
.t-ma-00   { margin:0 !important; }
.t-ma-xs   { margin:$sl-space-xs !important; }
.t-ma-sm   { margin:$sl-space-sm !important; }
.t-ma-bs   { margin:$sl-space-bs !important; }
.t-ma-lg   { margin:$sl-space-lg !important; }
.t-ma-xl   { margin:$sl-space-xl !important; }

// margin-top
.t-mt-00   { margin-top:0 !important; }
.t-mt-xs   { margin-top:$sl-space-xs !important; }
.t-mt-sm   { margin-top:$sl-space-sm !important; }
.t-mt-bs   { margin-top:$sl-space-bs !important; }
.t-mt-lg   { margin-top:$sl-space-lg !important; }
.t-mt-xl   { margin-top:$sl-space-xl !important; }

// margin-bottom
.t-mb-00   { margin-bottom:0 !important; }
.t-mb-xs   { margin-bottom:$sl-space-xs !important; }
.t-mb-sm   { margin-bottom:$sl-space-sm !important; }
.t-mb-bs   { margin-bottom:$sl-space-bs !important; }
.t-mb-lg   { margin-bottom:$sl-space-lg !important; }
.t-mb-xl   { margin-bottom:$sl-space-xl !important; }


// ==================================
// padding all
.t-pa-00   { padding:0 !important; }
.t-pa-xs   { padding:$sl-space-xs !important; }
.t-pa-sm   { padding:$sl-space-sm !important; }
.t-pa-bs   { padding:$sl-space-bs !important; }
.t-pa-lg   { padding:$sl-space-lg !important; }
.t-pa-xl   { padding:$sl-space-xl !important; }

// padding-top
.t-pt-00   { padding-top:0 !important; }
.t-pt-xs   { padding-top:$sl-space-xs !important; }
.t-pt-sm   { padding-top:$sl-space-sm !important; }
.t-pt-bs   { padding-top:$sl-space-bs !important; }
.t-pt-lg   { padding-top:$sl-space-lg !important; }
.t-pt-xl   { padding-top:$sl-space-xl !important; }

// padding-bottom
.t-pb-00   { padding-bottom:0 !important; }
.t-pb-xs   { padding-bottom:$sl-space-xs !important; }
.t-pb-sm   { padding-bottom:$sl-space-sm !important; }
.t-pb-bs   { padding-bottom:$sl-space-bs !important; }
.t-pb-lg   { padding-bottom:$sl-space-lg !important; }
.t-pb-xl   { padding-bottom:$sl-space-xl !important; }


@media (min-width: $sl-gutterReset-screen-wxs-min) {

  // margin all
  .t-wxs-ma-00   { margin:0 !important; }
  .t-wxs-ma-xs   { margin:$sl-space-xs !important; }
  .t-wxs-ma-sm   { margin:$sl-space-sm !important; }
  .t-wxs-ma-bs   { margin:$sl-space-bs !important; }
  .t-wxs-ma-lg   { margin:$sl-space-lg !important; }
  .t-wxs-ma-xl   { margin:$sl-space-xl !important; }

  // margin-top
  .t-wxs-mt-00   { margin-top:0 !important; }
  .t-wxs-mt-xs   { margin-top:$sl-space-xs !important; }
  .t-wxs-mt-sm   { margin-top:$sl-space-sm !important; }
  .t-wxs-mt-bs   { margin-top:$sl-space-bs !important; }
  .t-wxs-mt-lg   { margin-top:$sl-space-lg !important; }
  .t-wxs-mt-xl   { margin-top:$sl-space-xl !important; }

  // margin-bottom
  .t-wxs-mb-00   { margin-bottom:0 !important; }
  .t-wxs-mb-xs   { margin-bottom:$sl-space-xs !important; }
  .t-wxs-mb-sm   { margin-bottom:$sl-space-sm !important; }
  .t-wxs-mb-bs   { margin-bottom:$sl-space-bs !important; }
  .t-wxs-mb-lg   { margin-bottom:$sl-space-lg !important; }
  .t-wxs-mb-xl   { margin-bottom:$sl-space-xl !important; }

  // padding all
  .t-wxs-pa-00   { padding:0 !important; }
  .t-wxs-pa-xs   { padding:$sl-space-xs !important; }
  .t-wxs-pa-sm   { padding:$sl-space-sm !important; }
  .t-wxs-pa-bs   { padding:$sl-space-bs !important; }
  .t-wxs-pa-lg   { padding:$sl-space-lg !important; }
  .t-wxs-pa-xl   { padding:$sl-space-xl !important; }

  // padding-top
  .t-wxs-pt-00   { padding-top:0 !important; }
  .t-wxs-pt-xs   { padding-top:$sl-space-xs !important; }
  .t-wxs-pt-sm   { padding-top:$sl-space-sm !important; }
  .t-wxs-pt-bs   { padding-top:$sl-space-bs !important; }
  .t-wxs-pt-lg   { padding-top:$sl-space-lg !important; }
  .t-wxs-pt-xl   { padding-top:$sl-space-xl !important; }

  // padding-bottom
  .t-wxs-pb-00   { padding-bottom:0 !important; }
  .t-wxs-pb-xs   { padding-bottom:$sl-space-xs !important; }
  .t-wxs-pb-sm   { padding-bottom:$sl-space-sm !important; }
  .t-wxs-pb-bs   { padding-bottom:$sl-space-bs !important; }
  .t-wxs-pb-lg   { padding-bottom:$sl-space-lg !important; }
  .t-wxs-pb-xl   { padding-bottom:$sl-space-xl !important; }
}


@media (min-width: $sl-gutterReset-screen-wsm-min) {

  // margin all
  .t-wsm-ma-00   { margin:0 !important; }
  .t-wsm-ma-xs   { margin:$sl-space-xs !important; }
  .t-wsm-ma-sm   { margin:$sl-space-sm !important; }
  .t-wsm-ma-bs   { margin:$sl-space-bs !important; }
  .t-wsm-ma-lg   { margin:$sl-space-lg !important; }
  .t-wsm-ma-xl   { margin:$sl-space-xl !important; }

  // margin-top
  .t-wsm-mt-00   { margin-top:0 !important; }
  .t-wsm-mt-xs   { margin-top:$sl-space-xs !important; }
  .t-wsm-mt-sm   { margin-top:$sl-space-sm !important; }
  .t-wsm-mt-bs   { margin-top:$sl-space-bs !important; }
  .t-wsm-mt-lg   { margin-top:$sl-space-lg !important; }
  .t-wsm-mt-xl   { margin-top:$sl-space-xl !important; }

  // margin-bottom
  .t-wsm-mb-00   { margin-bottom:0 !important; }
  .t-wsm-mb-xs   { margin-bottom:$sl-space-xs !important; }
  .t-wsm-mb-sm   { margin-bottom:$sl-space-sm !important; }
  .t-wsm-mb-bs   { margin-bottom:$sl-space-bs !important; }
  .t-wsm-mb-lg   { margin-bottom:$sl-space-lg !important; }
  .t-wsm-mb-xl   { margin-bottom:$sl-space-xl !important; }

  // padding all
  .t-wsm-pa-00   { padding:0 !important; }
  .t-wsm-pa-xs   { padding:$sl-space-xs !important; }
  .t-wsm-pa-sm   { padding:$sl-space-sm !important; }
  .t-wsm-pa-bs   { padding:$sl-space-bs !important; }
  .t-wsm-pa-lg   { padding:$sl-space-lg !important; }
  .t-wsm-pa-xl   { padding:$sl-space-xl !important; }

  // padding-top
  .t-wsm-pt-00   { padding-top:0 !important; }
  .t-wsm-pt-xs   { padding-top:$sl-space-xs !important; }
  .t-wsm-pt-sm   { padding-top:$sl-space-sm !important; }
  .t-wsm-pt-bs   { padding-top:$sl-space-bs !important; }
  .t-wsm-pt-lg   { padding-top:$sl-space-lg !important; }
  .t-wsm-pt-xl   { padding-top:$sl-space-xl !important; }

  // padding-bottom
  .t-wsm-pb-00   { padding-bottom:0 !important; }
  .t-wsm-pb-xs   { padding-bottom:$sl-space-xs !important; }
  .t-wsm-pb-sm   { padding-bottom:$sl-space-sm !important; }
  .t-wsm-pb-bs   { padding-bottom:$sl-space-bs !important; }
  .t-wsm-pb-lg   { padding-bottom:$sl-space-lg !important; }
  .t-wsm-pb-xl   { padding-bottom:$sl-space-xl !important; }
}



@media (min-width: $sl-gutterReset-screen-wmd-min) {

  // margin all
  .t-wmd-ma-00   { margin:0 !important; }
  .t-wmd-ma-xs   { margin:$sl-space-xs !important; }
  .t-wmd-ma-sm   { margin:$sl-space-sm !important; }
  .t-wmd-ma-bs   { margin:$sl-space-bs !important; }
  .t-wmd-ma-lg   { margin:$sl-space-lg !important; }
  .t-wmd-ma-xl   { margin:$sl-space-xl !important; }

  // margin-top
  .t-wmd-mt-00   { margin-top:0 !important; }
  .t-wmd-mt-xs   { margin-top:$sl-space-xs !important; }
  .t-wmd-mt-sm   { margin-top:$sl-space-sm !important; }
  .t-wmd-mt-bs   { margin-top:$sl-space-bs !important; }
  .t-wmd-mt-lg   { margin-top:$sl-space-lg !important; }
  .t-wmd-mt-xl   { margin-top:$sl-space-xl !important; }

  // margin-bottom
  .t-wmd-mb-00   { margin-bottom:0 !important; }
  .t-wmd-mb-xs   { margin-bottom:$sl-space-xs !important; }
  .t-wmd-mb-sm   { margin-bottom:$sl-space-sm !important; }
  .t-wmd-mb-bs   { margin-bottom:$sl-space-bs !important; }
  .t-wmd-mb-lg   { margin-bottom:$sl-space-lg !important; }
  .t-wmd-mb-xl   { margin-bottom:$sl-space-xl !important; }

  // padding all
  .t-wmd-pa-00   { padding:0 !important; }
  .t-wmd-pa-xs   { padding:$sl-space-xs !important; }
  .t-wmd-pa-sm   { padding:$sl-space-sm !important; }
  .t-wmd-pa-bs   { padding:$sl-space-bs !important; }
  .t-wmd-pa-lg   { padding:$sl-space-lg !important; }
  .t-wmd-pa-xl   { padding:$sl-space-xl !important; }

  // padding-top
  .t-wmd-pt-00   { padding-top:0 !important; }
  .t-wmd-pt-xs   { padding-top:$sl-space-xs !important; }
  .t-wmd-pt-sm   { padding-top:$sl-space-sm !important; }
  .t-wmd-pt-bs   { padding-top:$sl-space-bs !important; }
  .t-wmd-pt-lg   { padding-top:$sl-space-lg !important; }
  .t-wmd-pt-xl   { padding-top:$sl-space-xl !important; }

  // padding-bottom
  .t-wmd-pb-00   { padding-bottom:0 !important; }
  .t-wmd-pb-xs   { padding-bottom:$sl-space-xs !important; }
  .t-wmd-pb-sm   { padding-bottom:$sl-space-sm !important; }
  .t-wmd-pb-bs   { padding-bottom:$sl-space-bs !important; }
  .t-wmd-pb-lg   { padding-bottom:$sl-space-lg !important; }
  .t-wmd-pb-xl   { padding-bottom:$sl-space-xl !important; }
}



@media (min-width: $sl-gutterReset-screen-wlg-min) {

  // margin all
  .t-wlg-ma-00   { margin:0 !important; }
  .t-wlg-ma-xs   { margin:$sl-space-xs !important; }
  .t-wlg-ma-sm   { margin:$sl-space-sm !important; }
  .t-wlg-ma-bs   { margin:$sl-space-bs !important; }
  .t-wlg-ma-lg   { margin:$sl-space-lg !important; }
  .t-wlg-ma-xl   { margin:$sl-space-xl !important; }

  // margin-top
  .t-wlg-mt-00   { margin-top:0 !important; }
  .t-wlg-mt-xs   { margin-top:$sl-space-xs !important; }
  .t-wlg-mt-sm   { margin-top:$sl-space-sm !important; }
  .t-wlg-mt-bs   { margin-top:$sl-space-bs !important; }
  .t-wlg-mt-lg   { margin-top:$sl-space-lg !important; }
  .t-wlg-mt-xl   { margin-top:$sl-space-xl !important; }

  // margin-bottom
  .t-wlg-mb-00   { margin-bottom:0 !important; }
  .t-wlg-mb-xs   { margin-bottom:$sl-space-xs !important; }
  .t-wlg-mb-sm   { margin-bottom:$sl-space-sm !important; }
  .t-wlg-mb-bs   { margin-bottom:$sl-space-bs !important; }
  .t-wlg-mb-lg   { margin-bottom:$sl-space-lg !important; }
  .t-wlg-mb-xl   { margin-bottom:$sl-space-xl !important; }

  // padding all
  .t-wlg-pa-00   { padding:0 !important; }
  .t-wlg-pa-xs   { padding:$sl-space-xs !important; }
  .t-wlg-pa-sm   { padding:$sl-space-sm !important; }
  .t-wlg-pa-bs   { padding:$sl-space-bs !important; }
  .t-wlg-pa-lg   { padding:$sl-space-lg !important; }
  .t-wlg-pa-xl   { padding:$sl-space-xl !important; }

  // padding-top
  .t-wlg-pt-00   { padding-top:0 !important; }
  .t-wlg-pt-xs   { padding-top:$sl-space-xs !important; }
  .t-wlg-pt-sm   { padding-top:$sl-space-sm !important; }
  .t-wlg-pt-bs   { padding-top:$sl-space-bs !important; }
  .t-wlg-pt-lg   { padding-top:$sl-space-lg !important; }
  .t-wlg-pt-xl   { padding-top:$sl-space-xl !important; }

  // padding-bottom
  .t-wlg-pb-00   { padding-bottom:0 !important; }
  .t-wlg-pb-xs   { padding-bottom:$sl-space-xs !important; }
  .t-wlg-pb-sm   { padding-bottom:$sl-space-sm !important; }
  .t-wlg-pb-bs   { padding-bottom:$sl-space-bs !important; }
  .t-wlg-pb-lg   { padding-bottom:$sl-space-lg !important; }
  .t-wlg-pb-xl   { padding-bottom:$sl-space-xl !important; }
}
