@import "../config";

$sl-display-screen-wxs-min:   $sg-screen-wxs-min !default;
$sl-display-screen-wsm-min:   $sg-screen-wsm-min !default;
$sl-display-screen-wmd-min:   $sg-screen-wmd-min !default;
$sl-display-screen-wlg-min:   $sg-screen-wlg-min !default;

$sl-display-screen-wxs-max:   $sg-screen-wxs-max !default;
$sl-display-screen-wsm-max:   $sg-screen-wsm-max !default;
$sl-display-screen-wmd-max:   $sg-screen-wmd-max !default;

// ==================================
.t-hide { display: none !important; }
.t-show { display: block !important; }
.t-invisible { visibility: hidden !important; }
.t-hidden {
  display: none !important;
  visibility: hidden !important; }


@-ms-viewport { width: device-width; }

.t-wxs-visible,
.t-wsm-visible,
.t-wmd-visible,
.t-wlg-visible {  display: none !important; }

.t-wxs-visible-block,
.t-wxs-visible-inline,
.t-wxs-visible-inlineBlock,
.t-wsm-visible-block,
.t-wsm-visible-inline,
.t-wsm-visible-inlineBlock,
.t-wmd-visible-block,
.t-wmd-visible-inline,
.t-wmd-visible-inlineBlock,
.t-wlg-visible-block,
.t-wlg-visible-inline,
.t-wlg-visible-inlineBlock { display: none !important; }

@media (max-width: $sl-display-screen-wxs-max) {
  .t-wxs-visible { display: block !important; }
}

@media (max-width: $sl-display-screen-wxs-max) {
  .t-wxs-visible-block { display: block !important; }
}

@media (max-width: $sl-display-screen-wxs-max) {
  .t-wxs-visible-inline { display: inline !important; }
}

@media (max-width: $sl-display-screen-wxs-max) {
  .t-wxs-visible-inlineBlock { display: inline-block !important; }
}

@media (min-width: $sl-display-screen-wsm-min) and (max-width: $sl-display-screen-wsm-max) {
  .t-wsm-visible { display: block !important; }
}
@media (min-width: $sl-display-screen-wsm-min) and (max-width: $sl-display-screen-wsm-max) {
  .t-wsm-visible-block { display: block !important; }
}

@media (min-width: $sl-display-screen-wsm-min) and (max-width: $sl-display-screen-wsm-max) {
  .t-wsm-visible-inline { display: inline !important; }
}

@media (min-width: $sl-display-screen-wsm-min) and (max-width: $sl-display-screen-wsm-max) {
  .t-wsm-visible-inlineBlock { display: inline-block !important; }
}

@media (min-width: $sl-display-screen-wmd-min) and (max-width: $sl-display-screen-wmd-max) {
  .t-wmd-visible { display: block !important; }
}

@media (min-width: $sl-display-screen-wmd-min) and (max-width: $sl-display-screen-wmd-max) {
  .t-wmd-visible-block { display: block !important; }
}

@media (min-width: $sl-display-screen-wmd-min) and (max-width: $sl-display-screen-wmd-max) {
  .t-wmd-visible-inline { display: inline !important; }
}

@media (min-width: $sl-display-screen-wmd-min) and (max-width: $sl-display-screen-wmd-max) {
  .t-wmd-visible-inlineBlock { display: inline-block !important; }
}

@media (min-width: $sl-display-screen-wlg-min) {
  .t-wlg-visible { display: block !important; }
}
@media (min-width: $sl-display-screen-wlg-min) {
  .t-wlg-visible-block { display: block !important; }
}

@media (min-width: $sl-display-screen-wlg-min) {
  .t-wlg-visible-inline { display: inline !important; }
}

@media (min-width: $sl-display-screen-wlg-min) {
  .t-wlg-visible-inlineBlock { display: inline-block !important; }
}

@media (max-width: $sl-display-screen-wxs-max) {
  .t-wxs-hidden { display: none !important; }
}

@media (min-width: $sl-display-screen-wsm-min) and (max-width: $sl-display-screen-wsm-max) {
  .t-wsm-hidden { display: none !important; }
}

@media (min-width: $sl-display-screen-wmd-min) and (max-width: $sl-display-screen-wmd-max) {
  .t-wmd-hidden { display: none !important; }
}

@media (min-width: $sl-display-screen-wlg-min) {
  .t-wlg-hidden { display: none !important; }
}


.t-print-visible { display: none !important; }

@media print {
  .t-print-visible { display: block !important; }
}
.t-visible-print-block { display: none !important; }

@media print {
  .t-visible-print-block { display: block !important; }
}
.t-print-visible-inline { display: none !important; }

@media print {
  .t-print-visible-inline { display: inline !important; }
}
.t-print-visible-inlineBlock { display: none !important; }

@media print {
  .t-print-visible-inlineBlock { display: inline-block !important; }
}

@media print {
  .t-print-hidden { display: none !important; }
}
