:root {
  --g-gray-90: color(#000 lightness(10%));
  --g-gray-80: color(#000 lightness(20%));
  --g-gray-70: color(#000 lightness(30%));
  --g-gray-60: color(#000 lightness(40%));
  --g-gray-50: color(#000 lightness(50%));
  --g-gray-40: color(#000 lightness(60%));
  --g-gray-30: color(#000 lightness(70%));
  --g-gray-20: color(#000 lightness(80%));
  --g-gray-10: color(#000 lightness(90%));
  --g-gray-5: color(#000 lightness(95%));

  --g-primary: #1069c2;
  --g-primary-dark: color(var(--g-primary) lightness(30%));
  --g-primary-light: color(var(--g-primary) lightness(90%));

  --g-secondary: #df3c94;
  --g-secondary-dark: color(var(--g-secondary) lightness(30%));
  --g-secondary-light: color(var(--g-secondary) lightness(90%));

  --g-success: #00cc99;
  --g-success-dark: color(var(--g-success) lightness(30%));
  --g-success-light: color(var(--g-success) lightness(90%));

  --g-notice: #66ccff;
  --g-notice-dark: color(var(--g-notice) lightness(40%));
  --g-notice-light: color(var(--g-notice) lightness(90%));

  --g-warning: #ffcc00;
  --g-warning-dark: color(var(--g-warning) lightness(40%));
  --g-warning-light: color(var(--g-warning) lightness(90%));

  --g-error: #ef4c43;
  --g-error-dark: color(var(--g-error) lightness(40%));
  --g-error-light: color(var(--g-error) lightness(90%));

  --g-space-gt: 5rem;
  --g-space-hg: 4rem;
  --g-space-xl: 3rem;
  --g-space-lg: 2rem;
  --g-space-md: 1.5rem;
  --g-space-sm: 1rem;
  --g-space-xs: .75rem;
  --g-space-tn: .5rem;
  --g-space-mi: .25rem;
  --g-space: var(--g-space-md);


  --g-borderRadius-xl: 8px;
  --g-borderRadius-lg: 6px;
  --g-borderRadius-md: 4px;
  --g-borderRadius-sm: 3px;
  --g-borderRadius-xs: 2px;
  --g-borderRadius: var(--g-borderRadius-md);

  --g-boxShadow-color: color(#000 a(30%));
  --g-boxShadow-xs: 0 1px 4px 1px;
  --g-boxShadow-sm: 0 6px 10px 0;
  --g-boxShadow-md: 0 13px 25px 0;
  --g-boxShadow-lg: 0 20px 40px 0;
  --g-boxShadow-xl: 0 27px 55px 0;
  --g-boxShadow: var(--g-boxShadow-md);

  --g-lineHeight-xl: 2;
  --g-lineHeight-lg: 1.8;
  --g-lineHeight-md: 1.5;
  --g-lineHeight-sm: 1.2;
  --g-lineHeight-xs: 1.1;
  --g-lineHeight: var(--g-lineHeight-md);

  --g-letterSpacing-xl: .3em;
  --g-letterSpacing-lg: .15em;
  --g-letterSpacing-md: 0;
  --g-letterSpacing-sm: calc(0 - .04em);
  --g-letterSpacing-xs: calc(0 - .08em);
  --g-letterSpacing: var(--g-letterSpaceing-md);

  --g-gutter: calc(var(--g-space) / 2);
  --g-gutter2x: calc(var(--g-gutter) * 2);


  --g-fontFamily-sansEn: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  --g-fontFamily-sansJa: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  --g-fontFamily-serifEn: "Bodoni MT", Didot, "Didot LT STD", "Times New Roman", Baskerville, Cambria, serif;
  --g-fontFamily-serifJa: "游明朝", "Yu Mincho", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "Times New Roman", "HG明朝E", "ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
  --g-fontFamily-monospaceEn: "Source Code Pro", Menlo, Consolas, monospace;
  --g-fontFamily-monospaceJa: "Osaka－等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace;
  --g-fontFamily: var(--g-fontFamily-sansEn);

  --g-fontSize-gt: 3rem;
  --g-fontSize-hg: 2rem;
  --g-fontSize-xl: 1.5rem;
  --g-fontSize-lg: 1.25rem;
  --g-fontSize-md: 1rem;
  --g-fontSize-sm: .875rem;
  --g-fontSize-xs: .75rem;
  --g-fontSize: var(--g-fontSize-md);

  --g-fontWeight-normal: 400;
  --g-fontWeight-bold: 700;
  --g-fontWeight-lighter: 200;


  --g-borderColor: var(--g-gray-30);
  --g-borderStyle: solid;
  --g-borderSize : 1px;
  --g-border: var(--g-borderSize) var(--g-borderStyle) var(--g-borderColor);


  --g-controls-color: var(--g-gray-40);
  --g-controls-borderSize: .0625rem;
  --g-controls-borderRadius: var(--g-borderRadius-md);
  --g-controls-height-sm: calc(1.5rem - var(--g-controls-borderSize));
  --g-controls-height-md: calc(2.25rem - var(--g-controls-borderSize));
  --g-controls-height-lg: calc(3rem - var(--g-controls-borderSize));
  --g-controls-height-xl: calc(3.75rem - var(--g-controls-borderSize));
  --g-controls-height: var(--g-controls-height-md);
  --g-controls-spaceV-xl: .75rem;
  --g-controls-spaceH-xl: 3rem;
  --g-controls-spaceV-lg: .5rem;
  --g-controls-spaceH-lg: 2rem;
  --g-controls-spaceV: .25rem;
  --g-controls-spaceH: 1rem;
  --g-controls-spaceV-sm: .125rem;
  --g-controls-spaceH-sm: .5rem;
}

@custom-media --g-viewport-sm (min-width: 40em);
@custom-media --g-viewport-md (min-width: 64em);
@custom-media --g-viewport-lg (min-width: 75em);
