/*
 * sircus-tools-border
 ================================================== */
/* Border */
.t-border         { border: var(--g-borderSize) var(--g-borderStyle); }
.t-borderTop      { border-top: var(--g-borderSize) var(--g-borderStyle); }
.t-borderLeft     { border-left: var(--g-borderSize) var(--g-borderStyle); }
.t-borderBottom   { border-bottom: var(--g-borderSize) var(--g-borderStyle); }
.t-borderRight    { border-right: var(--g-borderSize) var(--g-borderStyle); }

.t-border2x       { border: calc(var(--g-borderSize) * 2) var(--g-borderStyle); }
.t-borderTop2x    { border-top: calc(var(--g-borderSize) * 2) var(--g-borderStyle); }
.t-borderLeft2x   { border-left: calc(var(--g-borderSize) * 2) var(--g-borderStyle); }
.t-borderBottom2x { border-bottom: calc(var(--g-borderSize) * 2) var(--g-borderStyle); }
.t-borderRight2x  { border-right: calc(var(--g-borderSize) * 2) var(--g-borderStyle); }

.t-border3x       { border: calc(var(--g-borderSize) * 3) var(--g-borderStyle); }
.t-borderTop3x    { border-top: calc(var(--g-borderSize) * 3) var(--g-borderStyle); }
.t-borderLeft3x   { border-left: calc(var(--g-borderSize) * 3) var(--g-borderStyle); }
.t-borderBottom3x { border-bottom: calc(var(--g-borderSize) * 3) var(--g-borderStyle); }
.t-borderRight3x  { border-right: calc(var(--g-borderSize) * 3) var(--g-borderStyle); }

.t-border4x       { border: calc(var(--g-borderSize) * 4) var(--g-borderStyle); }
.t-borderTop4x    { border-top: calc(var(--g-borderSize) * 4) var(--g-borderStyle); }
.t-borderLeft4x   { border-left: calc(var(--g-borderSize) * 4) var(--g-borderStyle); }
.t-borderBottom4x { border-bottom: calc(var(--g-borderSize) * 4) var(--g-borderStyle); }
.t-borderRight4x  { border-right: calc(var(--g-borderSize) * 4) var(--g-borderStyle); }

.t-border0        { border: 0; }
.t-borderTop0     { border-top: 0; }
.t-borderLeft0    { border-left: 0; }
.t-borderBottom0  { border-bottom: 0; }
.t-borderRight0   { border-right: 0; }

/* Border radius */
.t-borderRadius        { border-radius: var(--g-borderRadius); }
.t-borderRadiusXs      { border-radius: var(--g-borderRadius-xs); }
.t-borderRadiusSm      { border-radius: var(--g-borderRadius-sm); }
.t-borderRadiusMd      { border-radius: var(--g-borderRadius-md); }
.t-borderRadiusLg      { border-radius: var(--g-borderRadius-lg); }
.t-borderRadiusXl      { border-radius: var(--g-borderRadius-xl); }
.t-borderRadiusCircle  { border-radius: 100%;}
.t-borderWhite          { border-color: #FFF; }
.t-borderBlack          { border-color: #000; }

.t-borderGray90         { border-color: var(--g-gray-90); }
.t-borderGray80         { border-color: var(--g-gray-80); }
.t-borderGray60         { border-color: var(--g-gray-60); }
.t-borderGray40         { border-color: var(--g-gray-40); }
.t-borderGray30         { border-color: var(--g-gray-30); }
.t-borderGray20         { border-color: var(--g-gray-20); }
.t-borderGray10         { border-color: var(--g-gray-10); }
.t-borderGray5          { border-color: var(--g-gray-5); }

.t-borderPrimary        { border-color: var(--g-primary); }
.t-borderPrimaryDark    { border-color: var(--g-primary-dark); }
.t-borderPrimaryLight   { border-color: var(--g-primary-light); }

.t-borderSecondary      { border-color: var(--g-secondary); }
.t-borderSecondaryDark  { border-color: var(--g-secondary-dark); }
.t-borderSecondaryLight { border-color: var(--g-secondary-light); }

.t-borderSuccess        { border-color: var(--g-success); }
.t-borderSuccessDark    { border-color: var(--g-success-dark); }
.t-borderSuccessLight   { border-color: var(--g-success-light); }

.t-borderNotice         { border-color: var(--g-notice); }
.t-borderNoticeDark     { border-color: var(--g-notice-dark); }
.t-borderNoticeLight    { border-color: var(--g-notice-light); }

.t-borderWarning        { border-color: var(--g-warning); }
.t-borderWarningDark    { border-color: var(--g-warning-dark); }
.t-borderWarningLight   { border-color: var(--g-warning-light); }

.t-borderError          { border-color: var(--g-error); }
.t-borderErrorDark      { border-color: var(--g-error-dark); }
.t-borderErrorLight     { border-color: var(--g-error-light); }

